<ion-header mode="md" class="ion-no-border">
  <ion-toolbar
    class="in-toolbar ios toolbar-title-default hydrated"
    color="mango"
  >
    <ion-title> <ion-icon name="lock-closed-outline"></ion-icon> Change Password </ion-title>
    <!--ion-buttons slot="end" class="buttons-last-slot sc-ion-buttons-ios-h sc-ion-buttons-ios-s ios hydrated">
      <ion-button (click)="closeModal()" routerDirection="back" class="ios button button-clear ion-activatable ion-focusable hydrated">Close</ion-button>
    </ion-buttons-->
    <ion-buttons
      slot="end"
      class="buttons-last-slot sc-ion-buttons-ios-h sc-ion-buttons-ios-s ios hydrated"
    >
      <ion-button (click)="closeModal()" color="chh-css-primary2"
        >Close&nbsp; <ion-icon name="close-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="my-backbround ion-no-padding">
    <ion-row>
      <ion-col>

        <ion-card mode="ios"   >
          <ion-list>
            <ion-item style="padding-top: 10px;">
              <div class="ion-text-wrap"><b>Old Password</b><br /></div>
            </ion-item>
            <ion-item>
              <ion-input type="password" id="input-password" placeholder = "Old Password" [type]="getType1()"  [(ngModel)]="OldPassword"></ion-input>
              <ion-icon  name="eye-off-outline" [name]="getName1()" item-right   class="rectangle1"></ion-icon>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item style="padding-top: 10px;">
              <div class="ion-text-wrap"><b>New Password</b><br /></div>
            </ion-item>
            <ion-item>
              <ion-input type="password" id="input-password" placeholder = "New Password" [type]="getType2()"  [(ngModel)]="NewPassword"></ion-input>
              <ion-icon  name="eye-off-outline" [name]="getName2()"item-right   class="rectangle2"></ion-icon>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item style="padding-top: 10px;">
              <div class="ion-text-wrap"><b>Confirm Password</b><br /></div>
            </ion-item>
            <ion-item>
              <ion-input type="password" id="input-password" placeholder = "Confirm Password" [type]="getType3()"  [(ngModel)]="ConfirmPassword"></ion-input>
              <ion-icon  name="eye-off-outline" [name]="getName3()" item-right   class="rectangle3"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-card>


       
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
