<ion-grid>
  <ion-row class="ion-no-margin ion-no-padding">
    <ion-col size="12"><b>
        <ion-skeleton-text animated></ion-skeleton-text>
      </b></ion-col>
    <ion-col size="6">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-col>
    <ion-col size="4">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-col>
    <ion-col size="2"><span class="pointHand"><b>
          <ion-skeleton-text animated></ion-skeleton-text>
        </b></span>
    </ion-col>
    <ion-col size="12"><b>
        <ion-skeleton-text animated></ion-skeleton-text>
      </b></ion-col>
    <ion-col size="6">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-col>
    <ion-col size="4">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-col>
    <ion-col size="2"><span class="pointHand"><b>
          <ion-skeleton-text animated></ion-skeleton-text>
        </b></span>
    </ion-col>
    <ion-col size="12"><b>
        <ion-skeleton-text animated></ion-skeleton-text>
      </b></ion-col>
    <ion-col size="6">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-col>
    <ion-col size="4">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-col>
    <ion-col size="2"><span class="pointHand"><b>
          <ion-skeleton-text animated></ion-skeleton-text>
        </b></span>
    </ion-col>
    <ion-col size="12"><b>
        <ion-skeleton-text animated></ion-skeleton-text>
      </b></ion-col>
    <ion-col size="6">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-col>
    <ion-col size="4">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-col>
    <ion-col size="2"><span class="pointHand"><b>
          <ion-skeleton-text animated></ion-skeleton-text>
        </b></span>
    </ion-col>
  </ion-row>
</ion-grid>