<ion-header mode="md" class="ion-no-border" *ngIf="!isDesktop">
  <div>
    <ion-toolbar color="mango">
      <ion-title>
        <ion-icon name="stats-chart-outline"></ion-icon> {{this.constants.MENU__VALUE__DASHBOARD}}
      </ion-title>
      <ion-buttons
       
        slot="end"
        class="buttons-last-slot sc-ion-buttons-ios-h sc-ion-buttons-ios-s ios hydrated"
      >
      <ion-button
      (click)="settings()"
        >&nbsp; <ion-icon name="settings-outline" class="icon–big"></ion-icon>
      </ion-button>
    </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" mode="ios">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid class="ion-no-padding">
    <ion-row class="custom-padding">
      <ion-col size-md="8" offset-md="2" size-lg="6" offset-lg="3" class="custom-border-bottom ion-no-border ">

 
        <ion-grid>
          
          <ion-card  mode="ios"  class="pointer">
           <!-- Total ADMISSION -->
          <ion-row>
            
            <ion-col size-xs="12" class="ion-text-center">
              <h3 style="color:black">Total Admissions : 
                <b *ngIf="!totalAdmissionsV33">{{totalAdmissions}}</b>
                <ion-spinner name="crescent" *ngIf="totalAdmissionsV33"></ion-spinner>
              </h3>
            </ion-col>





            
            <ion-col size-xs="6" >
                <ion-item id="ion-item-ac" lines="none" routerLink='/' routerDirection="back">
                  <ion-avatar slot="start">
                    <chh-app-text-avatar [text]='tTC' [color]="chhgreen" [textColor]="chhtextcolor"></chh-app-text-avatar>
                  </ion-avatar>
                  
                  <ion-label>
                    <h2>
                      <b *ngIf="!totalAdmissionsV33">{{totalAdmissionsC}}</b>
                      <ion-spinner name="crescent" *ngIf="totalAdmissionsV33"></ion-spinner>
                    </h2>

                  </ion-label>
                </ion-item>
            </ion-col>


            <ion-col size-xs="6" >
                <ion-item id="ion-item-dn" lines="none" routerLink='/' routerDirection="back">
                  <ion-avatar slot="start">
                    <chh-app-text-avatar [text]='tTM' [color]="chhred" [textColor]="chhtextcolor"></chh-app-text-avatar>
                  </ion-avatar>
                  <ion-label>
                    <h2>
                        <b *ngIf="!totalAdmissionsV33">{{totalAdmissionsM}}</b>
                        <ion-spinner name="crescent" *ngIf="totalAdmissionsV33"></ion-spinner>
                    </h2>

                  </ion-label>
                </ion-item>
            </ion-col>

          </ion-row>


      
              <ion-item class="ion-no-padding ion-no-margin" ></ion-item>



                        <!-- NEW ADMISSION -->
          <ion-row>
            <ion-col size-xs="12" class="ion-text-center">
              <h3 style="color:black">
                New Admissions Today : 
                <b *ngIf="!totalAdmissionsTodayV33">{{totalAdmissionstoday}}</b>
                <ion-spinner name="crescent" *ngIf="totalAdmissionsTodayV33"></ion-spinner>
              </h3>
            </ion-col>
            <ion-col size-xs="6" >
                <ion-item id="ion-item-ac" lines="none" routerLink='/' routerDirection="back">
                  <ion-avatar slot="start">
                    <chh-app-text-avatar [text]='tTC' [color]="chhgreen" [textColor]="chhtextcolor"></chh-app-text-avatar>
                  </ion-avatar>
                  
                  <ion-label>
                    <h2>
                      <b *ngIf="!totalAdmissionsTodayV33">{{totalAdmissionstodayC}}</b>
                      <ion-spinner name="crescent" *ngIf="totalAdmissionsTodayV33"></ion-spinner>
                    </h2>

                  </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size-xs="6" >
                <ion-item id="ion-item-dn" lines="none" routerLink='/' routerDirection="back">
                  <ion-avatar slot="start">
                    <chh-app-text-avatar [text]='tTM' [color]="chhred" [textColor]="chhtextcolor"></chh-app-text-avatar>
                  </ion-avatar>
                  <ion-label>
                    <h2>
                      <b *ngIf="!totalAdmissionsTodayV33">{{totalAdmissionstodayM}}</b>
                      <ion-spinner name="crescent" *ngIf="totalAdmissionsTodayV33"></ion-spinner>
                    </h2>
                    <!--p class="ion-text-wrap" >{{this.functionsService.convertToCamelCase(this.constants.ADMISSION_STATUS__VALUE__FOR_DISCHARGE)}}</p-->
                  </ion-label>
                </ion-item>
            </ion-col>

          </ion-row>
          <ion-item class="ion-no-padding ion-no-margin" ></ion-item>
            <!-- FOR DISCHARGE -->
          <ion-row>
            <ion-col size-xs="12" class="ion-text-center">
              <h3 style="color:black">For Discharge : 
                <b *ngIf="!forDischargeV33">{{forDischarge}}</b>
                <ion-spinner name="crescent" *ngIf="forDischargeV33"></ion-spinner>
              </h3>
            </ion-col>
            <ion-col size-xs="6" >
                <ion-item id="ion-item-ac" lines="none" routerLink='/' routerDirection="back">
                  <ion-avatar slot="start">
                    <chh-app-text-avatar [text]='tTC' [color]="chhgreen" [textColor]="chhtextcolor"></chh-app-text-avatar>
                  </ion-avatar>
                  
                  <ion-label>
                    <h2>
                      <b *ngIf="!forDischargeV33">{{forDischargeC}}</b>
                      <ion-spinner name="crescent" *ngIf="forDischargeV33"></ion-spinner>
                    </h2>
                    <!--p>{{this.functionsService.convertToCamelCase(this.constants.ADMISSION_STATUS__VALUE__ADMITTED)}}</p-->
                  </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size-xs="6" >
                <ion-item id="ion-item-dn" lines="none" routerLink='/' routerDirection="back">
                  <ion-avatar slot="start">
                    <chh-app-text-avatar [text]='tTM' [color]="chhred" [textColor]="chhtextcolor"></chh-app-text-avatar>
                  </ion-avatar>
                  <ion-label>
                    <h2>
                      <b *ngIf="!forDischargeV33">{{forDischargeM}}</b>
                      <ion-spinner name="crescent" *ngIf="forDischargeV33"></ion-spinner>
                    </h2>
                    <!--p class="ion-text-wrap" >{{this.functionsService.convertToCamelCase(this.constants.ADMISSION_STATUS__VALUE__FOR_DISCHARGE)}}</p-->
                  </ion-label>
                </ion-item>
            </ion-col>

          </ion-row>
          <ion-item class="ion-no-padding ion-no-margin" lines="none"></ion-item>
          </ion-card>



          <ion-card   mode="ios"  class="pointer">
            <div id="PieChart"></div>
          </ion-card>
          <!--ion-card   >
            <div id="TreeMap"></div>
          </ion-card>
          <ion-card   >
            <div id="TreeMap1"></div>
          </ion-card-->    
          
          
          <ion-card   >
         <!-- Total ADMISSION -->
        

          <!--app-chh-app-executive-dept
            [name]="chhtextcolor">

          </app-chh-app-executive-dept-->
          </ion-card>      
        </ion-grid>



      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>