<!--span
  style="font-size: 14px"
  [ngClass]="{ my_class: approvedCounter != counter }"
  >(Approved <b>{{ approvedCounter }}</b> of <b>{{ counter }})</b></span
><br />-->
<br />
<span
  ><ion-icon name="information-circle-outline"></ion-icon> Approved Progress
  Notes : <span *ngIf="!isLoading">{{ approvedCounter }}</span
  ><span *ngIf="isLoading"><ion-spinner></ion-spinner></span></span
><br />
<span
  ><ion-icon name="information-circle-outline"></ion-icon> Progress Notes for
  Approval :
  <span [ngClass]="counter - approvedCounter >= 1 ? 'my_class' : 'my_class2'"
    ><span *ngIf="!isLoading">{{ counter - approvedCounter }}</span
    ><span *ngIf="isLoading"><ion-spinner></ion-spinner></span> </span></span
><br />
<span
  ><ion-icon name="information-circle-outline"></ion-icon> Total Progress Notes:
  <span *ngIf="!isLoading">{{ totalProgressNotes }}</span
  ><span *ngIf="isLoading"><ion-spinner></ion-spinner></span
></span>
