<!--span
  style="font-size: 14px"
  [ngClass]="{ my_class: approvedCounter != counter }"
  >(Approved <b>{{ approvedCounter }}</b> of <b>{{ counter }})</b></span
><br />-->
<br />
<span
  ><ion-icon name="information-circle-outline"></ion-icon> Approved Progress
  Notes : {{ approvedCounter }} </span
><br />
<span
  ><ion-icon name="information-circle-outline"></ion-icon>
  Progress Notes for Approval :
  <span [ngClass]="counter > 1 ? 'my_class' : 'my_class2'">{{
    counter - approvedCounter
  }}</span></span
><br />
<span
  ><ion-icon name="information-circle-outline"></ion-icon> Total Progress Notes:
  {{ totalProgressNotes }}</span
>
