small{
    padding: 0 0.25rem
  }
  input {
   margin-bottom:1rem; 
  }
  .errors{
    color: #D12027;
  }
  

.text-danger{
  color: #D12027;
}
.text-success{
  color: #275228;
}

ion-item {
  --min-height: 16px;
}

.font-size15{
  font-size: 15px !important;
}