<ion-header mode="md" class="ion-no-border">
  <ion-toolbar
    class="in-toolbar ios toolbar-title-default hydrated"
    color="mango"
  >
    <ion-title> <ion-icon name="lock-closed-outline"></ion-icon> Change Password </ion-title>
    <!--ion-buttons slot="end" class="buttons-last-slot sc-ion-buttons-ios-h sc-ion-buttons-ios-s ios hydrated">
      <ion-button (click)="closeModal()" routerDirection="back" class="ios button button-clear ion-activatable ion-focusable hydrated">Close</ion-button>
    </ion-buttons-->
    <ion-buttons
      slot="end"
      class="buttons-last-slot sc-ion-buttons-ios-h sc-ion-buttons-ios-s ios hydrated"
    >
      <ion-button (click)="closeModal()" color="chh-css-primary2"
        >Close&nbsp; <ion-icon name="close-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="my-backbround ion-no-padding">
    <ion-row>
      <ion-col>

        <ion-card mode="ios"   >










          <ion-list>
            <ion-item lines="none"  style="padding-top: 10px;">
              <div class="ion-text-wrap" #psWord0 id="pWord0"><b>Old Password</b><i>{{errMessage}}</i><br /></div>
            </ion-item>
            <ion-item>
              <ion-input type="password" id="input-password" placeholder = "Old Password" [type]="getType1()"  [(ngModel)]="OldPassword"></ion-input>
              <ion-icon  name="eye-off-outline" [name]="getName1()" item-right   class="rectangle1"></ion-icon>
            </ion-item>
          </ion-list>



          <ion-list> 
            <div [formGroup]="frmSignup" >

              <ion-item lines="none" >
                <ion-label  for="password" [ngClass]="frmSignup.controls['password'].invalid ? 'text-danger' : ''" class=" pWord" #psWord1 id="pWord1" ><b >New Password</b> <i>{{errMessage}}</i></ion-label><br />
              </ion-item>
              <ion-item lines="none">
                <ion-input id="password" formControlName="password" type="password" class="form-control" [ngClass]="frmSignup.controls['password'].invalid ? 'is-invalid' : ''" [type]="getType2()"  [(ngModel)]="NewPassword" placeholder = "New Password"></ion-input>
                <ion-icon  name="eye-off-outline" [name]="getName2()"item-right   class="rectangle2"></ion-icon>
              </ion-item>
              <ion-list>
              <ion-item  lines="none" class="ion-text-wrap fontSize-14" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                <ion-icon name="{{ frmSignup.controls['password'].hasError('required') ||
                frmSignup.controls['password'].hasError('minlength') ? 'close-outline' :
                'checkmark-outline' }}"></ion-icon>
                Must be at least 8 characters!<br />
              </ion-item>

              <ion-item   lines="none" class="ion-text-wrap fontSize-14"  [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                <ion-icon name="{{ frmSignup.controls['password'].hasError('required') ||
                frmSignup.controls['password'].hasError('hasNumber') ? 'close-outline' :
                'checkmark-outline' }}"></ion-icon>
                Must contain at least 1 number!<br />
              </ion-item>



              <ion-item lines="none" class="ion-text-wrap fontSize-14"  [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                <ion-icon name="{{ frmSignup.controls['password'].hasError('required') ||
                frmSignup.controls['password'].hasError('hasCapitalCase') ?  'close-outline' :
                'checkmark-outline' }}"></ion-icon>
                Must contain at least 1 in Capital Case!<br />
              </ion-item>


              <ion-item  lines="none"  class="ion-text-wrap fontSize-14"  [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                <ion-icon name="{{ frmSignup.controls['password'].hasError('required') ||
                frmSignup.controls['password'].hasError('hasSmallCase') ?   'close-outline' :
                'checkmark-outline' }}"></ion-icon>
                Must contain at least 1 Letter in Small Case!<br />
              </ion-item>


              <ion-item  class="ion-text-wrap fontSize-14"  [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                <ion-icon name="{{ frmSignup.controls['password'].hasError('required') ||
                frmSignup.controls['password'].hasError('hasSpecialCharacters') ?  'close-outline' :
                'checkmark-outline' }}"></ion-icon>
                Must contain at least 1 Special Character!<br />
              </ion-item>

              </ion-list>






            <div class="">







                <ion-item lines="none" >
                  <ion-label  for="confirmPassword" [ngClass]="frmSignup.controls['confirmPassword'].invalid ? 'text-danger' : ''" class=" pWord" #psWord1 id="pWord2" ><b>Confirm Password</b> <i>{{errMessage}}</i></ion-label><br />
                </ion-item>
                <ion-item lines="none">
                  <ion-input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control"
                  [ngClass]="frmSignup.controls['confirmPassword'].invalid ? 'is-invalid' : ''"[type]="getType3()"  [(ngModel)]="ConfirmPassword" placeholder = "Confirm Password"></ion-input>
                  <ion-icon  name="eye-off-outline" [name]="getName3()"item-right   class="rectangle3"></ion-icon>
                </ion-item>

            </div>
  
          </div>

          </ion-list>



          <ion-grid>
            <ion-row>
              <ion-col size-xs="6">
                <ion-button
                  expand="block"
                  shape="round"
                  id="btn-confirm"
                  (click)="save()"
                  color="mango"
                  [disabled]="frmSignup.invalid"
                >
                  SAVE
                </ion-button>
              </ion-col>
              <ion-col size-xs="6">
                <ion-button
                  expand="block"
                  shape="round"
                  id="btn-confirm"
                  (click)="closeModal()"
                  color="danger"
                >
                  CANCEL
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>























       
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
