@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Inter/Inter.eot);
  src: local('Inter'), url(../fonts/Inter/Inter.eot?#iefix) format('embedded-opentype');
}

