<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="4" offset-md="4">
        <!-- <div style="height: 100%; display: flex; align-items: center; justify-content: center;"> -->
          <ion-card mode="ios">
              <ion-card-content padding="true">  
                <div class="center">
                  <app-logo></app-logo>
                  <h1>Hello, Doc!</h1>
                </div>
                  <ion-item>
                      <ion-label position="floating">Username</ion-label>
                      <ion-input type="text" id="input-username" [(ngModel)]="postData.username"></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-label position="floating">Password</ion-label>
                      <ion-input type="password" id="input-password" [(ngModel)]="postData.password"></ion-input>
                  </ion-item>
                  <ion-list>
                    <!--ion-radio-group value="vm"  [(ngModel)]='radio'>
                      <ion-list-header>
                        <ion-label>Login Via</ion-label>
                      </ion-list-header>
                  
                      <ion-item>
                        <ion-label>Sir Kris's VM Server</ion-label>
                        <ion-radio slot="start" value="vm"></ion-radio>
                      </ion-item>
                      <ion-item>
                        <ion-label>Appointments(desktop mode only) <br /><a href="https://chrome.google.com/webstore/detail/cors-unblock/lfhmikememgdcahcdlaciloancbhjino?hl=en" target="_BLANK">(may need CORS unblock)</a>
                        </ion-label>
                   
                        <ion-radio slot="start" value="as" ></ion-radio>
                      </ion-item>

                    </ion-radio-group-->
                  </ion-list>
                  <div class="ion-margin-vertical ion-text-right">
                      <ion-button expand="block" id="btn-confirm" (click)="loginAction() " color="mango">
                        Login
                      </ion-button>
                  </div>
              </ion-card-content>
          </ion-card>
        <!-- </div> -->
      </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <p> v0.6.1</p>
  </ion-toolbar>
</ion-footer>