<ion-header mode="md" class="ion-no-border">
  <ion-toolbar color="mango">
    <ion-title size="small">{{ExamDetails.Test_Name}}</ion-title>

    
    <ion-buttons
      slot="end"
      class="buttons-last-slot sc-ion-buttons-ios-h sc-ion-buttons-ios-s ios hydrated"
    >
      <ion-button (click)="this.functionsService.closeModal(this._modalController)" color="chh-css-primary2"
        >Close&nbsp; <ion-icon name="close-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <!-- HEADER MOBILE-->




  <ion-card mode="ios" >
    <div *ngFor="let x of Header">
    <ion-item>
      <ion-avatar slot="start">
        <chh-app-text-avatar [text]="x.Last_Name" [color]="" class="ion-padding-vertical"></chh-app-text-avatar>
      </ion-avatar>
      <ion-label  class="ion-text-wrap ion-padding-vertical">
        <h2 >
          <b>{{x.Last_Name}}, {{x.First_Name}} {{x.Middle_Name}}</b>
        </h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row >
          <ion-col size="4" class="border-bottom ">Location</ion-col>
          <ion-col size="8" class="border-bottom  " >{{hospitalSite}}</ion-col>

          <ion-col size="4" class="border-bottom ">Room</ion-col>
          <ion-col size="8" class="border-bottom  " >{{x.RoomNo}}</ion-col>

          <ion-col size="4" class="border-bottom ">Gender</ion-col>
          <ion-col size="8" class="border-bottom  " >{{x.Gender}}</ion-col>

          <ion-col size="4" class="border-bottom ">Birthdate</ion-col>
          <ion-col size="8" class="border-bottom   " >{{x.Birthdate}}</ion-col>

          <ion-col size="4" class="border-bottom ">Date Performed</ion-col>
          <ion-col size="8" class="border-bottom " >{{x.Date_Performed}}</ion-col>

          <ion-col size="4" class="border-bottom ">Address</ion-col>
          <ion-col size="8" class="border-bottom " >{{x.Address}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </div>
 <ion-item><h2>Result</h2></ion-item>
  
  <app-chh-app-test-chemistry 
    [examDetails]="ExamDetails"
    [site]="hospitalSite"
    *ngIf="ExamDetails.Exam == 'Chemistry'"></app-chh-app-test-chemistry> 

    <app-chh-app-test-fecalysis 
    [examDetails]="ExamDetails"
    [site]="hospitalSite"
    *ngIf="ExamDetails.Exam == 'Fecalysis'"></app-chh-app-test-fecalysis> 

    <app-chh-app-test-serology
    [examDetails]="ExamDetails"
    [site]="hospitalSite"
    *ngIf="ExamDetails.Exam == 'Serology'"></app-chh-app-test-serology>    



    <app-chh-app-test-cbc
    [examDetails]="ExamDetails"
    [site]="hospitalSite"
    *ngIf="ExamDetails.Exam == 'Hematology' && ExamDetails.ExamType == 'CBC'"></app-chh-app-test-cbc>    
    <!--ion-footer>
      <ion-row>
        <ion-col center text-center>
          <button>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>1.5k Likes</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="time"></ion-icon>
            <div>11h ago</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-footer-->
  <br />
  </ion-card>












</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title>{{ExamDetails.Exam}}</ion-title>
  </ion-toolbar>
</ion-footer>
