@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

.custom-font {
    font-family: 'Inconsolata', monospace;
}
hr {
    border-top: 1px solid rgba(0, 0, 0, .5) !important;
    visibility: visible !important;
}