<ion-header mode="md" class="ion-no-border">
  <div *ngIf="!isDesktop">
    <ion-toolbar color="mango">
      <ion-title>
        <ion-icon name="calendar-outline"></ion-icon> {{this.constants.MENU__VALUE__APPOINTMENTS}}
      </ion-title>
    </ion-toolbar>
  </div>
  <ion-grid class="ion-no-padding chh-darkmode">
    <ion-row>
      <!--ion-col size-md="6" offset-md="3" size-sm="6"  -->
      <ion-col
        size-md="8"
        offset-md="2"
        size-lg="6"
        offset-lg="3"
        class="custom-border-bottom chh-darkmode"
      >
        <chh-app-hospital
          (hospital)="locationAction($event)"
          [readonlyComp]="buttonDisablerHospSelector"
          [Activator]="hospitalActivator"
        ></chh-app-hospital>
        <chh-app-date-selector
          [passedDate]="selectedDate"
          [header-data]="headerData"
          (dateSelector)="dateChanged($event)"
          [readonlyComp]="buttonDisablerDateSelector"
        ></chh-app-date-selector>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content id="headerx">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" mode="ios" *ngIf="isDesktop">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="mangolight">
    <ion-fab-button (click)="showaddmodal()" color="mangolight">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="spin" [hidden]="ishidden">
    <ion-spinner class="spinner-class"></ion-spinner>
  </div>
  <ion-grid class="ion-no-padding" id="headery">
    <ion-row>
      <ion-col size-md="8" offset-md="2" size-lg="4" offset-lg="4">
        <!-- <ng-container> -->
          <div *ngFor="let x of jsonObj5">
            <div *ngFor="let y of x.data">
              <ion-card
                (click)="presentActionSheet(y.appt_id,y.status,y.patientName)"
                mode="ios"
                class="pointer"
              >
                <ion-item lines="none">
                  <ion-avatar slot="start">
                    <chh-app-text-avatar
                      [text]="y.patientName"
                      [color]=""
                    ></chh-app-text-avatar>
                  </ion-avatar>
                  <ion-label style="margin-top: -5px;">
                    <ion-item class="ion-no-padding">
                      <h2 class="ion-text-wrap" style="padding-top: 20px;">
                        {{y.patientName}}
                      </h2>
                    </ion-item>
                    <ion-row class="ion-no-padding" lines="none">
                      <!-- Default Progressbar with 50 percent -->

                      <div>
                        <p>
                          <ion-icon
                            name="time-outline"
                            slot="start"
                            style="padding-top: 5px !important;"
                          ></ion-icon>
                          {{y.time}}
                        </p>
                        <ion-badge
                          color="success"
                          slot="end"
                          *ngIf="y.status == this.constants.APPOINTMENT_STATUS__VALUE__COMPLETE"
                          >Completed</ion-badge
                        >
                        <ion-badge
                          color="primary"
                          *ngIf="y.status == this.constants.APPOINTMENT_STATUS__VALUE__WAITING"
                          slot="end"
                          >{{y.status}}</ion-badge
                        >
                        <ion-badge
                          color="secondary"
                          *ngIf="y.status == this.constants.APPOINTMENT_STATUS__VALUE__SERVING"
                          slot="end"
                          >{{y.status}}</ion-badge
                        >
                        <ion-badge
                          color="warning"
                          *ngIf="y.status == this.constants.APPOINTMENT_STATUS__VALUE__RESERVED"
                          slot="end"
                          >{{y.status}}</ion-badge
                        >
                      </div>

                      <br />
                    </ion-row>
                  </ion-label>
                </ion-item>
              </ion-card>
            </div>
          </div>
        <!-- </ng-container> -->

        <!-- Skeleton  -->
        <!-- <ng-container>
          <div
            *ngIf="!objecthandler && !isFetchDone else noDataAvailable"
            class="custom-skeleton"
          >
            <ion-card mode="ios">
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label style="margin-top: -5px;">
                  <ion-item
                    slot="start"
                    lines="none"
                    class="ion-no-padding"
                    style="padding-bottom: 5px;"
                  >
                    <ion-skeleton-text
                      animated
                      style="width: 60%;"
                    ></ion-skeleton-text>
                  </ion-item>
                  <ion-skeleton-text
                    animated
                    style="width: 40%;"
                  ></ion-skeleton-text>
                  <ion-row>
                    <ion-skeleton-text
                      animated
                      style="width: 30%;"
                    ></ion-skeleton-text>
                  </ion-row>
                </ion-label>
              </ion-item>
            </ion-card>

            <ion-card mode="ios">
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label style="margin-top: -5px;">
                  <ion-item
                    slot="start"
                    lines="none"
                    class="ion-no-padding"
                    style="padding-bottom: 5px;"
                  >
                    <ion-skeleton-text
                      animated
                      style="width: 60%;"
                    ></ion-skeleton-text>
                  </ion-item>
                  <ion-skeleton-text
                    animated
                    style="width: 40%;"
                  ></ion-skeleton-text>
                  <ion-row>
                    <ion-skeleton-text
                      animated
                      style="width: 30%;"
                    ></ion-skeleton-text>
                  </ion-row>
                </ion-label>
              </ion-item>
            </ion-card>

            <ion-card mode="ios">
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label style="margin-top: -5px;">
                  <ion-item
                    slot="start"
                    lines="none"
                    class="ion-no-padding"
                    style="padding-bottom: 5px;"
                  >
                    <ion-skeleton-text
                      animated
                      style="width: 60%;"
                    ></ion-skeleton-text>
                  </ion-item>
                  <ion-skeleton-text
                    animated
                    style="width: 40%;"
                  ></ion-skeleton-text>
                  <ion-row>
                    <ion-skeleton-text
                      animated
                      style="width: 30%;"
                    ></ion-skeleton-text>
                  </ion-row>
                </ion-label>
              </ion-item>
            </ion-card>

            <ion-card mode="ios">
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label style="margin-top: -5px;">
                  <ion-item
                    slot="start"
                    lines="none"
                    class="ion-no-padding"
                    style="padding-bottom: 5px;"
                  >
                    <ion-skeleton-text
                      animated
                      style="width: 60%;"
                    ></ion-skeleton-text>
                  </ion-item>
                  <ion-skeleton-text
                    animated
                    style="width: 40%;"
                  ></ion-skeleton-text>
                  <ion-row>
                    <ion-skeleton-text
                      animated
                      style="width: 30%;"
                    ></ion-skeleton-text>
                  </ion-row>
                </ion-label>
              </ion-item>
            </ion-card>

            <ion-card mode="ios">
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label style="margin-top: -5px;">
                  <ion-item
                    slot="start"
                    lines="none"
                    class="ion-no-padding"
                    style="padding-bottom: 5px;"
                  >
                    <ion-skeleton-text
                      animated
                      style="width: 60%;"
                    ></ion-skeleton-text>
                  </ion-item>
                  <ion-skeleton-text
                    animated
                    style="width: 40%;"
                  ></ion-skeleton-text>
                  <ion-row>
                    <ion-skeleton-text
                      animated
                      style="width: 30%;"
                    ></ion-skeleton-text>
                  </ion-row>
                </ion-label>
              </ion-item>
            </ion-card>
          </div>
        </ng-container>

        <ng-template #noDataAvailable>
          <div *ngIf="!objecthandler && isFetchDone">
            <ion-list-header slot="center" mode="ios">
              No Data Available
            </ion-list-header>
          </div>
        </ng-template> -->

        <div *ngIf="!objecthandler">
          <ion-list-header slot="center" mode="ios">
            {{this.messages.NO_DATA_AVAILABLE}}
          </ion-list-header>
          <img src="assets/img/3973477-no-data-concept-illustration-custom.png">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
