<ion-item>
  <ion-grid>
    <ion-row *ngIf="isDesktop">
      <ion-col size="12" >
        <h1>{{examDetails.Exam}}</h1>
        <h4>{{examDetails.Test_Name}}</h4>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>


<ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="12" >
        <h1>COMPLETE BLOOD COUNT </h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
<div *ngFor="let x of resultDetailsCBC">
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <b>{{x.Exam_Description}}</b>
        </ion-col>
        <ion-col size="7" >
          Result : {{x.Result}} {{x.Units}}<br />
          <div *ngIf="x.High_Low == 'H' || x.High_Low == 'L'">
            Remarks : {{x.High_Low}} 
            <ion-icon name="arrow-up-outline" style="color:red" *ngIf="x.High_Low == 'H'"></ion-icon>
            <ion-icon name="arrow-down-outline" style="color:blue" *ngIf="x.High_Low == 'L'"></ion-icon>
           </div>
        </ion-col>
        <ion-col size="5" >
          Normal Range <br />{{x.Normal_Range}}
        </ion-col>
      </ion-row>
      </ion-grid>
  </ion-item> 
</div>


<ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="12" >
        <h1>Blood Indices</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
<div *ngFor="let x of resultDetailsBIX">
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <b>{{x.Exam_Description}}</b>
        </ion-col>
        <ion-col size="7" >
          Result : {{x.Result}} {{x.Units}}<br />
          <div *ngIf="x.High_Low == 'H' || x.High_Low == 'L'">
            Remarks : {{x.High_Low}} 
            <ion-icon name="arrow-up-outline" style="color:red" *ngIf="x.High_Low == 'H'"></ion-icon>
            <ion-icon name="arrow-down-outline" style="color:blue" *ngIf="x.High_Low == 'L'"></ion-icon>
           </div>
        </ion-col>
        <ion-col size="5" >
          Normal Range <br />{{x.Normal_Range}}
        </ion-col>
      </ion-row>
      </ion-grid>
  </ion-item> 
</div>


<ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="12" >
        <h1>Relative Differential Count</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
<div *ngFor="let x of resultDetailsRDC">
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <b>{{x.Exam_Description}}</b>
        </ion-col>
        <ion-col size="7" >
          Result : {{x.Result}} {{x.Units}}<br />
          <div *ngIf="x.High_Low == 'H' || x.High_Low == 'L'">
            Remarks : {{x.High_Low}} 
            <ion-icon name="arrow-up-outline" style="color:red" *ngIf="x.High_Low == 'H'"></ion-icon>
            <ion-icon name="arrow-down-outline" style="color:blue" *ngIf="x.High_Low == 'L'"></ion-icon>
           </div>
        </ion-col>
        <ion-col size="5" >
          Normal Range <br />{{x.Normal_Range}}
        </ion-col>
      </ion-row>
      </ion-grid>
  </ion-item> 
</div>


<ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="12" >
        <h1>Absolute Differential Count</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
<div *ngFor="let x of resultDetailsADC">
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <b>{{x.Exam_Description}}</b>
        </ion-col>
        <ion-col size="7" >
          Result : {{x.Result}} {{x.Units}}<br />
          <div *ngIf="x.High_Low == 'H' || x.High_Low == 'L'">
            Remarks : {{x.High_Low}} 
            <ion-icon name="arrow-up-outline" style="color:red" *ngIf="x.High_Low == 'H'"></ion-icon>
            <ion-icon name="arrow-down-outline" style="color:blue" *ngIf="x.High_Low == 'L'"></ion-icon>
           </div>
        </ion-col>
        <ion-col size="5" >
          Normal Range <br />{{x.Normal_Range}}
        </ion-col>
      </ion-row>
      </ion-grid>
  </ion-item> 
</div>