<ion-card-content id="asdasd{{counter}}" class="" style="padding-top:0; white-space: pre-wrap;" #target>
  <div *ngIf="truncating">
    <ion-text class="custom-font" [innerHtml]="notesmall"></ion-text>
    <br />
    <button ion-button color="light" (click)="process()" *ngIf="noteslength">show more</button>
  </div>
  <div *ngIf="!truncating">
    <ion-text class="custom-font" [innerHtml]="notes"></ion-text>
    <br />
    <button ion-button color="light" (click)="process();" *ngIf="noteslength">show less</button>
  </div>
</ion-card-content>