.active-link {
    --color: #528d53;
    border-bottom: 3px solid #275228;
    font-weight: bold;
  }
  .link {
    --color: #275228;
  }

  .active{
    --color: #528d53;
    border-bottom: 2px solid #009444;
    font-weight: bold; 
  }