// #onboardingslide1 {
//     //width: 30%;
//     margin: 0 auto;
// }

ion-slide {
    padding: 5%;
    display: block;
    img {
        width: 300px;
    }
    h2 {
        font-size: 36px;
        font-weight: bold;
    }
}

/* add start */

ion-slides {
    /*--bullet-background: green;*/
    --bullet-background-active: #009444;
    
//     .swiper-pagination {
//     bottom: 66% !important;
//  }
}

// .swiper-pagination {
//     top: 3px !important;    
// }

