<ion-header mode="md" class="ion-no-border">
  <ion-toolbar color="mango">
    <span
      class="padding-left-10"
      routerLink="/menu/"
      routerDirection="backward"
      color="chh-css-primary2">
      <ion-icon name="arrow-back-outline" class="my-icon vcenter"></ion-icon>
    </span>
    <span class="padding-left-30 font-weight-500 font-size-20">
      &nbsp;&nbsp;Progress Notes Patient List
    </span>
  </ion-toolbar>
  <div>
    <!--ion-toolbar [color]="isDesktop?'':'mango'" *ngIf="!isDesktop">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size-md="8" offset-md="2" size-lg="4" offset-lg="4">
            <span
              class="padding-left-10"
              routerLink="/menu/"
              routerDirection="backward"
              color="chh-css-primary2">
              <ion-icon
                name="arrow-back-outline"
                class="my-icon vcenter pointer"></ion-icon>
            </span>
            <span class="padding-left-30 font-weight-500 font-size-20">
              &nbsp;&nbsp;Progress Notes
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar-->
    <!--ion-toolbar [color]="isDesktop?'':'mango'">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size-md="8" offset-md="2" size-lg="4" offset-lg="4">
            <span
              class="padding-left-10"
              routerLink="/menu/"
              routerDirection="backward"
              color="chh-css-primary2">
              <ion-icon
                name="arrow-back-outline"
                class="my-icon vcenter pointer"></ion-icon>
            </span>
            <span class="padding-left-30 font-weight-500 fontSize-16">
              &nbsp;&nbsp;Progress Notes
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar-->
    <ion-grid class="ion-no-padding"> </ion-grid>
    <ion-grid class="ion-no-padding chh-darkmode">
      <ion-row>
        <ion-col
          size-md="8"
          offset-md="2"
          size-lg="4"
          offset-lg="4"
          class="custom-border-bottom ion-no-border custom-padding">
          <!--chh-app-hospital-selector-with-all-and-filter
            (hospital)="locationAction($event)">
          </chh-app-hospital-selector-with-all-and-filter-->
          <chh-app-hospital
            (hospital)="locationAction($event)"
            [Activator]="site"
            readonlyComp="false"></chh-app-hospital>
        </ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col
          size-md="8"
          offset-md="2"
          size-lg="4"
          offset-lg="4"
          class="ion-no-border">
          <ion-searchbar
            [(ngModel)]="searchBar"
            (ionChange)="filterList()"
            placeholder="Search Name or Room Number"
            mode="ios"></ion-searchbar>
        </ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col
          size-md="8"
          offset-md="2"
          size-lg="4"
          offset-lg="4"
          class="ion-no-border">
          <ion-text
            color="mango"
            style="float: right; padding-right: 20px"
            (click)="up();"
            ><ion-icon name="arrow-down-outline" size="medium"></ion-icon
          ></ion-text>
          <ion-text
            color="mango"
            style="float: right; padding-right: 20px"
            (click)="down();"
            ><ion-icon name="arrow-up-outline" size="medium"></ion-icon
          ></ion-text>
          <ion-text color="mango" style="float: right; padding-right: 20px"
            >Floor Assignment :
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row class=""></ion-row>
    </ion-grid>
  </div>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" mode="ios">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <!--button (click)="generatePDF()">Generate PDF</button-->
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-md="8" offset-md="2" size-lg="4" offset-lg="4">
        <ng-container *ngIf="isUporDown">
          <div class="ion-padding custom-skeleton">
            <!-- Skeleton  -->
            <ion-card mode="ios">
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label style="margin-top: -5px">
                  <ion-item
                    slot="start"
                    lines="none"
                    class="ion-no-padding"
                    style="padding-bottom: 5px">
                    <ion-skeleton-text
                      animated
                      style="width: 100%"></ion-skeleton-text>
                  </ion-item>
                  <ion-skeleton-text
                    animated
                    style="width: 60%"></ion-skeleton-text>
                  <ion-row>
                    <ion-skeleton-text
                      animated
                      style="width: 40%"></ion-skeleton-text>
                  </ion-row>
                </ion-label>
              </ion-item>
            </ion-card>

            <ion-card mode="ios">
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label style="margin-top: -5px">
                  <ion-item
                    slot="start"
                    lines="none"
                    class="ion-no-padding"
                    style="padding-bottom: 5px">
                    <ion-skeleton-text
                      animated
                      style="width: 100%"></ion-skeleton-text>
                  </ion-item>
                  <ion-skeleton-text
                    animated
                    style="width: 60%"></ion-skeleton-text>
                  <ion-row>
                    <ion-skeleton-text
                      animated
                      style="width: 40%"></ion-skeleton-text>
                  </ion-row>
                </ion-label>
              </ion-item>
            </ion-card>

            <ion-card mode="ios">
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label style="margin-top: -5px">
                  <ion-item
                    slot="start"
                    lines="none"
                    class="ion-no-padding"
                    style="padding-bottom: 5px">
                    <ion-skeleton-text
                      animated
                      style="width: 100%"></ion-skeleton-text>
                  </ion-item>
                  <ion-skeleton-text
                    animated
                    style="width: 60%"></ion-skeleton-text>
                  <ion-row>
                    <ion-skeleton-text
                      animated
                      style="width: 40%"></ion-skeleton-text>
                  </ion-row>
                </ion-label>
              </ion-item>
            </ion-card>

            <ion-card mode="ios">
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label style="margin-top: -5px">
                  <ion-item
                    slot="start"
                    lines="none"
                    class="ion-no-padding"
                    style="padding-bottom: 5px">
                    <ion-skeleton-text
                      animated
                      style="width: 100%"></ion-skeleton-text>
                  </ion-item>
                  <ion-skeleton-text
                    animated
                    style="width: 60%"></ion-skeleton-text>
                  <ion-row>
                    <ion-skeleton-text
                      animated
                      style="width: 40%"></ion-skeleton-text>
                  </ion-row>
                </ion-label>
              </ion-item>
            </ion-card>

            <ion-card mode="ios">
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label style="margin-top: -5px">
                  <ion-item
                    slot="start"
                    lines="none"
                    class="ion-no-padding"
                    style="padding-bottom: 5px">
                    <ion-skeleton-text
                      animated
                      style="width: 100%"></ion-skeleton-text>
                  </ion-item>
                  <ion-skeleton-text
                    animated
                    style="width: 60%"></ion-skeleton-text>
                  <ion-row>
                    <ion-skeleton-text
                      animated
                      style="width: 40%"></ion-skeleton-text>
                  </ion-row>
                </ion-label>
              </ion-item>
            </ion-card>
          </div>
        </ng-container>
        <ng-container>
          <ion-accordion-group [value]="defaultAccordions">
            <div *ngFor="let y of finalFullData">
              <div toggleIcon="arrow-down">
                <ion-item slot="header">
                  <ion-label>{{y.floor}} </ion-label>
                </ion-item>
                <ion-list slot="content">
                  <div *ngFor="let x of y.data">
                    <ion-card
                      mode="ios"
                      class="pointer custom-card"
                      [attr.data-testid]="x.admission_no"
                      (click)="detail(x.admission_no,x)">
                      <ion-item lines="none">
                        <ion-label style="margin-top: -15px">
                          <ion-item slot="start" class="ion-no-padding">
                            <h2 class="ion-text-wrap" style="padding-top: 20px">
                              <br />{{ x.last_name }}, {{ x.first_name }} {{
                              x.middle_name }}<br />

                              <ion-text color="primary">
                                <p color="primary">
                                  <b
                                    >{{x.dob}} <strong>|</strong> {{x.age}}
                                    <strong>|</strong> {{x.gender}}</b
                                  >
                                </p>
                              </ion-text>
                              <ion-text color="primary">
                                <p color="primary">
                                  <b>{{x.admission_no}} </b>
                                </p>
                              </ion-text>
                            </h2>
                          </ion-item>

                          <ion-row
                            class="ion-no-padding"
                            lines="none"
                            style="padding-top: 10px !important">
                            <div class="ion-text-wrap">
                              <div
                                class="ion-text-wrap"
                                (click)="detail(x.admission_no,x)">
                                <span
                                  *ngIf="x.site == this.constants.CHH_SITE__CODE__CEBU">
                                  <ion-icon
                                    name="location-outline"
                                    slot="start"></ion-icon>
                                  {{this.constants.CHH_NAME__VALUE__CEBU}}
                                </span>
                                <span
                                  *ngIf="x.site == this.constants.CHH_SITE__CODE__MANDAUE">
                                  <ion-icon
                                    name="location-outline"
                                    slot="start"></ion-icon>
                                  {{this.constants.CHH_NAME__VALUE__MANDAUE}} </span
                                ><br />
                                <ion-icon
                                  name="bed-outline"
                                  slot="start"></ion-icon>
                                Room {{x.room_no}}<br />

                                <ion-icon
                                  name="clipboard-outline"
                                  slot="start"></ion-icon>
                                as {{x.doctor_Status}}<br />
                                <ion-icon
                                  name="alarm-outline"
                                  slot="start"
                                  color="">
                                </ion-icon>
                                <ion-text color="">
                                  Admitted : {{x.admission_date}}<br />
                                </ion-text>
                                <ion-icon
                                  name="alarm-outline"
                                  slot="start"
                                  color="">
                                </ion-icon>
                                <ion-text
                                  color=""
                                  *ngIf="x.discharged_date != null">
                                  Discharged : {{x.discharged_date}}<br />
                                </ion-text>
                                <ion-text
                                  *ngIf="x.discharged_date == null"
                                  color="">
                                  Discharged :
                                  <ion-text color="primary"
                                    >&nbsp;<b>Still Admitted</b></ion-text
                                  ><br />
                                </ion-text>
                              </div>

                              <div
                                style="
                                  border-top: 1px solid rgb(134, 134, 134);
                                ">
                                <app-prognotesheadview
                                  [account_no]="x.admission_no"
                                  [doctor_Status_code]="x.doctor_Status_code"
                                  [mdCode]="x.dr_code"></app-prognotesheadview>
                              </div>
                              <!--ion-icon name="body-outline"></ion-icon>Patient Journey<br /-->
                            </div>
                          </ion-row>
                        </ion-label>
                      </ion-item>
                    </ion-card>
                  </div>
                </ion-list>
              </div>
            </div>
          </ion-accordion-group>

          <!--div *ngFor="let x of inPatients">


            <ion-card (click)="detail(x.admission_no)" mode="ios" class="pointer" [attr.data-testid]="x.admission_no">

              <ion-item lines="none">
                <ion-avatar slot="start">
                  <chh-app-text-avatar [text]="x.last_name" [color]=""></chh-app-text-avatar>
                </ion-avatar>
                <ion-label style="margin-top: -5px;">
                  <ion-item slot="start" lines="none" class="ion-no-padding" style="padding-bottom: 5px;">
                    <h2 class="ion-text-wrap" style="padding-top: 20px;">
                      {{ x.last_name }}, {{ x.first_name }} {{ x.middle_name }}
                      <ion-text color="primary">
                        <p color="primary"><b>{{x.dob}} <strong>|</strong> {{x.age}} <strong>|</strong> {{x.gender}}</b>
                        </p>
                      </ion-text>
                    </h2>

                    <ion-badge color="warning" slot="end"
                      *ngIf="x.admission_status == this.constants.ADMISSION_STATUS__CODE__FOR_DISCHARGE && x.doctor_prof_fee == this.constants.ANY__VALUE__NULL && x.is_posted == this.constants.ANY__VALUE__NULL">
                      {{this.constants.DOCTOR__CODE__PROFESSIONAL_FEE}}</ion-badge>
                    <ion-badge color="success" slot="end"
                      *ngIf="x.doctor_prof_fee != this.constants.ANY__VALUE__NULL && x.is_posted !=this.constants.ANY__VALUE__NULL">
                      <ion-icon name="checkmark-outline"></ion-icon>
                    </ion-badge>
                  </ion-item>
                  <div *ngIf="x.admission_status == this.constants.ADMISSION_STATUS__CODE__ADMITTED">
            
                    <ion-progress-bar value=".25" buffer="1" color="warning"></ion-progress-bar>
                  </div>
                  <div
                    *ngIf="x.admission_status == this.constants.ADMISSION_STATUS__CODE__FOR_DISCHARGE && (x.is_posted == this.constants.ANY__VALUE__NULL || x.is_posted == this.constants.NUMBER__VALUE__ZERO) && x.doctor_prof_fee == this.constants.ANY__VALUE__NULL">
        
                    <ion-progress-bar value=".50" buffer="1" color="warning"></ion-progress-bar>
                  </div>
                  <div
                    *ngIf="x.admission_status == this.constants.ADMISSION_STATUS__CODE__FOR_DISCHARGE  && (x.is_posted ==this.constants.ANY__VALUE__NULL|| x.is_posted ==this.constants.NUMBER__VALUE__ZERO ) && x.doctor_prof_fee !=this.constants.ANY__VALUE__NULL">
        
                    <ion-progress-bar value=".75" buffer="1" color="warning"></ion-progress-bar>
                  </div>
                  <div
                    *ngIf="x.admission_status == this.constants.ADMISSION_STATUS__CODE__FOR_DISCHARGE  && x.is_posted == '1' && x.doctor_prof_fee !=this.constants.ANY__VALUE__NULL">
            
                    <ion-progress-bar value="1" color="mango"></ion-progress-bar>
                  </div>
                  <ion-row class="ion-no-padding" lines="none" style="padding-top: 10px !important;">
                    <p>
                      <span *ngIf="x.site == this.constants.CHH_SITE__CODE__CEBU">
                        <ion-icon name="location-outline" slot="start"></ion-icon>
                        {{this.constants.CHH_NAME__VALUE__CEBU}}
                      </span>
                      <span *ngIf="x.site == this.constants.CHH_SITE__CODE__MANDAUE">
                        <ion-icon name="location-outline" slot="start"></ion-icon>
                        {{this.constants.CHH_NAME__VALUE__MANDAUE}}
                      </span><br />
                      <ion-icon name="bed-outline" slot="start"></ion-icon> Room
                      {{x.room_no}}<br />

                      <ion-icon name="clipboard-outline" slot="start"></ion-icon>
                      as {{x.doctor_Status}}<br />
                      <ion-icon name="alarm-outline" slot="start" color="" *ngIf="x.forDischargeDateTime != null">
                      </ion-icon>
                      <ion-text *ngIf="x.forDischargeDateTime != null" color="">
                        DN :
                        {{x.forDischargeDateTime}}<br />
                      </ion-text>
                 
                    </p>

                    <br />
                  </ion-row>
                </ion-label>
              </ion-item>
            </ion-card>


          </div-->
        </ng-container>

        <ng-container>
          <div
            *ngIf="!objecthandler && !isFetchDone else noDataAvailable"
            class="ion-padding custom-skeleton">
            <!-- Skeleton  -->
            <ion-card mode="ios">
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label style="margin-top: -5px">
                  <ion-item
                    slot="start"
                    lines="none"
                    class="ion-no-padding"
                    style="padding-bottom: 5px">
                    <ion-skeleton-text
                      animated
                      style="width: 100%"></ion-skeleton-text>
                  </ion-item>
                  <ion-skeleton-text
                    animated
                    style="width: 60%"></ion-skeleton-text>
                  <ion-row>
                    <ion-skeleton-text
                      animated
                      style="width: 40%"></ion-skeleton-text>
                  </ion-row>
                </ion-label>
              </ion-item>
            </ion-card>

            <ion-card mode="ios">
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label style="margin-top: -5px">
                  <ion-item
                    slot="start"
                    lines="none"
                    class="ion-no-padding"
                    style="padding-bottom: 5px">
                    <ion-skeleton-text
                      animated
                      style="width: 100%"></ion-skeleton-text>
                  </ion-item>
                  <ion-skeleton-text
                    animated
                    style="width: 60%"></ion-skeleton-text>
                  <ion-row>
                    <ion-skeleton-text
                      animated
                      style="width: 40%"></ion-skeleton-text>
                  </ion-row>
                </ion-label>
              </ion-item>
            </ion-card>

            <ion-card mode="ios">
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label style="margin-top: -5px">
                  <ion-item
                    slot="start"
                    lines="none"
                    class="ion-no-padding"
                    style="padding-bottom: 5px">
                    <ion-skeleton-text
                      animated
                      style="width: 100%"></ion-skeleton-text>
                  </ion-item>
                  <ion-skeleton-text
                    animated
                    style="width: 60%"></ion-skeleton-text>
                  <ion-row>
                    <ion-skeleton-text
                      animated
                      style="width: 40%"></ion-skeleton-text>
                  </ion-row>
                </ion-label>
              </ion-item>
            </ion-card>

            <ion-card mode="ios">
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label style="margin-top: -5px">
                  <ion-item
                    slot="start"
                    lines="none"
                    class="ion-no-padding"
                    style="padding-bottom: 5px">
                    <ion-skeleton-text
                      animated
                      style="width: 100%"></ion-skeleton-text>
                  </ion-item>
                  <ion-skeleton-text
                    animated
                    style="width: 60%"></ion-skeleton-text>
                  <ion-row>
                    <ion-skeleton-text
                      animated
                      style="width: 40%"></ion-skeleton-text>
                  </ion-row>
                </ion-label>
              </ion-item>
            </ion-card>

            <ion-card mode="ios">
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label style="margin-top: -5px">
                  <ion-item
                    slot="start"
                    lines="none"
                    class="ion-no-padding"
                    style="padding-bottom: 5px">
                    <ion-skeleton-text
                      animated
                      style="width: 100%"></ion-skeleton-text>
                  </ion-item>
                  <ion-skeleton-text
                    animated
                    style="width: 60%"></ion-skeleton-text>
                  <ion-row>
                    <ion-skeleton-text
                      animated
                      style="width: 40%"></ion-skeleton-text>
                  </ion-row>
                </ion-label>
              </ion-item>
            </ion-card>
          </div>
        </ng-container>

        <ng-template #noDataAvailable>
          <div *ngIf="!objecthandler && isFetchDone">
            <ion-grid>
              <ion-row>
                <ion-col size="8" offset="2">
                  <div class="vertical-center">
                    <div class="center">
                      <img src="assets/img/no-data-rafiki.png" />
                    </div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
