  <ion-grid>
    <ion-row>
      <ion-col size-lg="6" size-md="6" offset-md="3 " size-sm="6" size="12" >
        <ion-slides pager>
          <ion-slide style="">
            <app-logo></app-logo>
            <h1>Welcome to</h1>
            <h2>Chong Hua Hospital Doctor's Portal</h2>
          </ion-slide>
          <ion-slide>
            <p>Some info here</p>
          </ion-slide>
          <ion-slide>
            <p>Some info here</p>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>