
<ion-header mode="md" class="ion-no-border" >
  <div *ngIf="!isDesktop">
    <ion-toolbar  color="mango" >
      <ion-title>
        <ion-icon name="stats-chart-outline"></ion-icon> Statistics
      </ion-title>
    </ion-toolbar>
  </div>
</ion-header>


<ion-content>
  <div id="lineChart" ></div>
  <div class="ion-padding">
    <div id="barChart" ></div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bar Chart - Population </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Pie Chart - Browser market</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div id="pieChart" style="width:100%; height:400px;"></div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>