<ion-header mode="md" class="ion-no-border" > 
  <ion-toolbar color="mango">
    <ion-title>
      Case Rates {{case}}
    </ion-title>
    <ion-buttons
      slot="end"
      class="buttons-last-slot sc-ion-buttons-ios-h sc-ion-buttons-ios-s ios hydrated"
    >
      <ion-button (click)="dismiss()" color="chh-css-primary2"
        >Close&nbsp; <ion-icon name="close-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <app-chh-app-desktop-navigation *ngIf="isDesktop"></app-chh-app-desktop-navigation> -->
 

<ion-content >

  <div class=" custom-skeleton" *ngIf="ionSkeleton">
  <ion-list >
    <ion-item >
      <ion-label>
        <h2 class="ion-text-wrap"><ion-skeleton-text animated></ion-skeleton-text></h2>
        <h3 class="ion-text-wrap"><ion-skeleton-text animated style="width: 88%"></ion-skeleton-text></h3>
        <h3 class="ion-text-wrap"><ion-skeleton-text animated style="width: 70%"></ion-skeleton-text></h3>
      </ion-label>
    </ion-item>
  </ion-list>
    <ion-list >
      <ion-item >
        <ion-label>
          <h2 class="ion-text-wrap"><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></h2>
          <h3 class="ion-text-wrap"><ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></h3>
          <h3 class="ion-text-wrap"><ion-skeleton-text animated style="width: 70%"></ion-skeleton-text></h3>
        </ion-label>
      </ion-item>
  </ion-list>

  </div>

  <div  *ngIf ="ionNoData">
    <img src="assets/img/3973477-no-data-concept-illustration-custom.png">
    <div class="ion-text-center">
      <h3> {{this.messages.NO_DATA_AVAILABLE}}</h3>
    </div>
  </div>



  <ion-list >
    <ion-item *ngFor="let x of caseRateResponse" >
      <ion-label>
        <h2 class="ion-text-wrap">{{x.case_desc}}</h2>
        <h3 class="ion-text-wrap">Case Code : {{x.case_code}}</h3>
        <h3 class="ion-text-wrap">PF : {{x.case_pf  | number}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- <div *ngIf="isDesktop">
    <ion-grid class="ion-no-padding" >
      <ion-row>
        <ion-col  size-md="1"></ion-col>
        <ion-col  size-md="2">
          <ion-segment (ionChange)="segmentChanged($event)" mode="ios" [(ngModel)]="caseRateData.case_class" color="mango">
            <ion-segment-button value="first">
              <ion-label>1st Case</ion-label>
            </ion-segment-button>
            <ion-segment-button value="second">
              <ion-label>2nd Case</ion-label>
            </ion-segment-button>
          </ion-segment>
          <ion-item>
            <ion-label position="floating">Code : </ion-label>
            <ion-input [(ngModel)]="caseRateData.case_search_code"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Description : </ion-label>
            <ion-input [(ngModel)]="caseRateData.case_search_desc"></ion-input>
          </ion-item>
          <ion-button
          color="mango"
          size="default"
          expand="block"
          shape="round"
          (click)="search()"
          >Search</ion-button
          >
        </ion-col>
        <ion-col size-md="8">
          <ion-item *ngFor="let x of caseRates" >
            <ion-label>
              <h2 class="ion-text-wrap">{{x.case_desc}}</h2>
              <h3 class="ion-text-wrap">Case Code : {{x.case_code}}</h3>
              <h3 class="ion-text-wrap">PF : {{x.case_pf}}</h3>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> -->

</ion-content>
<ion-footer  class="ion-no-border" color="mango" >




  <ion-segment (ionChange)="segmentChanged($event)" mode="ios" [(ngModel)]="caseRateData.CaseClass" color="mango">
    <ion-segment-button value="first">
      <ion-label>1st Case</ion-label>
    </ion-segment-button>
    <ion-segment-button value="second">
      <ion-label>2nd Case</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-item>
    <ion-label position="floating">Code : </ion-label>
    <ion-input [(ngModel)]="caseRateData.CaseSearchCode"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" [class.activedescription]="activedescription">Description : </ion-label>
    <ion-input [(ngModel)]="caseRateData.CaseSearchDesc"></ion-input>
  </ion-item>
  <ion-grid class="ion-no-padding" >
    <ion-row >
      <ion-col size-xs="12" size-md="4" size-lg="4"></ion-col>
      <ion-col size-xs="12" size-md="4" size-lg="4">
        <ion-button
        color="mango"
          size="default"
          expand="block"
          shape="round"
          (click)="search()"
          >Search</ion-button
        >
      </ion-col>
      <ion-col size-xs="12" size-md="4" size-lg="4"></ion-col>
    </ion-row>
  </ion-grid>




</ion-footer>



