<ion-header mode="md" class="ion-no-border" *ngIf="!isDesktop">
  <ion-toolbar color="mango">
    <ion-title>
      {{summaryHeader}}
    </ion-title>
    <ion-buttons
      slot="end"
      class="buttons-last-slot sc-ion-buttons-ios-h sc-ion-buttons-ios-s ios hydrated"
    >
      <ion-button routerLink="{{routerLinkBack}}" routerDirection="backwards" color="chh-css-primary2"
        >Close&nbsp; <ion-icon name="close-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <app-chh-app-patient-header
  [data]="data"
  [dateAdmitted]="dateAdmitted"
  [forMoreOrLess]="true"
  >
</app-chh-app-patient-header>
<ion-card mode="ios"   >
  <ion-list>
    <ion-item style="padding-top: 10px;">
      Transaction Summary<br />
      Professional Fee :  {{postData.ProfFee}}  <br />
      With Vat :      {{withVat}}<br />
      Pay Venue :     {{payvenue}}

  </ion-item>
  </ion-list>
  </ion-card>
  
</ion-content> -->


<ion-content>
  <img src="assets/img/online-transactions.png">
  <ion-item lines="none" class="ion-no-margin"><b>Patient Details</b>  
    <ion-badge color="warning" slot="end" (click)="moreorless(true)" *ngIf="moreOrLess">more..</ion-badge>
    <ion-badge color="warning" slot="end" (click)="moreorless(false)" *ngIf="!moreOrLess">less..</ion-badge>
  </ion-item>
  <ion-item class="ion-no-margin" *ngIf="!moreOrLess">
    <ion-grid *ngFor="let x of data">
      <ion-row >
        <ion-col size="5"><b>Name:</b>     </ion-col>
        <ion-col size="7"><b>{{x.first_name}} {{x.middle_name}}. {{x.last_name}}</b></ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="5">Hospital Site:</ion-col>
        <ion-col size="7">{{site}}</ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="5"> Room:</ion-col>
        <ion-col size="7">{{x.room_no}}</ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="5">Admission Date:</ion-col>
        <ion-col size="7">{{dateAdmitted}}</ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="5">Managed this patient for:</ion-col>
        <ion-col size="7">{{daysManaged}} {{day}}</ion-col>
      </ion-row>     
    </ion-grid>
  </ion-item>
  <ion-item class="ion-no-margin" *ngIf="moreOrLess">
    <ion-grid *ngFor="let x of data">
      <ion-row >
        <ion-col size="5"><b>Name:</b>     </ion-col>
        <ion-col size="7"><b>{{x.first_name}} {{x.middle_name}}. {{x.last_name}}</b></ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="12">{{site}} | {{x.room_no}}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item class="ion-no-margin">
    <ion-grid >
      <ion-row >
        <ion-col size="5" >
          <b>
            <ion-text color="danger">
              Amount:
            </ion-text>
          </b>
        </ion-col>
        <ion-col size="7">
          <b>
            <ion-text color="danger">
              &#8369; {{data1 | number}}
            </ion-text>
          </b>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="5">Pay Venue:     </ion-col>
        <ion-col size="7">{{payvenue}}</ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="5">Add VAT?:     </ion-col>
        <ion-col size="7">{{withVat}}</ion-col>
      </ion-row>    
    </ion-grid>
  </ion-item>
  <ul *ngIf="data1 <= 0 ">
    <li  class="lineheight-80">
      <ion-text class="fs-12 ion-text-wrap" color="danger">This is the overall professional fee that will be charged to your patient.</ion-text>
    </li>
    <li  class="lineheight-80  paddingtop-10">
      <ion-text class="fs-12 ion-text-wrap" color="danger">Net amount will vary after deducting your patient's PhilHealth case coverage.</ion-text>
    </li>
    <li *ngIf="withVat == 'Yes'"  class="lineheight-80  paddingtop-10">
      <ion-text class="fs-12 ion-text-wrap" color="danger">VAT percentage will be added to your overall professional fee.</ion-text>
    </li>
    <li *ngIf="withVat == 'No'"  class="lineheight-80  paddingtop-10">
      <ion-text class="fs-12 ion-text-wrap" color="danger"> No VAT will be added to your overall professional fee.</ion-text>
    </li>
  </ul>
  <ul *ngIf="data1 > 0 ">
    <li  class="lineheight-80">
      <ion-text class="fs-12 ion-text-wrap" color="danger">This is the overall professional fee that will be charged to your patient.</ion-text>
    </li>
    <li  class="lineheight-80  paddingtop-10">
      <ion-text class="fs-12 ion-text-wrap" color="danger">Net amount will vary after deducting your patient's PhilHealth case coverage.</ion-text>
    </li>
    <li *ngIf="withVat == 'Yes'"  class="lineheight-80  paddingtop-10">
      <ion-text class="fs-12 ion-text-wrap" color="danger">VAT percentage will be added to your overall professional fee.</ion-text>
    </li>
    <li *ngIf="withVat == 'No'"  class="lineheight-80  paddingtop-10">
      <ion-text class="fs-12 ion-text-wrap" color="danger"> No VAT will be added to your overall professional fee.</ion-text>
    </li>
  </ul>



<ion-button *ngIf="isDesktop" color="mango" size="default" expand="block" shape="round" (click)="postSummary()">Submit</ion-button>

</ion-content>




<ion-footer *ngIf="!isDesktop">
  <ion-toolbar>
    <ion-item lines="none">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size-xs="12" size-md="4" size-lg="4"></ion-col>
        <ion-col size-xs="12" size-md="4" size-lg="4">
          Status
          <ion-progress-bar value=".9" color="warning"></ion-progress-bar>
        </ion-col>
        <ion-col size-xs="12" size-md="4" size-lg="4"></ion-col>

      </ion-row>
      <ion-row >
        <ion-col size-xs="12" size-md="4" size-lg="4"></ion-col>
        <ion-col size-xs="12" size-md="4" size-lg="4">
          
          <ion-button color="mango" size="default" expand="block" shape="round" (click)="postSummary()">Submit</ion-button>
        </ion-col>
        <ion-col size-xs="12" size-md="4" size-lg="4"></ion-col>
      </ion-row>
    </ion-grid>
    </ion-item>
  </ion-toolbar>

</ion-footer>