.desktop {
    ion-router-outlet {
      margin-top: 6%;
      margin-bottom: 35px;
    }
   
    .logo {
      max-height: 100%;
    }
   
    ion-toolbar {
      --background: #ffffff;
    }
   
    .link {
      --color: #275228;
    }
   
    .active-link {
      --color: #528d53;
      border-bottom: 3px solid #275228;
      font-weight: bold;
    }
  
  }
  .chh-bg{
    --background: #275228 !important;
    --color: #fff;
  }
  .footer {
    width: 100%;
    color: #fff;
    font-weight: bold;
    background: #275228;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: fixed;
    bottom: 0px;
  }