@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

.custom-font {
  font-family: 'Inconsolata', monospace;
}

.boldMe {
  font-weight: bold;
}

.unboldMe {
  font-weight: normal;
}
.item-background-color {
  --ion-item-background: #e6e6e6;
}

.item-divider-color {
  --background: #f1f1f1;
}
@media (prefers-color-scheme: dark) {
  .item-background-color {
    --ion-item-background: #000000 !important;
  }

  .item-divider-color {
    --background: #000000 !important;
  }
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.text {
  display: inline-block;
  vertical-align: middle;
}