<ion-header mode="md" class="ion-no-border">
  <ion-toolbar color="mango">
    <span
      class="padding-left-10"
      (click)="backToSearch()"
      routerDirection="backward"
      color="chh-css-primary2">
      <ion-icon name="arrow-back-outline" class="my-icon vcenter"></ion-icon>
    </span>
    <span class="padding-left-30 font-weight-500 font-size-20">
      &nbsp;&nbsp;Approve Discharge Instruction
    </span>
  </ion-toolbar>
  <div>
    <ion-grid class="ion-no-padding"> </ion-grid>
    <ion-grid class="ion-no-padding chh-darkmode">
      <ion-row>
        <ion-col
          size-md="8"
          offset-md="2"
          size-lg="4"
          offset-lg="4"
          class="custom-border-bottom ion-no-border custom-padding">
        </ion-col>
      </ion-row>

      <ion-row class=""></ion-row>
    </ion-grid>
  </div>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" mode="ios">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <!--button (click)="generatePDF()">Generate PDF</button-->
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-md="8" offset-md="2" size-lg="4" offset-lg="4">
        <ion-card *ngIf="!isPDFLoading">
          <ion-item>
            <ion-label style="margin-top: -10px">
              <ion-item class="ion-no-padding" style="padding-bottom: 5px">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-item>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-label>
          </ion-item>
        </ion-card>
        <ion-card>
          <pinch-zoom
            style="background-color: rgb(255, 255, 255)"
            *ngIf="isPDFLoading">
            <pdf-viewer
              [src]="pdfSrc"
              [rotation]="0"
              [original-size]="false"
              [show-all]="true"
              [fit-to-page]="false"
              [zoom]="1"
              [zoom-scale]="'page-width'"
              [stick-to-page]="false"
              [render-text]="true"
              [external-link-target]="'blank'"
              [autoresize]="true"
              [show-borders]="false"
              style="width: 100vh; height: 60vh">
            </pdf-viewer>
          </pinch-zoom>
          <ion-item lines="none">
            <ion-text *ngIf="isPDFLoading"
              >Disclaimer: Discharge Date will be displayed once Discharge
              Notice is saved in HIS.</ion-text
            >
          </ion-item>

          <ion-button
            expand="block"
            (click)="approveButton()"
            *ngIf="!isApprovedDI && !isUpdating"
            >Approve Discharge Instruction</ion-button
          >
          <ion-button
            color="warning"
            expand="block"
            (click)="revokeButton()"
            *ngIf="isApprovedDI && !isUpdating"
            >Revoke Discharge Instruction</ion-button
          >
          <ion-button expand="block" *ngIf="isUpdating"
            ><ion-spinner></ion-spinner
          ></ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
