<ion-header mode="md" class="ion-no-border" *ngIf="!isDesktop">
  <ion-toolbar color="mango">
    <span class="padding-left-10" routerLink="{{routerLinkBack}}" routerDirection="backwards" color="chh-css-primary2">
      <ion-icon name="arrow-back-outline" class="my-icon vcenter"></ion-icon>
    </span>
    <span class="padding-left-30 font-weight-500 font-size-20"> &nbsp;&nbsp;{{headerMethod}} </span>
  </ion-toolbar>

</ion-header>

<ion-content *ngIf="!isDesktop" id="content">
  <app-chh-app-patient-emos-header [data]="data" [dateAdmitted]="dateAdmitted" [is_pwd]="is_pwd" [is_senior]="is_senior"
    [forMoreOrLess]="true" [is_philhealth_membership]="is_philhealth_membership"
    [patientDetailfromApi_from]="patientDetailfromApi_from" [patientDetailfromApi_to]="patientDetailfromApi_to"
    [admission_status]="admission_status">
  </app-chh-app-patient-emos-header>

  <!--
  __  __       _     _ _                 _____                _____  _     _       
 |  \/  |     | |   (_) |               |_   _|              |  __ \| |   (_)      
 | \  / | ___ | |__  _| | ___   ______    | |  _ __  ___     | |__) | |__  _  ___  
 | |\/| |/ _ \| '_ \| | |/ _ \ |______|   | | | '_ \/ __|    |  ___/| '_ \| |/ __| 
 | |  | | (_) | |_) | | |  __/           _| |_| | | \__ \    | |    | | | | | (__  
 |_|  |_|\___/|_.__/|_|_|\___|          |_____|_| |_|___/    |_|    |_| |_|_|\___| 
                                                                                   
                                                                                                                                                                                   
 -->
  <div *ngIf="(method=='Insurance')">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size-md="6" offset-md="3" size-sm="6" offset-sm="3" size-xs="6" offset-xs="3">
          <div class="vertical-center">
            <div class="center">
              <img src="assets/img/pay-venue-insurance-philhealth-rafiki.png" alt="Care of Insurance + PHIC" />
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="vertical-center">
      <div class="center">
        <ion-button expand="block" fill="outline" (click)="presentCaseRatesModal()">View Case Rates</ion-button>
      </div>
    </div>
    <ion-card mode="ios" *ngIf="!isDesktop ">
      <ion-item lines="none" [formGroup]="form">
        <ion-label>&#8369; </ion-label>
        <ion-input color="danger" formControlName="InsurancePF" id="InsurancePF" type="number" class="form-control"
          (ionChange)="isurancePFchange()" value="0"></ion-input>
      </ion-item>
    </ion-card>
    <ion-card mode="ios" *ngIf="!isDesktop && InsuranceShowVat">
      <ion-item lines="none" *ngIf="!isVatDisabled">
        <ion-label>Add VAT? </ion-label>
        <ion-checkbox color="primary" checked="false" [(ngModel)]="InsuranceVat" (ionChange)="insuranceVat()"
          [disabled]="isVatDisabled">
        </ion-checkbox>
      </ion-item>
      <ion-item lines="none" *ngIf="isVatDisabled">
        <ion-label class="fontSize-14 ion-text-wrap">VAT Not Applicable. Patient is <span
            *ngIf="is_pwd=='Y'">PWD</span><span *ngIf="is_pwd=='Y' && is_senior=='Y'">,</span><span
            *ngIf="is_senior=='Y'">Senior</span>.
        </ion-label>
      </ion-item>
    </ion-card>
    <pfhelper [InsurancePlusPhilhealth]="true" [txtInsurancePF]="txtInsurancePF" [txtInsuranceVAT]="txtInsuranceVAT"
      [InsurancePF]="InsurancePF">
    </pfhelper>

  </div>


  <!--
  __  __       _     _ _                 _____  _     _      
 |  \/  |     | |   (_) |               |  __ \| |   (_)     
 | \  / | ___ | |__  _| | ___   ______  | |__) | |__  _  ___ 
 | |\/| |/ _ \| '_ \| | |/ _ \ |______| |  ___/| '_ \| |/ __|
 | |  | | (_) | |_) | | |  __/          | |    | | | | | (__ 
 |_|  |_|\___/|_.__/|_|_|\___|          |_|    |_| |_|_|\___|
                                                             
                                                             
                               
                                                                            
 -->


  <div *ngIf="(method=='Philhealth')">



    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size-md="6" offset-md="3" size-sm="6" offset-sm="3" size-xs="6" offset-xs="3">
          <div class="vertical-center">
            <div class="center">
              <img src="assets/img/philhealth.png" alt="Care of Insurance + PHIC" />
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>



    <div class="vertical-center">
      <div class="center">
        <ion-button expand="block" fill="outline" (click)="presentCaseRatesModal()">View Case Rates</ion-button>
      </div>
    </div>
    <ion-card mode="ios" *ngIf="!isDesktop">
      <ion-item disabled="true" hidden>
        <ion-label>Accept PhilHealth Only?</ion-label>
        <ion-checkbox color="primary" checked="false" [(ngModel)]="IsPhilhealthOnly" (ionChange)="isPhilhealthOnly()">
        </ion-checkbox>
      </ion-item>
    </ion-card>
    <ion-card mode="ios" *ngIf="!isDesktop  && PhilhealthShowValue">
      <ion-item lines="none">
        <ion-label>&#8369; </ion-label>
        <ion-input color="danger" type="number" inputmode="decimal" minlength="0" placeholder="0"
          [(ngModel)]="PhilhealthPF" (ionChange)="philhealthPF()"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card mode="ios" *ngIf="!isDesktop && PhilhealthShowVat">
      <ion-item lines="none">
        <ion-label>Add VAT?</ion-label>
        <ion-checkbox color="primary" checked="false" [(ngModel)]="PhilhealthVat" (ionChange)="philhealthVat()"
          [disabled]="isVatDisabled">
        </ion-checkbox>
      </ion-item>
    </ion-card>
    <pfhelper [Philhealth]="true" [txtPhilHealthPF]="txtPhilHealthPF" [txtPhilHealthVAT]="txtPhilHealthVAT">
    </pfhelper>

  </div>


  <!--
  __  __       _     _ _                 _____          _____  _     _ _ 
 |  \/  |     | |   (_) |               |  __ \        |  __ \| |   (_) |
 | \  / | ___ | |__  _| | ___   ______  | |__) |__ _ __| |__) | |__  _| |
 | |\/| |/ _ \| '_ \| | |/ _ \ |______| |  ___/ _ \ '__|  ___/| '_ \| | |
 | |  | | (_) | |_) | | |  __/          | |  |  __/ |  | |    | | | | | |
 |_|  |_|\___/|_.__/|_|_|\___|          |_|   \___|_|  |_|    |_| |_|_|_|
                                                                         
                                                                                          
                                                                            
 -->



  <div *ngIf="(method=='Personal-philhealth')">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size-md="6" offset-md="3" size-sm="6" offset-sm="3" size-xs="6" offset-xs="3">
          <div class="vertical-center">
            <div class="center">
              <img src="assets/img/pay-venue-personal-philhealth-rafiki.png" alt="Care of Insurance + PHIC" />
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="ion-no-padding">
      <!-- <ion-button expand="block" fill="outline" (click)="presentCaseRatesModal()" *ngIf="method=='Philhealth'">View Case Rates</ion-button>  -->
      <ion-row>
        <ion-col size="12">
          <div class="vertical-center">
            <div class="center">
              <ion-button expand="block" fill="outline" (click)="presentCaseRatesModal()">View Case Rates</ion-button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card mode="ios" *ngIf="!isDesktop">
      <ion-item lines="none" [formGroup]="form">
        <ion-label>&#8369; </ion-label>
        <ion-input color="danger" formControlName="PersonalPhilhealthPF" id="PersonalPhilhealthPF" type="number"
          class="form-control" (ionChange)="personalPhilhealthChange()" value="0">
        </ion-input>
      </ion-item>
    </ion-card>

    <ion-card mode="ios" *ngIf="!isDesktop && PersonalPhilhealthShowVat">
      <ion-item lines="none" *ngIf="!isVatDisabled">
        <ion-label>Add VAT?</ion-label>
        <ion-checkbox color="primary" checked="false" [(ngModel)]="PersonalPhilhealthVat"
          (ionChange)="personalPhilhealthVat()" [disabled]="isVatDisabled"></ion-checkbox>
      </ion-item>
      <ion-item lines="none" *ngIf="isVatDisabled">
        <ion-label class="fontSize-14 ion-text-wrap">VAT Not Applicable. Patient is <span
            *ngIf="is_pwd=='Y'">PWD</span><span *ngIf="is_pwd=='Y' && is_senior=='Y'">,</span><span
            *ngIf="is_senior=='Y'">Senior</span>.
        </ion-label>
      </ion-item>

    </ion-card>













    <pfhelper [PersonalPlusPhilhealth]="true" [txtPersonalPhilHealthPF]="txtPersonalPhilHealthPF"
      [txtPersonalPhilHealthVAT]="txtPersonalPhilHealthVAT" [PersonalPhilhealthPF]="PersonalPhilhealthPF">
    </pfhelper>
  </div>
  <!--
  __  __       _     _ _                  _____ _                
 |  \/  |     | |   (_) |                / ____| |               
 | \  / | ___ | |__  _| | ___   ______  | |    | |__   __ _ _ __ 
 | |\/| |/ _ \| '_ \| | |/ _ \ |______| | |    | '_ \ / _` | '__|
 | |  | | (_) | |_) | | |  __/          | |____| | | | (_| | |   
 |_|  |_|\___/|_.__/|_|_|\___|           \_____|_| |_|\__,_|_|   
                                                                 
                                                                 
                                
      -->
  <div *ngIf="(method=='Charity')">
    <ion-card mode="ios">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size-md="6" offset-md="3" size-sm="6" offset-sm="3" size-xs="6" offset-xs="3">
            <div class="vertical-center">
              <div class="center">
                <img src="assets/img/pay-venue-charity-rafiki.png" alt="Charity" />
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item lines="none">
        <ion-label class="ion-text-wrap">Thank you for your generosity, Dok! &#10084; We truly appreciate your
          kindness and heartfelt service!</ion-label>
      </ion-item>

      <!-- <ul >
        <li class="lineheight-80">
          <ion-text class="fs-12 ion-text-wrap" color="danger"
            >Receivable: PhilHealth (if patient is a member)</ion-text
          >
        </li>
      </ul> -->
    </ion-card>
  </div>





</ion-content>

<ion-footer *ngIf="!isDesktop">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size-xs="12" size-md="4" size-lg="4"></ion-col>
          <ion-col size-xs="12" size-md="4" size-lg="4">
            <ion-progress-bar value="{{progressStatus}}" color="warning"></ion-progress-bar>
          </ion-col>
          <ion-col size-xs="12" size-md="4" size-lg="4"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-xs="12" size-md="4" size-lg="4"></ion-col>
          <ion-col size-xs="12" size-md="4" size-lg="4">
            <ion-button class="buttonActive" color="mango" size="default" expand="block" shape="round"
              (click)="finishTransaction()" *ngIf="summary != 'summary'" disabled="{{nxtBtn}}" [disabled]="!form.valid">
              Next
            </ion-button>

            <ion-button color="mango" size="default" expand="block" shape="round" *ngIf="summary == 'summary'">
              Confirm
            </ion-button>
          </ion-col>
          <ion-col size-xs="12" size-md="4" size-lg="4"></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-toolbar>
</ion-footer>

<!--
______          _    _              
|  _  \        | |  | |             
| | | |___  ___| | _| |_ ___  _ __  
| | | / _ \/ __| |/ / __/ _ \| '_ \ 
| |/ /  __/\__ \   <| || (_) | |_) |
|___/ \___||___/_|\_\\__\___/| .__/ 
                             | |    
                             |_|    
-->


<app-chh-app-desktop-navigation *ngIf="isDesktop"></app-chh-app-desktop-navigation>

<ion-content *ngIf="isDesktop">
  <ul class="breadcrumb">
    <li>
      <a routerLink="{{routerLinkBack}}">Er-Patients</a>
      <ion-icon name="chevron-forward-outline" class="icon-center"></ion-icon>
    </li>
    <li>
      <a routerLink="{{routerLinkBack1}}">{{patient_name}}</a>
      <ion-icon name="chevron-forward-outline" class="icon-center"></ion-icon>
    </li>
    <li>
      <a routerLink="{{routerLinkBack2}}">Professional Fee</a>
      <ion-icon name="chevron-forward-outline" class="icon-center"></ion-icon>
    </li>
    <li>
      <a>{{method}}</a>
    </li>
  </ul>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-lg="2" size-md="12"></ion-col>
      <ion-col size-lg="3" size-md="6">
        <app-chh-app-patient-emos-header [data]="data" [dateAdmitted]="dateAdmitted" [is_pwd]="is_pwd"
          [is_senior]="is_senior" [forMoreOrLess]="true" [patientDetailfromApi_from]="patientDetailfromApi_from"
          [patientDetailfromApi_to]="patientDetailfromApi_to" [admission_status]="admission_status">
        </app-chh-app-patient-emos-header>
      </ion-col>

      <ion-col size-lg="4" size-md="6">
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="12">
              <!--
  _____                    ______ _   _ _____ _____ 
  |_   _|                   | ___ \ | | |_   _/  __ \
    | | _ __  ___   ______  | |_/ / |_| | | | | /  \/
    | || '_ \/ __| |______| |  __/|  _  | | | | |    
   _| || | | \__ \          | |   | | | |_| |_| \__/\
   \___/_| |_|___/          \_|   \_| |_/\___/ \____/
                                                     
 -->
              <div *ngIf="(method=='Insurance')">
                <ion-grid class="ion-no-padding">
                  <ion-row>
                    <ion-col size="8" offset="2">
                      <div class="vertical-center">
                        <div class="center">
                          <img src="assets/img/pay-venue-insurance-philhealth-rafiki.png"
                            alt="Care of Insurance + PHIC" />
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>

                <div class="vertical-center">
                  <div class="center">
                    <ion-button expand="block" fill="outline" (click)="presentCaseRatesModal()">View Case Rates
                    </ion-button>
                  </div>
                </div>
                <ion-card mode="ios">
                  <ion-item lines="none" [formGroup]="form">
                    <ion-label>&#8369; </ion-label>
                    <ion-input color="danger" formControlName="InsurancePF" id="InsurancePF" type="number"
                      class="form-control" (ionChange)="isurancePFchange()" value="0">
                    </ion-input>
                  </ion-item>
                </ion-card>
                <ion-card mode="ios" *ngIf="InsuranceShowVat">
                  <ion-item lines="none" *ngIf="!isVatDisabled">
                    <ion-label>Add VAT? </ion-label>
                    <ion-checkbox color="primary" checked="false" [(ngModel)]="InsuranceVat"
                      (ionChange)="insuranceVat()" [disabled]="isVatDisabled">
                    </ion-checkbox>
                  </ion-item>
                  <ion-item lines="none" *ngIf="isVatDisabled">
                    <ion-label class="fontSize-14 ion-text-wrap">VAT Not Applicable. Patient is
                      <span *ngIf="is_pwd=='Y'">PWD</span>
                      <span *ngIf="is_pwd=='Y' && is_senior=='Y'">,</span>
                      <span *ngIf="is_senior=='Y'">Senior</span>.
                    </ion-label>
                  </ion-item>
                </ion-card>

                <pfhelper [InsurancePlusPhilhealth]="true" [txtInsurancePF]="txtInsurancePF"
                  [txtInsuranceVAT]="txtInsuranceVAT" [InsurancePF]="InsurancePF">
                </pfhelper>
              </div>
              <!--
______   _   _   _____   _____ 
| ___ \ | | | | |_   _| /  __ \
| |_/ / | |_| |   | |   | /  \/
|  __/  |  _  |   | |   | |    
| |     | | | |  _| |_  | \__/\
\_|     \_| |_/  \___/   \____/                                                               
-->
              <div *ngIf="(method=='Philhealth')">
                <ion-grid class="ion-no-padding">
                  <ion-row>
                    <ion-col size="8" offset="2">
                      <div class="vertical-center">
                        <div class="center">
                          <img src="assets/img/philhealth.png" alt="Care of Insurance + PHIC" />
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <div class="vertical-center">
                  <div class="center">
                    <ion-button expand="block" fill="outline" (click)="presentCaseRatesModal()">View Case Rates
                    </ion-button>
                  </div>
                </div>
                <ion-card mode="ios">
                  <ion-item disabled="true" hidden>
                    <ion-label>Accept PhilHealth Only?</ion-label>
                    <ion-checkbox color="primary" checked="false" [(ngModel)]="IsPhilhealthOnly"
                      (ionChange)="isPhilhealthOnly()">
                    </ion-checkbox>
                  </ion-item>
                </ion-card>
                <ion-card mode="ios" *ngIf="PhilhealthShowValue">
                  <ion-item lines="none">
                    <ion-label>&#8369; </ion-label>
                    <ion-input color="danger" type="number" inputmode="decimal" minlength="0" placeholder="0"
                      [(ngModel)]="PhilhealthPF" (ionChange)="philhealthPF()"></ion-input>
                  </ion-item>
                </ion-card>
                <ion-card mode="ios" *ngIf="PhilhealthShowVat">
                  <ion-item lines="none">
                    <ion-label>Add VAT?</ion-label>
                    <ion-checkbox color="primary" checked="false" [(ngModel)]="PhilhealthVat"
                      (ionChange)="philhealthVat()" [disabled]="isVatDisabled">
                    </ion-checkbox>
                  </ion-item>
                </ion-card>

                <pfhelper [Philhealth]="true" [txtPhilHealthPF]="txtPhilHealthPF" [txtPhilHealthVAT]="txtPhilHealthVAT">
                </pfhelper>

              </div>
              <!--
______                         ______   _   _   _____   _____ 
| ___ \                        | ___ \ | | | | |_   _| /  __ \
| |_/ /   ___   _ __   ______  | |_/ / | |_| |   | |   | /  \/
|  __/   / _ \ | '__| |______| |  __/  |  _  |   | |   | |    
| |     |  __/ | |             | |     | | | |  _| |_  | \__/\
\_|      \___| |_|             \_|     \_| |_/  \___/   \____/                                                             
-->
              <div *ngIf="(method=='Personal-philhealth')">
                <ion-grid class="ion-no-padding">
                  <ion-row>
                    <ion-col size="8" offset="2">
                      <div class="vertical-center">
                        <div class="center">
                          <img src="assets/img/pay-venue-personal-philhealth-rafiki.png"
                            alt="Care of Insurance + PHIC" />
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ion-grid class="ion-no-padding">
                  <!-- <ion-button expand="block" fill="outline" (click)="presentCaseRatesModal()" *ngIf="method=='Philhealth'">View Case Rates</ion-button>  -->
                  <ion-row>
                    <ion-col size="12">
                      <div class="vertical-center">
                        <div class="center">
                          <ion-button expand="block" fill="outline" (click)="presentCaseRatesModal()">View Case Rates
                          </ion-button>
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>

                <ion-card mode="ios">
                  <ion-item lines="none" [formGroup]="form">
                    <ion-label>&#8369; </ion-label>
                    <ion-input color="danger" formControlName="PersonalPhilhealthPF" id="PersonalPhilhealthPF"
                      type="number" class="form-control" (ionChange)="personalPhilhealthChange()" value="0">
                    </ion-input>
                  </ion-item>



                </ion-card>

                <ion-card mode="ios" *ngIf="PersonalPhilhealthShowVat">
                  <ion-item lines="none" *ngIf="!isVatDisabled">
                    <ion-label>Add VAT?</ion-label>
                    <ion-checkbox color="primary" checked="false" [(ngModel)]="PersonalPhilhealthVat"
                      (ionChange)="personalPhilhealthVat()" [disabled]="isVatDisabled"></ion-checkbox>
                  </ion-item>
                  <ion-item lines="none" *ngIf="isVatDisabled">
                    <ion-label class="fontSize-14 ion-text-wrap">VAT Not Applicable. Patient is
                      <span *ngIf="is_pwd=='Y'">PWD</span>
                      <span *ngIf="is_pwd=='Y' && is_senior=='Y'">,</span>
                      <span *ngIf="is_senior=='Y'">Senior</span>.
                    </ion-label>
                  </ion-item>

                </ion-card>

                <pfhelper [PersonalPlusPhilhealth]="true" [txtPersonalPhilHealthPF]="txtPersonalPhilHealthPF"
                  [txtPersonalPhilHealthVAT]="txtPersonalPhilHealthVAT" [PersonalPhilhealthPF]="PersonalPhilhealthPF">
                </pfhelper>
              </div>
              <!--
_____   _                    
/  __ \ | |                   
| /  \/ | |__     __ _   _ __ 
| |     | '_ \   / _` | | '__|
| \__/\ | | | | | (_| | | |   
 \____/ |_| |_|  \__,_| |_|   
                              
    -->
              <div *ngIf="(method=='Charity')">
                <ion-card mode="ios">
                  <ion-grid class="ion-no-padding">
                    <ion-row>
                      <ion-col size="8" offset="2">
                        <div class="vertical-center">
                          <div class="center">
                            <img src="assets/img/pay-venue-charity-rafiki.png" alt="Charity" />
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                  <ion-item lines="none">
                    <ion-label class="ion-text-wrap">Thank you for your generosity, Dok! &#10084; We truly appreciate
                      your
                      kindness and heartfelt service!</ion-label>
                  </ion-item>

                </ion-card>
              </div>

















              <ion-button class="buttonActive" color="mango" size="default" expand="block" shape="round"
                (click)="finishTransaction()" *ngIf="summary != 'summary'" [disabled]="!form.valid">
                Next
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>

      <!-- <ion-col size-lg="3" size-md="4">
        <div class="vertical-center">
          <div class="center">
            <div *ngIf="(method=='Insurance')">
              <img
                src="assets/img/pay-venue-insurance-philhealth-rafiki.png"
                class="ion-text-center"
                alt="Care of Insurance + PHIC"
              />
              <ion-button
                expand="block"
                fill="outline"
                (click)="presentCaseRatesModal()"
              >
                view case rates</ion-button
              >
            </div>
            <div *ngIf="(method=='Personal-philhealth')">
              <img
                src="assets/img/pay-venue-personal-philhealth-rafiki.png"
                class="ion-text-center"
                alt="Care of Personal & PHIC"
              />
              <ion-button
                expand="block"
                fill="outline"
                (click)="presentCaseRatesModal()"
              >
                view case rates</ion-button
              >
            </div>
            <div *ngIf="(method=='Philhealth')">
              <ion-img
                src="assets/img/philhealth.png"
                class="ion-text-center"
              ></ion-img>
              <ion-button
                expand="block"
                fill="outline"
                (click)="presentCaseRatesModal()"
                >View Case Rates</ion-button
              >
            </div>

            <div *ngIf="(method=='Charity')">
              <ion-img
                src="assets/img/pay-venue-charity-rafiki.png"
                class="ion-text-center"
              ></ion-img>

            </div>



         








          </div>
        </div>
      </ion-col> -->
      <ion-col size-lg="1" size-md="12"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border" *ngIf="isDesktop">
  <div class="footer tab-font-family" *ngIf="isDesktop">
    <span>{{this.constants.CHH_NAME__VALUE__CEBU}}</span>
  </div>
</ion-footer>