#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }


  .header-row {
    //background: rgba(251, 145, 1, 0.1) ;
    //color: mango;
    font-size: 15px;
    padding-bottom: 5px;
  }
  
  ion-col {
    //border-bottom: 1px solid #ECEEEF;
  }
  
  .bb{
    border-bottom: 1px solid #000000
  }
  .boldthis{
      font-weight: bold;
     
  }

  .fr{
      float: right;
  }