<ion-header mode="md" class="ion-no-border" *ngIf="!isDesktop">
  <ion-toolbar color="mango">
    <ion-title>
      {{method}}
    </ion-title>
    <ion-buttons
      slot="end"
      class="buttons-last-slot sc-ion-buttons-ios-h sc-ion-buttons-ios-s ios hydrated"
    >
      <ion-button routerLink="{{routerLinkBack}}" routerDirection="backwards" color="chh-css-primary2"
        >Close&nbsp; <ion-icon name="close-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isDesktop" id="content">























  
  <app-chh-app-patient-header [data]="data" [dateAdmitted]="dateAdmitted">
  </app-chh-app-patient-header>





  <ion-grid  *ngIf="!isDesktop && method == 'Philhealth'"  class="ion-no-padding ">

    <ion-button expand="block" fill="outline" (click)="presentCaseRatesModal()" *ngIf="method=='Philhealth'">View Case Rates</ion-button> 
  <ion-row >

  <ion-col size="6" offset="3"  >

  <div class="vertical-center">
    <div class="center">
      <ion-img src="../../../../assets/img/{{method1}}.jpg" class="ion-align-self-end"></ion-img>
    </div>   
  </div>
  </ion-col>
  </ion-row>
  </ion-grid>

  
    <div *ngIf="(method=='Insurance')">
      <img src="assets/img/insurance.png" alt="Care of Insurance">
      <ion-card mode="ios" *ngIf="!isDesktop " >
        <ion-item>
          <ion-label>&#8369; </ion-label>
          <ion-input type="number" placeholder="0" [(ngModel)]="InsurancePF" (ionChange)="isurancePF()"></ion-input>
        </ion-item>
      </ion-card>
      <ion-card mode="ios" *ngIf="!isDesktop && InsuranceShowVat" >
        <ion-item>
          <ion-label>Add VAT?</ion-label> 
          <ion-checkbox color="mango" checked="false" [(ngModel)]="InsuranceVat" (ionChange)="insuranceVat()"></ion-checkbox>
        </ion-item>
      </ion-card>

      <ul *ngIf="txtInsurancePF"><li> <ion-text class="fw-i fs-15 ion-text-wrap">Accept HMO insurance rate. </ion-text></li><li><ion-text class="fw-i fs-15 ion-text-wrap">No additional professional fee charge to your patient.</ion-text></li></ul>
                         
      <ul *ngIf="txtInsurancePF==false && txtInsuranceVAT==true"><li><ion-text class="fw-i fs-15 ion-text-wrap">This is the overall professional fee that will be charged to your patient. </ion-text>
      </li><li><ion-text class="fw-i fs-15 ion-text-wrap">Net amount will vary after deducting your patient's insurance coverage.</ion-text></li><li><ion-text class="fw-i fs-15 ion-text-wrap">VAT percentage will be added to your overall professional fee.</ion-text></li></ul>

      <ul *ngIf="txtInsurancePF==false && txtInsuranceVAT==false"><li><ion-text class="fw-i fs-15 ion-text-wrap">This is the overall professional fee that will be charged to your patient.</ion-text>
      </li><li><ion-text class="fw-i fs-15 ion-text-wrap">Net amount will vary after deducting your patient's insurance coverage.</ion-text></li><li><ion-text class="fw-i fs-15 ion-text-wrap">No VAT will be added to your overall professional fee.</ion-text></li></ul>

 

      
    </div>
        
    
    <div *ngIf="(method=='Philhealth')">
      <ion-card mode="ios" *ngIf="!isDesktop" >
        <ion-item>
          <ion-label>PhilHealth Only?</ion-label> 
          <ion-checkbox color="mango" checked="false" [(ngModel)]="IsPhilhealthOnly" (ionChange)="isPhilhealthOnly()"></ion-checkbox>
        </ion-item>
      </ion-card>
      <ion-card mode="ios" *ngIf="!isDesktop  && PhilhealthShowValue" >
        <ion-item>
          <ion-label>&#8369; </ion-label>
          <ion-input type="number" minlength="0" placeholder="0" [(ngModel)]="PhilhealthPF"  (ionChange)="philhealthPF()"></ion-input>
        </ion-item>
      </ion-card>

      <ion-card mode="ios" *ngIf="!isDesktop && PhilhealthShowVat" >
        <ion-item>
          <ion-label>Add VAT?</ion-label> 
          <ion-checkbox color="mango" checked="false" [(ngModel)]="PhilhealthVat" (ionChange)="philhealthVat()"></ion-checkbox>
        </ion-item>
      </ion-card>

      <ul *ngIf="txtPhilHealthPF">
        <li>
          <ion-text class="fw-i fs-15 ion-text-wrap">Accept PHIC rate.</ion-text>
        </li>
        <li>
          <ion-text class="fw-i fs-15 ion-text-wrap">No additional professional fee charge to your patient.</ion-text>
        </li>
      </ul>

      <ul *ngIf="!txtPhilHealthPF && txtPhilHealthVAT">
        <li>
          <ion-text class="fw-i fs-15 ion-text-wrap">This is the overall professional fee that will be charged to your patient.</ion-text>
        </li>
        <li>
          <ion-text class="fw-i fs-15 ion-text-wrap">Net amount will vary after deducting your patient's PhilHealth case coverage.</ion-text>
        </li>
        <li>
          <ion-text class="fw-i fs-15 ion-text-wrap">VAT percentage will be added to your overall professional fee.</ion-text>
        </li>
      </ul>

      <ul *ngIf="!txtPhilHealthPF && !txtPhilHealthVAT">
        <li>
          <ion-text class="fw-i fs-15 ion-text-wrap">This is the overall professional fee that will be charged to your patient.</ion-text>
        </li>
        <li>
          <ion-text class="fw-i fs-15 ion-text-wrap">Net amount will vary after deducting your patient's PhilHealth case coverage.</ion-text>
        </li>
        <li>
          <ion-text class="fw-i fs-15 ion-text-wrap">No VAT will be added to your overall professional fee.</ion-text>
        </li>
      </ul>

      
    </div>


    <div *ngIf="(method=='Charity')">

      <ion-text ></ion-text>

      <ion-card mode="ios"  >
        <img src="assets/img/charity.png" alt="Charity Thanks">
        <ion-item>
          <ion-label class="ion-text-wrap">Thank you for your generosity, Dok! We truly appreciate your kindness and heartfelt service!</ion-label> 

        </ion-item>
      </ion-card>


    </div>




</ion-content>

  <ion-footer  *ngIf="!isDesktop">
    <ion-toolbar>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size-xs="12" size-md="4" size-lg="4"></ion-col>
          <ion-col size-xs="12" size-md="4" size-lg="4">
           PF Submission Status
            <ion-progress-bar value="{{progressStatus}}"></ion-progress-bar>
          </ion-col>
          <ion-col size-xs="12" size-md="4" size-lg="4"></ion-col>
        </ion-row>
        <ion-row >
          <ion-col size-xs="12" size-md="4" size-lg="4"></ion-col>
          <ion-col size-xs="12" size-md="4" size-lg="4">
            <ion-button color="mango" size="default" expand="block" shape="round" (click)="finishTransaction()" *ngIf="summary != 'summary'" disabled="{{nxtBtn}}">
              Next
            </ion-button>


            <ion-button color="mango" size="default" expand="block" shape="round"  *ngIf="summary == 'summary'">
              Confirm
            </ion-button>




          </ion-col>
          <ion-col size-xs="12" size-md="4" size-lg="4"></ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>






<!--
______          _    _              
|  _  \        | |  | |             
| | | |___  ___| | _| |_ ___  _ __  
| | | / _ \/ __| |/ / __/ _ \| '_ \ 
| |/ /  __/\__ \   <| || (_) | |_) |
|___/ \___||___/_|\_\\__\___/| .__/ 
                             | |    
                             |_|    
-->

<!-- <ion-header *ngIf="isDesktop"  mode="md" class="ion-no-border custom-border-bottom" >
  <ion-toolbar>
    <ion-row class="ion-align-items-center"  >
      <ion-col size="2">
        <chh-app-logo-sm ></chh-app-logo-sm>
      </ion-col>
      <ion-col size="10">
        <div class="navbar" class="ion-text-center chh-bg">
          <ion-button
            id="button-dashboard"
            fill="clear"
            routerLink="/menu/dashboard"
            routerDirection="root"
            routerLinkActive="active-link"
            class="link"
          >
            {{this.constants.MENU__VALUE__DASHBOARD}}
          </ion-button>
          <ion-button
            id="button-in-patients"
            fill="clear"
            routerLink="/menu/in-patients"
            routerDirection="root"
            routerLinkActive="active-link"
            class="link"
          >
            {{this.constants.MENU__VALUE__IN_PATIENTS}}
          </ion-button>
          <ion-button
            id="button-appointments"
            fill="clear"
            routerLink="/menu/appointments"
            routerDirection="root"
            routerLinkActive="active-link"
            class="link"
          >
            {{this.constants.MENU__VALUE__APPOINTMENTS}}
          </ion-button>
          <ion-button
            id="button-settings"
            fill="clear"
            routerLink="/menu/settings"
            routerDirection="root"
            routerLinkActive="active-link"
            class="link"
          >
          {{this.constants.MENU__VALUE__SETTINGS}}
          </ion-button>
          <ion-button
            id="button-logout"
            fill="clear"
            routerDirection="root"
            routerLinkActive="active-link"
            class="link"
          >
          {{this.constants.MENU__VALUE__LOG_OUT}}
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  </ion-header>  -->


  <app-chh-app-desktop-navigation *ngIf="isDesktop"></app-chh-app-desktop-navigation>









  
<ion-content  *ngIf="isDesktop">
  <ul class="breadcrumb" >
    <li>
      <a routerLink="{{routerLinkBack1}}">{{patient_name}}</a>
      <ion-icon name="chevron-forward-outline" class="icon-center"></ion-icon>
    </li>
    <li>
      <a routerLink="{{routerLinkBack2}}">Professional Fee</a>
      <ion-icon name="chevron-forward-outline" class="icon-center"></ion-icon>
    </li>
    <li>
      <a >{{method}}</a>
    </li>
  </ul>   



  <ion-grid class="ion-no-padding">
    <ion-row>


      <ion-col  size-md="1" ></ion-col>
      <ion-col  size-md="3" >






        <app-chh-app-patient-header 
        [data]="data" [dateAdmitted]="dateAdmitted"
      ></app-chh-app-patient-header>

      </ion-col>




      <ion-col size-md="4" >




        <ion-grid class="ion-no-padding " >
          <ion-row >
            <ion-col size="12"  >






            
  
              <div *ngIf="(method=='Insurance')">
                <ion-card mode="ios" >
                  <ion-item>
                    <ion-label>&#8369; </ion-label>
                    <ion-input type="number" placeholder="0" [(ngModel)]="InsurancePF" (ionChange)="isurancePF()"></ion-input>
                  </ion-item>
                </ion-card>
                <ion-card mode="ios" *ngIf="InsuranceShowVat" >
                  <ion-item>
                    <ion-label>Add VAT?</ion-label> 
                    <ion-checkbox color="mango"  [(ngModel)]="InsuranceVat" (ionChange)="insuranceVat()"></ion-checkbox>
                  </ion-item>
                </ion-card>
    
                <ul *ngIf="txtInsurancePF"><li> <ion-text class="fw-i fs-15 ion-text-wrap">Accept HMO insurance rates. </ion-text></li><li><ion-text class="fw-i fs-15 ion-text-wrap">No additional professional fee charge to your patient.</ion-text></li></ul>
                         
                <ul *ngIf="txtInsurancePF==false && txtInsuranceVAT==true"><li><ion-text class="fw-i fs-15 ion-text-wrap">This is the overall professional fee that will be charged to your patient. </ion-text>
                </li><li><ion-text class="fw-i fs-15 ion-text-wrap">Net amount will vary after deducting your patient's insurance coverage.</ion-text></li><li><ion-text class="fw-i fs-15 ion-text-wrap">VAT percentage will be added to your overall professional fee.</ion-text></li></ul>
          
                <ul *ngIf="txtInsurancePF==false && txtInsuranceVAT==false"><li><ion-text class="fw-i fs-15 ion-text-wrap">This is the overall professional fee that will be charged to your patient.</ion-text>
                </li><li><ion-text class="fw-i fs-15 ion-text-wrap">Net amount will vary after deducting your patient's insurance coverage.</ion-text></li><li><ion-text class="fw-i fs-15 ion-text-wrap">No VAT will be added to your overall professional fee.</ion-text></li></ul>
          
         
              </div>
                  
              
              <div *ngIf="(method=='Philhealth')">
                <ion-card mode="ios">
                  <ion-item>
                    <ion-label>PhilHealth Only?</ion-label> 
                    <ion-checkbox color="mango"  [(ngModel)]="IsPhilhealthOnly" (ionChange)="isPhilhealthOnly()"></ion-checkbox>
                  </ion-item>
                </ion-card>
                <ion-card mode="ios" *ngIf="PhilhealthShowValue" >
                  <ion-item>
                    <ion-label>&#8369; </ion-label>
                    <ion-input type="number" placeholder="0" [(ngModel)]="PhilhealthPF"  (ionChange)="philhealthPF()"></ion-input>
                  </ion-item>
                </ion-card>
          
                <ion-card mode="ios" *ngIf="PhilhealthShowVat" >
                  <ion-item>
                    <ion-label>Add VAT?</ion-label> 
                    <ion-checkbox color="mango"  [(ngModel)]="PhilhealthVat"></ion-checkbox>
                  </ion-item>
                </ion-card>
              </div>

              <ion-button color="mango" size="default" expand="block" shape="round" (click)="finishTransaction()" *ngIf="summary != 'summary'">
                Save
              </ion-button>


          </ion-col>
          </ion-row>
        </ion-grid>























      </ion-col>
   
      <ion-col size-md="3" >

    

        <ion-grid   class="ion-no-padding ">
          <ion-row >
          <ion-col size="6" offset="3"  >
          <div class="vertical-center">
            <div class="center">
              <ion-img src="../../../../assets/img/{{method1}}.jpg" class="ion-align-self-end"></ion-img>
              <h3>{{method}}</h3>
            </div>   
          </div>
          <ion-button expand="block" fill="outline" *ngIf="method=='Philhealth'" (click)="presentCaseRatesModal()" 
         >view case rates</ion-button>
          </ion-col>
          </ion-row>
          </ion-grid>
      </ion-col>
      <ion-col size-md="1" ></ion-col>

    </ion-row>
  </ion-grid>



















</ion-content>
<ion-footer class="ion-no-border" *ngIf="isDesktop">
  <div class="footer tab-font-family"  *ngIf="isDesktop">
    <span>{{this.constants.CHH_NAME__VALUE__CEBU}}</span>
  </div>
</ion-footer>
