.center-button {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-item: center;
}

.addpadding {
  padding-top: 5px;
}
.height300 {
  height: 300px;
}
.height400 {
  height: 400px;
}
.height500{
  height: 500px;
}
.height600 {
  height: 600px;
}
.height700 {
  height: 700px;
}
.height800 {
  height: 800px;
}
