ion-card {
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
ion-list {
  overflow: hidden;
  overflow-y: auto;
  ::-webkit-scrollbar {
    display: none;
  }
}
.groupList {
  overflow: scroll;
}
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

.custom-font {
  font-family: 'Inconsolata', monospace;
}
.comment {
  width: 70%;
}
.commentme {
  width: 70%;
  float: right;
}
.commentthem {
  width: 70%;
  float: left;
}

.progressnotes {
  width: auto;
}

.my_class{
  color:red
}
