<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" size-lg="4" offset-lg="4">
        <ion-card mode="ios">
          <ion-card-content>
            <div class="center">
              <chh-app-logo></chh-app-logo>
              <h1>
                <b
                  >{{this.constants.UI_COMPONENT_TEXT__VALUE__LOGIN_GREETINGS}}</b
                >
              </h1>
            </div>
            <ion-item>
              <!--ion-label position="fixed">{{this.constants.UI_COMPONENT_TEXT__VALUE__LOGIN_USERNAME}}</ion-label-->
              <ion-input
                placeholder="Username"
                type="text"
                id="input-username"
                [(ngModel)]="postData.username"
              ></ion-input>
            </ion-item>
            <ion-item>
              <!--ion-label position="fixed">{{this.constants.UI_COMPONENT_TEXT__VALUE__LOGIN_PASSWORD}}</ion-label-->
              <!--ion-input
                type="password"
                id="input-password"
                [(ngModel)]="postData.password"
              ></ion-input-->

              <ion-input
                type="password"
                id="input-password"
                placeholder="Password"
                [type]="getType()"
                (keyup.enter)="checkInput()"
                [(ngModel)]="postData.password"
              ></ion-input>
              <ion-icon
                name="eye-off-outline"
                [name]="getName()"
                item-right
                (click)="showPassword()"
                class="rectangle"
              ></ion-icon>
            </ion-item>
            <div class="ion-margin-vertical ion-text-right">
              <ion-button
                expand="block"
                shape="round"
                id="btn-confirm"
                (click)="checkInput()"
                color="mango"
                disabled="{{btnDisable}}"
                ><div *ngIf="!btnDisable">
                  {{this.constants.UI_COMPONENT_TEXT__VALUE__LOGIN.toUpperCase()}}
                </div>
                <span *ngIf="!btnDisable"></span
                ><ion-spinner *ngIf="btnDisable"></ion-spinner>
              </ion-button>
            </div>
          </ion-card-content>

          <ion-item class="fontSize-12">
            <p>
              {{this.constants.UI_COMPONENT_TEXT__VALUE__SETTINGS_INFO}} (<b
                ><a href="tel: +63322338000"
                  >{{this.constants.UI_COMPONENT_TEXT__VALUE__SETTINGS_INFO_TELEPHONE}}</a
                ></b
              >). <br />
              <br />{{this.constants.UI_COMPONENT_TEXT__VALUE__SETTINGS_INFO_APP_VERSION}}
              test 1.1
            </p>
          </ion-item>
          <ion-item lines="none" class="fontSize-12">
            <ion-label>( Made by Chong Hua for Chong Hua )</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border"> </ion-footer>
