@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

.custom-font {
  font-family: 'Inconsolata', monospace;
}
.comment {
  width: 70%;
}
.commentme {
  width: 70%;
  float: right;
}
.commentthem {
  width: 70%;
  float: left;
}
