<!--ion-header>
  <ion-toolbar>
    <button ion-button round  outline (click)="closeModal()" >Close <ion-icon name="close-outline"  ></ion-icon></button>
    <div>Close <ion-icon name="close-outline"  ></ion-icon></div>
  </ion-toolbar>
</ion-header-->

<!--ion-header mode="md" role="banner" class="ios header-ios header-translucent header-collapse-none header-translucent-ios hydrated"><div class="header-background"></div>
  <ion-toolbar class="in-toolbar ios toolbar-title-default hydrated" color="mango">
    <ion-title class="ios title-default hydrated">Patient Detail</ion-title>
    <ion-buttons slot="end" class="buttons-last-slot sc-ion-buttons-ios-h sc-ion-buttons-ios-s ios hydrated">
    
    </ion-buttons>
  </ion-toolbar>
</ion-header-->

<!--ion-toolbar>
  <ion-buttons slot="end" >
    <ion-button (click)="closeModal()" routerDirection="back" class="ios button button-clear ion-activatable ion-focusable hydrated" color="danger">Close</ion-button>
  </ion-buttons>
</ion-toolbar-->

<!-- 
ooooooooo.                 .    o8o                            .  
`888   `Y88.             .o8    `"'                          .o8  
 888   .d88'  .oooo.   .o888oo oooo   .ooooo.  ooo. .oo.   .o888oo
 888ooo88P'  `P  )88b    888   `888  d88' `88b `888P"Y88b    888  
 888          .oP"888    888    888  888ooo888  888   888    888  
 888         d8(  888    888 .  888  888    .o  888   888    888 .
o888o        `Y888""8o   "888" o888o `Y8bod8P' o888o o888o   "888" 
-->

<ion-header mode="md" class="ion-no-border">
  <ion-toolbar color="mango">
    <ion-title>
      Patient Information
    </ion-title>
    <ion-buttons
      slot="end"
      class="buttons-last-slot sc-ion-buttons-ios-h sc-ion-buttons-ios-s ios hydrated"
    >
      <ion-button (click)="this.functionsService.closeModal(this.modalController)" color="chh-css-primary2"
        >Close&nbsp; <ion-icon name="close-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>



  <!-- HEADER MOBILE-->
<ion-card mode="ios" *ngIf="!isDesktop">
    <ion-list> 
      <ion-item lines="none">
        <!--ion-avatar slot="start">
      <img src="https://bitbucket.org/chonghuahospital-it/chh-it-ibm-virtual-assistant-images/downloads/kdamora-sample-pic-for-ionic-avatar.jpg">
    </ion-avatar-->
        <ion-avatar slot="start">
          <chh-app-text-avatar [text]="data.last_name" [color]=""></chh-app-text-avatar>
        </ion-avatar>
        <ion-label>
          <ion-item class="ion-no-padding ">
            <h2 class="ion-text-wrap" style="padding-top: 20px;">
              <b>{{data.last_name}}, {{data.first_name}} {{data.middle_name}}</b>
            </h2>
            <ion-badge
              color="warning"
              slot="end"
              *ngIf="data.admission_status == 'DN' && data.doctor_prof_fee == null && data.is_posted ==null"
            >
              PF</ion-badge
            >
            <ion-badge
              color="success"
              slot="end"
              *ngIf="data.doctor_prof_fee != null && data.is_posted !=null"
            >
              PF OK</ion-badge
            >
          </ion-item>
          <div class="ion-text-wrap" style="padding-top: 5px;">
            <div *ngIf="data.site == 'C'">
              <ion-icon name="location-outline" slot="start"></ion-icon>
              Chong Hua Hospital
            </div>
            <div *ngIf="data.site == 'M'">
              <ion-icon name="location-outline" slot="start"></ion-icon>
              Chong Hua Hospital Mandaue
            </div>
            <div>
              <ion-icon name="bed-outline" slot="start"></ion-icon>
              Room {{data.room_no}}<br />
              <ion-icon name="clipboard-outline" slot="start"></ion-icon>
              as {{data.Doctor_Status}}<br />
              <ion-chip *ngIf="data.admission_status == 'AC'">
                <ion-label color="mango"><b>Admitted</b></ion-label>
              </ion-chip>

              <!-- <ion-badge *ngIf="data.admission_status == 'AC'"
            color="mango"
            slot="end">
            Admitted
          </ion-badge> -->

              <ion-chip *ngIf="data.admission_status == 'DN'">
                <ion-label color="mango"><b>For Discharge</b></ion-label>
              </ion-chip>

              <!-- <ion-badge *ngIf="data.admission_status == 'DN'"
            color="mango"
            slot="end">
            For Discharge
          </ion-badge> -->
            </div>
          </div>
        </ion-label>
      </ion-item>
      <ion-item lines="none" style="padding-bottom: 10px;">
        <div class="ion-text-wrap">
          <!-- <ion-text *ngIf="data.admission_status == 'AC'">Status : Admitted </ion-text>  -->

          <!-- <ion-text *ngIf="data.admission_status == 'DN'">Status : For Discharge<br /></ion-text> -->
          <ion-icon name="calendar-outline"></ion-icon
          ><ion-text> Admission Date : {{dateAdmitted}}</ion-text>
        </div>
      </ion-item>
     </ion-list>
  </ion-card>












  <ion-card mode="ios"  *ngIf="!isDesktop" >
    <ion-list>
      <ion-item style="padding-top: 10px;">
        <div class="ion-text-wrap"><b>Admitting Diagnosis</b><br /></div>
        
      </ion-item>
      <ion-item style="padding-top: 10px;" lines="none">
        <div class="ion-text-wrap">

          <div *ngIf="admittingDiagnosis" class="custom-font">
            <div *ngIf="admittingDiagnosis.length <= 100" [innerHTML]="admittingDiagnosis">

            </div>
            <div class="" *ngIf="truncating1 && admittingDiagnosis.length > 100" [innerHTML]="admittingDiagnosis1">

              
            </div>
            <button *ngIf="truncating1 && admittingDiagnosis.length > 100" ion-button (click)="truncating1 = false">show more</button>
            <div *ngIf="!truncating1 && admittingDiagnosis.length > 100" [innerHTML]="admittingDiagnosis2">
              <ion-text class="ion-text-wrap "><br/></ion-text>
              
            </div>
            <button *ngIf="!truncating1 && admittingDiagnosis.length > 100" ion-button (click)="truncating1 = true">show less</button>
          </div>


            <!--ng-container>
              <div
                *ngIf="!objecthandler && !isFetchDone else noDataAvailable"
                class=" custom-skeleton">
                <ion-item>
                  <ion-label style="margin-top: -10px;">
                    <ion-item  style="padding-bottom: 5px;">
                      <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-item>
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-label>
                </ion-item>
              </div>
            </ng-container-->


        </div>
      </ion-item>

    </ion-list>
  </ion-card>



  <ion-card mode="ios"  *ngIf="!isDesktop" >
    <ion-list>
      <ion-item style="padding-top: 10px;">
        <div class="ion-text-wrap"><b>Lab Tests</b><br /></div>
        
      </ion-item>

        <ion-searchbar           
        [(ngModel)]="searchBar"
        (ionChange)="filterList()"
        mode="ios"></ion-searchbar>




      <ion-item style="padding-top: 10px;" lines="none" *ngIf="currentExamList != ''">
        <div class="ion-text-wrap">
          <div class="navbar" class="ion-text-center" >
            
            <ion-button id="ion-button-filter-both" fill="clear" class="link" size="small">Current Tests
            </ion-button>
            <ion-button id="ion-button-filter-both" fill="clear" class="link" size="small">All Tests
            </ion-button>
          </div>

        </div>
      </ion-item>

      <!--div *ngIf="examListSkeleton==false && currentExamList==''">

    
        <img src="assets/img/3973477-no-data-concept-illustration-custom.png">
        <div class="ion-text-center">
          <h3> {{this.messages.NO_DATA_AVAILABLE}}</h3>
        </div>

      </div-->
          <div class="currentTests" style="background-color: green;">


            <ion-grid *ngIf="isDesktop">
              <div class="ion-padding custom-skeleton" *ngIf="ionSkeleton">
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                <ion-skeleton-text animated></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </div>

             
              <ion-row  *ngFor="let x of currentExamList_filtered; let i = index" >
                <ion-col (click)="examDetails(x,data.site,i)">
                  {{ x.Exam}}
                </ion-col>
                <ion-col>
                  {{ x.Test_Name}}
                </ion-col>
                <ion-col>
                  {{x.RequestDateTime}}
                </ion-col>
                <ion-col>
                  {{x.Request_No}}
                </ion-col>
  
              </ion-row>
              </ion-grid>

              <ion-item *ngIf="examListSkeleton" lines="none">
                <ion-label style="margin-top: -5px;">
                  <ion-item
                  slot="start"
                  lines="none"
                  class="ion-no-padding"
                  style="padding-bottom: 5px;"
                  >
                    <ion-skeleton-text
                    animated
                    style="width: 100%;"
                    ></ion-skeleton-text>
                  </ion-item>
                  <ion-skeleton-text
                  animated
                  style="width: 60%;"
                  ></ion-skeleton-text>
                <ion-row>
                  <ion-skeleton-text
                  animated
                  style="width: 40%;"
                  ></ion-skeleton-text>
                </ion-row>
                </ion-label>
              </ion-item>

              <div *ngIf="!isDesktop" class="overflow-scroll max-height-300">
                <div  *ngFor="let x of currentExamList_filtered; let i = index">
                  <ion-item lines="" (click)="examDetails(x,data.site,i)">
                    <div class="ion-text-wrap"  >
                      <ion-text >
                        {{x.Test_Name}}
                      </ion-text> <br />
                      <ion-text >
                        <b class="fontSize-14 font-weight-bold">{{x.Exam}}</b>
                      </ion-text><br />
                      <ion-text >
                        <b class="fontSize-14 font-weight-bold">{{x.RequestDateTime}}</b>
                      </ion-text>
                    </div>
                  </ion-item>
                </div>
              </div>
              
           
          </div>



    </ion-list>
  </ion-card>








  <ion-card mode="ios"  *ngIf="data.admission_status == 'DN' && !isDesktop" >
    <ion-list>
      <ion-item style="padding-top: 10px;">
        <div class="ion-text-wrap"><b>Final Diagnosis</b><br /></div>
        
      </ion-item>
      <ion-item style="padding-top: 10px;" lines="none">
        <div class="ion-text-wrap">

          <div *ngIf="finalDiagnosis" class="custom-font">
            <div *ngIf="finalDiagnosis.length <= limit">{{finalDiagnosis}}</div>
            <div *ngIf="truncating && finalDiagnosis.length > limit">
              {{finalDiagnosis1}}
              <button ion-button (click)="truncating = false">show more</button>
            </div>
            <div *ngIf="!truncating && finalDiagnosis.length > limit">
              <!--{{finalDiagnosis}}-->
              <div *ngFor="let x of finalDiagnosis2">
                <ion-text style="padding-top: 15px;"
            >{{x}}<br
          /></ion-text>
              </div>
              <button ion-button (click)="truncating = true">show less</button>
            </div>
            </div>
            
            <!--ng-container>
              <div
                *ngIf="!objecthandler && !isFetchDone else noDataAvailable"
                class=" custom-skeleton">
                <ion-item>
                  <ion-label style="margin-top: -10px;">
                    <ion-item  style="padding-bottom: 5px;">
                      <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-item>
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-label>
                </ion-item>
              </div>
            </ng-container-->
        </div>
      </ion-item>

    </ion-list>
  </ion-card>




















  <!-- 
ooooooooo.                       .o88o.    oooooooooooo                    
`888   `Y88.                     888 `"    `888'     `8                    
 888   .d88' oooo d8b  .ooooo.  o888oo      888          .ooooo.   .ooooo. 
 888ooo88P'  `888""8P d88' `88b  888        888oooo8    d88' `88b d88' `88b
 888          888     888   888  888        888    "    888ooo888 888ooo888
 888          888     888   888  888        888         888    .o 888    .o
o888o        d888b    `Y8bod8P' o888o      o888o        `Y8bod8P' `Y8bod8P' 
-->

  <ion-card mode="ios"  *ngIf="!isDesktop" >
    <ion-list>
      <ion-item style="padding-top: 10px;">
        <div class="ion-text-wrap"><b>Professional Fee</b><br /></div>
      </ion-item>
      
      <ion-item style="padding-top: 10px;" lines="none">
        <div class="ion-text-wrap">
          <ion-text style="padding-top: 15px;"
            >Days Managed: {{daysOfManage}} Days<br/>
        </ion-text>
          <ion-text style="padding-top: 15px;"
            >Amount : {{professionalFee}}<br
          /></ion-text>
          <ion-text class="ion-text-wrap">Remarks : {{remarks}}</ion-text>
     
        </div>

      </ion-item>
      <ion-item lines="none" style="padding-top: 10px;" style="padding-bottom: 8px;">
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size-xs="12">
              <ion-button
              color="mango"
                size="default"
                expand="block"
                shape="round"
                (click)="detail(data.admission_no)"
                *ngIf="data.is_posted == 0 || data.is_posted == null"
        
                >UPDATE</ion-button
              >
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- 
  oooooooooo.                           .                              
  `888'   `Y8b                        .o8                              
   888      888  .ooooo.   .ooooo.  .o888oo  .ooooo.  oooo d8b  .oooo.o
   888      888 d88' `88b d88' `"Y8   888   d88' `88b `888""8P d88(  "8
   888      888 888   888 888         888   888   888  888     `"Y88b. 
   888     d88' 888   888 888   .o8   888 . 888   888  888     o.  )88b
  o888bood8P'   `Y8bod8P' `Y8bod8P'   "888" `Y8bod8P' d888b    8""888P'
-->

  <ion-card mode="ios"   *ngIf="!isDesktop">
    <ion-list>
      <ion-item style="padding-top: 10px;">
        <div class="ion-text-wrap"><b>Doctors</b><br /></div>
      </ion-item>
      <ng-container>
        <ion-item lines="none" *ngFor="let dr of coDoctors">
          <ion-avatar slot="start">
            <chh-app-text-avatar [text]="dr.last_name" [color]=""></chh-app-text-avatar>
          </ion-avatar>
          <ion-label style="margin-top: -10px;">
            <ion-item class="ion-no-padding" style="padding-bottom: 5px;">
              <h3 class="ion-text-wrap" style="padding-top: 20px;">
                Dr. {{dr.first_name}} {{dr.last_name}}
              </h3>
            </ion-item>
            <ion-badge color="medium"> {{dr.status}}</ion-badge>
          </ion-label>
        </ion-item>
      </ng-container>

      <ng-container>
        <div
          *ngIf="!objecthandler && !isFetchDone else noDataAvailable"
          class="ion-padding custom-skeleton"
        >
          <!-- Skeleton  -->
          <ion-item>
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label style="margin-top: -10px;">
              <ion-item class="ion-no-padding" style="padding-bottom: 5px;">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-item>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label style="margin-top: -10px;">
              <ion-item class="ion-no-padding" style="padding-bottom: 5px;">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-item>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label style="margin-top: -10px;">
              <ion-item class="ion-no-padding" style="padding-bottom: 5px;">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-item>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label style="margin-top: -10px;">
              <ion-item class="ion-no-padding" style="padding-bottom: 5px;">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-item>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-label>
          </ion-item>
        </div>
      </ng-container>

      <ng-template #noDataAvailable>
        <div *ngIf="!objecthandler && isFetchDone">
          <ion-list-header slot="center" mode="ios">
            ...
          </ion-list-header>
        </div>
      </ng-template>

      <!--ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://bitbucket.org/chonghuahospital-it/chh-it-ibm-virtual-assistant-images/downloads/kdamora-sample-pic-for-ionic-avatar.jpg">
      </ion-avatar>
      <ion-label>
        <ion-item class="ion-no-padding">
          <h3 class="ion-text-wrap ">Dr. Reginita Uy</h3>
        </ion-item>
        <div class="ion-text-wrap" style="padding-top:5px"><p>Primary Attending Physician</p></div>
        </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://bitbucket.org/chonghuahospital-it/chh-it-ibm-virtual-assistant-images/downloads/kdamora-sample-pic-for-ionic-avatar.jpg">
      </ion-avatar>
      <ion-label>
        <ion-item class="ion-no-padding">
          <h3 class="ion-text-wrap ">Dr. Joel Yu</h3>
        </ion-item>
        <div class="ion-text-wrap" style="padding-top:5px"><p>Co - Manage</p></div>
        </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://bitbucket.org/chonghuahospital-it/chh-it-ibm-virtual-assistant-images/downloads/kdamora-sample-pic-for-ionic-avatar.jpg">
      </ion-avatar>
      <ion-label>
        <ion-item class="ion-no-padding">
          <h3 class="ion-text-wrap ">Dr. Gary Galon</h3>
        </ion-item>
        <div class="ion-text-wrap" style="padding-top:5px"><p>Co - Manage</p></div>
        </ion-label>
    </ion-item-->
    </ion-list>
  </ion-card>

  <!--


<ion-card>
<ion-item lines="none">
  <ion-avatar slot="start">
    <img src="https://bitbucket.org/chonghuahospital-it/chh-it-ibm-virtual-assistant-images/downloads/kdamora-sample-pic-for-ionic-avatar.jpg">
  </ion-avatar>
  <ion-label>
    <ion-item class="ion-no-padding">
      <h3 class="ion-text-wrap ">{{data.last_name}}, {{data.first_name}} {{data.middle_name}}</h3>
      <ion-badge color="warning" slot="end" *ngIf="professionalFee == null">PF</ion-badge>
      <ion-badge color="success" slot="end"  *ngIf="professionalFee != null">PF</ion-badge>
    </ion-item>
    <ion-row class="ion-no-padding" lines="none" style="padding-top:5px">
    
        <p *ngIf="data.site == 'C'">
          <ion-icon name="location-outline" slot="start"></ion-icon>
          Chong Hua Hospital (Cebu)
        </p>
        <p  *ngIf="data.site == 'M'">
          <ion-icon name="location-outline" slot="start"></ion-icon>
          Chong Hua Hospital Mandaue
        </p>
      <p>
        <ion-icon name="bed-outline" slot="start"></ion-icon>
        Room {{data.room_no}}
      </p><br />
    </ion-row> 
    <ion-row class="ion-text-wrap ">
      <p>Status : {{data.admission_status}}</p>
      <p>Admission Date : {{data.admission_date}}</p>
    </ion-row>  
  </ion-label>
</ion-item>
</ion-card>



<ion-card>
<ion-item lines="none">
  <ion-avatar slot="start">
    <img src="https://bitbucket.org/chonghuahospital-it/chh-it-ibm-virtual-assistant-images/downloads/kdamora-sample-pic-for-ionic-avatar.jpg">
  </ion-avatar>
  <ion-label>
    <ion-item class="ion-no-padding">
      <h3 class="ion-text-wrap ">{{data.last_name}}, {{data.first_name}} {{data.middle_name}}</h3>
      <ion-badge color="warning" slot="end" *ngIf="professionalFee == null">PF</ion-badge>
      <ion-badge color="success" slot="end"  *ngIf="professionalFee != null">PF</ion-badge>
    </ion-item>
    <ion-row class="ion-no-padding" lines="none">
      <div *ngIf="data.site == 'C'">
        <p>
          <ion-icon name="location-outline" slot="start"></ion-icon>
          Chong Hua Hospital (Cebu)
        </p>
        <p>
          <ion-icon name="bed-outline" slot="start"></ion-icon>
          Room {{data.room_no}}
        </p>
      </div>
      <div *ngIf="data.site == 'M'">
        <p>
          <ion-icon name="location-outline" slot="start"></ion-icon>
          Chong Hua Hospital Mandaue
        </p>
        <p>
          <ion-icon name="bed-outline" slot="start"></ion-icon>
          Room {{data.room_no}}
        </p>
      </div>
      
    </ion-row> 
  </ion-label>
</ion-item>




<ion-card-content>
  <h3>{{data.Doctor_Status}}</h3>
  {{data.admission_status}}<br />
  Admission Date : {{data.admission_date}}
  <ion-item button (click)='detail(data.admission_no)'  class="ion-no-padding">
    <ion-label >
      <b>Doctor's Fee :  {{professionalFee}}</b>
    </ion-label>
  </ion-item>
  <ion-item  class="ion-no-padding">
    <ion-label>
      <b>Remarks : {{remarks}}</b>
    </ion-label>
  </ion-item><br />
  <b>Primary Attending Physician</b><br />
  Dr. Reginita Uy<br />
  <b>Co - Manage</b><br />
  Dr. Joel Yu<br />
  Dr. Gary Galon
</ion-card-content>

</ion-card>
-->


<!--ion-card>
<ion-item>
  <ion-avatar slot="start">
    <img src="https://bitbucket.org/chonghuahospital-it/chh-it-ibm-virtual-assistant-images/downloads/kdamora-sample-pic-for-ionic-avatar.jpg">
  </ion-avatar>
  <ion-label>
    <h3>John Doe</h3>
    <p>Dec 10, 2019</p>
  </ion-label>
</ion-item>



<ion-card-content>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis mollis ligula sed ultrices.
</ion-card-content-->

<!--ion-footer>
  <ion-row>
    <ion-col center text-center>
      <button>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>1.5k Likes</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <button>
        <ion-icon name="text"></ion-icon>
        <div>4 Comments</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <button>
        <ion-icon name="time"></ion-icon>
        <div>11h ago</div>
      </button>
    </ion-col>
  </ion-row>
</ion-footer>
</ion-card-->


















<!--

<ion-grid ion-grid-width-md *ngIf="isDesktop">
  <ion-row > 
    <ion-col size="12" size-sm >
                <ion-list> 
                  <ion-item lines="none">

                    <ion-avatar slot="start">
                      <chh-app-text-avatar [text]="data.last_name" [color]=""></chh-app-text-avatar>
                    </ion-avatar>
                    <ion-label>
                      <ion-item class="ion-no-padding">
                        <h2 class="ion-text-wrap" style="padding-top: 20px;">
                          <b>{{data.last_name}}, {{data.first_name}} {{data.middle_name}}</b>
                        </h2>
                  
                      </ion-item>
                      <div class="ion-text-wrap" style="padding-top: 5px;">
                        <div *ngIf="data.site == 'C'">
                          <ion-icon name="location-outline" slot="start"></ion-icon>
                          Chong Hua Hospital
                        </div>
                        <div *ngIf="data.site == 'M'">
                          <ion-icon name="location-outline" slot="start"></ion-icon>
                          Chong Hua Hospital Mandaue
                        </div>
                        <div>
                          <ion-icon name="bed-outline" slot="start"></ion-icon>
                          Room {{data.room_no}}<br />
                          <ion-icon name="clipboard-outline" slot="start"></ion-icon>
                          as {{data.Doctor_Status}}<br />
                          <ion-chip *ngIf="data.admission_status == 'AC'">
                            <ion-label color="mango"><b>Admitted</b></ion-label>
                          </ion-chip>
            
      
            
                          <ion-chip *ngIf="data.admission_status == 'DN'">
                            <ion-label color="mango"><b>For Discharge</b></ion-label>
                          </ion-chip>
            
  
                        </div>
                      </div>
                    </ion-label>
                  </ion-item>
                  <ion-item lines="none" style="padding-bottom: 10px;">
                    <div class="ion-text-wrap">

                      <ion-icon name="calendar-outline"></ion-icon
                      ><ion-text> Admission Date : {{dateAdmitted}}</ion-text>
                    </div>
                  </ion-item>
                </ion-list>
    </ion-col>
    <ion-col size="12" size-sm >
                <ion-list>
                  <ion-item style="padding-top: 10px;">
                    <div class="ion-text-wrap"><b>Admitting Diagnosis</b><br /></div>
                    
                  </ion-item>
                  <ion-item style="padding-top: 10px;" lines="none">
                    <div class="ion-text-wrap">
            
                      <div *ngIf="admittingDiagnosis" class="custom-font">
                        <div *ngIf="admittingDiagnosis.length <= 100" [innerHTML]="admittingDiagnosis">
            
                        </div>
                        <div class="" *ngIf="truncating1 && admittingDiagnosis.length > 100" [innerHTML]="admittingDiagnosis1">
            
                          
                        </div>
                        <button *ngIf="truncating1 && admittingDiagnosis.length > 100" ion-button (click)="truncating1 = false">show more</button>
                        <div *ngIf="!truncating1 && admittingDiagnosis.length > 100" [innerHTML]="admittingDiagnosis2">
                          <ion-text class="ion-text-wrap "><br/></ion-text>
                          
                        </div>
                        <button *ngIf="!truncating1 && admittingDiagnosis.length > 100" ion-button (click)="truncating1 = true">show less</button>
                      </div>
            
            
                        <ng-container>
                          <div
                            *ngIf="!objecthandler && !isFetchDone else noDataAvailable"
                            class=" custom-skeleton">
                            <ion-item>
                              <ion-label style="margin-top: -10px;">
                                <ion-item  style="padding-bottom: 5px;">
                                  <ion-skeleton-text animated></ion-skeleton-text>
                                </ion-item>
                                <ion-skeleton-text animated></ion-skeleton-text>
                              </ion-label>
                            </ion-item>
                          </div>
                        </ng-container>
            
            
                    </div>
                  </ion-item>
            
                </ion-list>
    </ion-col>
    <ion-col size="12" size-sm >
                <ion-list>
                  <ion-item style="padding-top: 10px;">
                    <div class="ion-text-wrap"><b>Final Diagnosis</b><br /></div>
                    
                  </ion-item>
                  <ion-item style="padding-top: 10px;" lines="none">
                    <div class="ion-text-wrap">
            
                      <div *ngIf="finalDiagnosis" class="custom-font">
                        <div *ngIf="finalDiagnosis.length <= limit">{{finalDiagnosis}}</div>
                        <div *ngIf="truncating && finalDiagnosis.length > limit">
                          {{finalDiagnosis1}}
                          <button ion-button (click)="truncating = false">show more</button>
                        </div>
                        <div *ngIf="!truncating && finalDiagnosis.length > limit">
                    
                          <div *ngFor="let x of finalDiagnosis2">
                            <ion-text style="padding-top: 15px;"
                        >{{x}}<br
                      /></ion-text>
                          </div>
                          <button ion-button (click)="truncating = true">show less</button>
                        </div>
                        </div>
                        
                        <ng-container>
                          <div
                            *ngIf="!objecthandler && !isFetchDone else noDataAvailable"
                            class=" custom-skeleton">
                            <ion-item>
                              <ion-label style="margin-top: -10px;">
                                <ion-item  style="padding-bottom: 5px;">
                                  <ion-skeleton-text animated></ion-skeleton-text>
                                </ion-item>
                                <ion-skeleton-text animated></ion-skeleton-text>
                              </ion-label>
                            </ion-item>
                          </div>
                        </ng-container>
                    </div>
                  </ion-item>
            
                </ion-list>
    </ion-col>
    <ion-col size="12" size-sm >
                <ion-list>
                  <ion-item style="padding-top: 10px;">
                    <div class="ion-text-wrap"><b>Professional Fee</b><br /></div>
                  </ion-item>
                  
                  <ion-item style="padding-top: 10px;" lines="none">
                    <div class="ion-text-wrap">
                      <ion-text style="padding-top: 15px;"
                        >Days Managed: {{daysOfManage}} Days<br/>
                    </ion-text>
                      <ion-text style="padding-top: 15px;"
                        >Amount : {{professionalFee}}<br
                      /></ion-text>
                      <ion-text class="ion-text-wrap">Remarks : {{remarks}}</ion-text>
                    </div>
                  </ion-item>
                  <ion-item lines="none" style="padding-top: 10px;" style="padding-bottom: 8px;">
                    <ion-grid class="ion-no-padding">
                      <ion-row>
                        <ion-col size-xs="12">
                          <ion-button
                          color="mango"
                            size="default"
                            expand="block"
                            shape="round"
                            (click)="detail(data.admission_no)"
                            *ngIf="data.is_posted == 0 || data.is_posted == null"
                    
                            >UPDATE</ion-button
                          >
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                </ion-list>
    </ion-col>
    
  </ion-row>
</ion-grid>



<ion-grid ion-grid-width-md *ngIf="isDesktop">

        <ion-col>
          <ion-row>
            <ion-col size="3" class="max-height-500 overflow-scroll">
              <ion-item style="padding-top: 10px;">
                
                <div class="ion-text-wrap"><b>Result list</b><br /></div>
              </ion-item>
              <div *ngFor="let x of currentExamList" >
                <ion-item lines="" (click)="examDetails(x,data.site)" class="pointer">
                  <div class="ion-text-wrap"  >
                    <ion-text >
                      {{x.Test_Name}}
                    </ion-text> <br />
                    <ion-text >
                      <b class="fontSize-14 font-weight-bold">{{x.Exam}}</b>
                    </ion-text><br />
                    <ion-text >
                      <b class="fontSize-14 font-weight-bold">{{x.RequestDateTime}}</b>
                    </ion-text>
                  </div>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="6" class="max-height-500 overflow-scroll">

          
                <app-chh-app-test-serology
                [examDetails]="ExamData"
                [site]="hospitalSite"
                *ngIf="serology && refresher"></app-chh-app-test-serology> 
                
                <app-chh-app-test-chemistry
                [examDetails]="ExamData"
                [site]="hospitalSite"
                *ngIf="chemistry && refresher"
                ></app-chh-app-test-chemistry>

                <app-chh-app-test-fecalysis
                [examDetails]="ExamData"
                [site]="hospitalSite"
                *ngIf="fecalysis && refresher"
                ></app-chh-app-test-fecalysis>
   
            </ion-col>

            <ion-col size="3"  >
              <ion-item style="padding-top: 10px;">
                <div class="ion-text-wrap"><b>Doctors</b><br /></div>
              </ion-item>
              <ion-list >

                <ng-container class="overflow-scroll max-height-500 overflow-scroll">
                  <ion-item lines="none" *ngFor="let dr of coDoctors">
                    <ion-avatar slot="start">
                      <chh-app-text-avatar [text]="dr.last_name" [color]=""></chh-app-text-avatar>
                    </ion-avatar>
                    <ion-label style="margin-top: -10px;">
                      <ion-item class="ion-no-padding" style="padding-bottom: 5px;">
                        <h3 class="ion-text-wrap" style="padding-top: 20px;">
                          Dr. {{dr.first_name}} {{dr.last_name}}
                        </h3>
                      </ion-item>
                      <ion-badge color="medium"> {{dr.status}}</ion-badge>
                    </ion-label>
                  </ion-item>
                </ng-container>
          
                <ng-container>
                  <div
                    *ngIf="!objecthandler && !isFetchDone else noDataAvailable"
                    class="ion-padding custom-skeleton"
                  >
              
                    <ion-item>
                      <ion-avatar slot="start">
                        <ion-skeleton-text animated></ion-skeleton-text>
                      </ion-avatar>
                      <ion-label style="margin-top: -10px;">
                        <ion-item class="ion-no-padding" style="padding-bottom: 5px;">
                          <ion-skeleton-text animated></ion-skeleton-text>
                        </ion-item>
                        <ion-skeleton-text animated></ion-skeleton-text>
                      </ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-avatar slot="start">
                        <ion-skeleton-text animated></ion-skeleton-text>
                      </ion-avatar>
                      <ion-label style="margin-top: -10px;">
                        <ion-item class="ion-no-padding" style="padding-bottom: 5px;">
                          <ion-skeleton-text animated></ion-skeleton-text>
                        </ion-item>
                        <ion-skeleton-text animated></ion-skeleton-text>
                      </ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-avatar slot="start">
                        <ion-skeleton-text animated></ion-skeleton-text>
                      </ion-avatar>
                      <ion-label style="margin-top: -10px;">
                        <ion-item class="ion-no-padding" style="padding-bottom: 5px;">
                          <ion-skeleton-text animated></ion-skeleton-text>
                        </ion-item>
                        <ion-skeleton-text animated></ion-skeleton-text>
                      </ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-avatar slot="start">
                        <ion-skeleton-text animated></ion-skeleton-text>
                      </ion-avatar>
                      <ion-label style="margin-top: -10px;">
                        <ion-item class="ion-no-padding" style="padding-bottom: 5px;">
                          <ion-skeleton-text animated></ion-skeleton-text>
                        </ion-item>
                        <ion-skeleton-text animated></ion-skeleton-text>
                      </ion-label>
                    </ion-item>
                  </div>
                </ng-container>
          
                <ng-template #noDataAvailable>
                  <div *ngIf="!objecthandler && isFetchDone">
                    <ion-list-header slot="center" mode="ios">
                      Cannot retrieve list of Doctors at this time. Please retry.
                    </ion-list-header>
                  </div>
                </ng-template>
          
              </ion-list>
  </ion-col>

          </ion-row>
        </ion-col>
      </ion-grid>
    -->





<ion-grid ion-grid-width-md *ngIf="isDesktop">
  <ion-col>
    <ion-row>
      <ion-col size="3" >
             
                  <ion-list> 
                    <ion-item lines="none">
                      <ion-avatar slot="start">
                        <chh-app-text-avatar [text]="data.last_name" [color]=""></chh-app-text-avatar>
                      </ion-avatar>
                      <ion-label>
                        <ion-item class="ion-no-padding">
                          <h2 class="ion-text-wrap">
                            <b>{{data.last_name}}, {{data.first_name}} {{data.middle_name}}</b>
                          </h2>
                    
                        </ion-item>
                        <div class="ion-text-wrap" style="padding-top: 5px;">
                          <div *ngIf="data.site == 'C'">
                            <ion-icon name="location-outline" slot="start"></ion-icon>
                            Chong Hua Hospital
                          </div>
                          <div *ngIf="data.site == 'M'">
                            <ion-icon name="location-outline" slot="start"></ion-icon>
                            Chong Hua Hospital Mandaue
                          </div>
                          <div>
                            <ion-icon name="bed-outline" slot="start"></ion-icon>
                            Room {{data.room_no}}<br />
                            <ion-icon name="clipboard-outline" slot="start"></ion-icon>
                            as {{data.Doctor_Status}}<br />
                            <ion-chip *ngIf="data.admission_status == 'AC'">
                              <ion-label color="mango"><b>Admitted</b></ion-label>
                            </ion-chip>
                            <ion-chip *ngIf="data.admission_status == 'DN'">
                              <ion-label color="mango"><b>For Discharge</b></ion-label>
                            </ion-chip>
                          </div>
                        </div>
                      </ion-label>
                    </ion-item>
                    <ion-item lines="none" style="padding-bottom: 10px;">
                      <div class="ion-text-wrap">
                        <ion-icon name="calendar-outline"></ion-icon
                        ><ion-text> Admission Date : {{dateAdmitted}}</ion-text>
                      </div>
                    </ion-item>
                  </ion-list>  
              
                  <!---->    
                  <ion-list>
                    <ion-item style="padding-top: 10px;">
                      <div class="ion-text-wrap"><b>Professional Fee</b><br /></div>
                    </ion-item>
                    
                    <ion-item style="padding-top: 10px;" lines="none">
                      <div class="ion-text-wrap">
                        <ion-text style="padding-top: 15px;"
                          >Days Managed: {{daysOfManage}} Days<br/>
                      </ion-text>
                        <ion-text style="padding-top: 15px;"
                          >Amount : {{professionalFee}}<br
                        /></ion-text>
                        <ion-text class="ion-text-wrap">Remarks : {{remarks}}</ion-text>
                      </div>
                    </ion-item>
                    <ion-item lines="none" style="padding-top: 10px;" style="padding-bottom: 8px;">
                      <ion-grid class="ion-no-padding">
                        <ion-row>
                          <ion-col size-xs="12">
                            <ion-button
                            color="mango"
                              size="default"
                              expand="block"
                              shape="round"
                              (click)="detail(data.admission_no)"
                              *ngIf="data.is_posted == 0 || data.is_posted == null"
                      
                              >UPDATE</ion-button
                            >
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-item>
                  </ion-list>  
                 
     </ion-col>
      <ion-col size="2" class=" border-left">
        <div class="max-height-73vh overflow-scroll">
                <ion-item style="padding-top: 10px;">
                  <div class="ion-text-wrap"><b>Result list</b><br /></div>
                </ion-item>
                <ion-searchbar           
                  [(ngModel)]="searchBar"
                  (ionChange)="filterList()"
                  mode="ios"></ion-searchbar>
                <div *ngFor="let x of currentExamList_filtered; let i = index" >
                  <ion-item lines="" class="nav-primary pointer" (click)="examDetails(x,data.site,i)" [class.active]="i == HighlightRow" >
                    <div class="ion-text-wrap"  >
                      <ion-text >
                        {{x.Test_Name}}
                      </ion-text> <br />
                      <ion-text >
                        <b class="fontSize-14 font-weight-bold">{{x.Exam}}</b>
                      </ion-text><br />
                      <ion-text >
                        <b class="fontSize-14 font-weight-bold">{{x.RequestDateTime}}</b>
                      </ion-text>
                    </div>
                  </ion-item>
                </div>    
          </div>   
      </ion-col>
      <ion-col size="4" class=" border-left">
        <div class="max-height-73vh overflow-scroll">
                <app-chh-app-test-serology
                [examDetails]="ExamData"
                [site]="hospitalSite"
                *ngIf="serology && refresher"></app-chh-app-test-serology> 
                
                <app-chh-app-test-chemistry
                [examDetails]="ExamData"
                [site]="hospitalSite"
                *ngIf="chemistry && refresher"
                ></app-chh-app-test-chemistry>

                <app-chh-app-test-fecalysis
                [examDetails]="ExamData"
                [site]="hospitalSite"
                *ngIf="fecalysis && refresher"
                ></app-chh-app-test-fecalysis>


                
                <app-chh-app-test-urinalysis
                [examDetails]="ExamData"
                [site]="hospitalSite"
                *ngIf="urinalysis && refresher"
                ></app-chh-app-test-urinalysis>

                <app-chh-app-test-cbc
                [examDetails]="ExamData"
                [site]="hospitalSite"
                *ngIf="cbc && refresher"
                ></app-chh-app-test-cbc>


                </div>
      </ion-col>
      <ion-col size="3">
                  <div class="max-height-73vh overflow-scroll">
                    <!---->    
                    <ion-list>
                    <ion-item style="padding-top: 10px;">
                      <div class="ion-text-wrap"><b>Admitting Diagnosis</b><br /></div>
                      
                    </ion-item>
                    <ion-item style="padding-top: 10px;" lines="none">
                      <div class="ion-text-wrap">
              
                        <div *ngIf="admittingDiagnosis" class="custom-font">
                          <div *ngIf="admittingDiagnosis.length <= 100" [innerHTML]="admittingDiagnosis">
              
                          </div>
                          <div class="" *ngIf="truncating1 && admittingDiagnosis.length > 100" [innerHTML]="admittingDiagnosis1">
              
                            
                          </div>
                          <button *ngIf="truncating1 && admittingDiagnosis.length > 100" ion-button (click)="truncating1 = false">show more</button>
                          <div *ngIf="!truncating1 && admittingDiagnosis.length > 100" [innerHTML]="admittingDiagnosis2">
                            <ion-text class="ion-text-wrap "><br/></ion-text>
                            
                          </div>
                          <button *ngIf="!truncating1 && admittingDiagnosis.length > 100" ion-button (click)="truncating1 = true">show less</button>
                        </div>
              
              
                          <ng-container>
                            <div
                              *ngIf="!objecthandler && !isFetchDone else noDataAvailable"
                              class=" custom-skeleton">
                              <ion-item>
                                <ion-label style="margin-top: -10px;">
                                  <ion-item  style="padding-bottom: 5px;">
                                    <ion-skeleton-text animated></ion-skeleton-text>
                                  </ion-item>
                                  <ion-skeleton-text animated></ion-skeleton-text>
                                </ion-label>
                              </ion-item>
                            </div>
                          </ng-container>
              
              
                      </div>
                    </ion-item>
              
                  </ion-list>
                  <!---->
                  <ion-list>
                    <ion-item style="padding-top: 10px;">
                      <div class="ion-text-wrap"><b>Final Diagnosis</b><br /></div>
                      
                    </ion-item>
                    <ion-item style="padding-top: 10px;" lines="none">
                      <div class="ion-text-wrap">
              
                        <div *ngIf="finalDiagnosis" class="custom-font">
                          <div *ngIf="finalDiagnosis.length <= limit">{{finalDiagnosis}}</div>
                          <div *ngIf="truncating && finalDiagnosis.length > limit">
                            {{finalDiagnosis1}}
                            <button ion-button (click)="truncating = false">show more</button>
                          </div>
                          <div *ngIf="!truncating && finalDiagnosis.length > limit">
                            <!--{{finalDiagnosis}}-->
                            <div *ngFor="let x of finalDiagnosis2">
                              <ion-text style="padding-top: 15px;"
                          >{{x}}<br
                        /></ion-text>
                            </div>
                            <button ion-button (click)="truncating = true">show less</button>
                          </div>
                          </div>
                          
                          <ng-container>
                            <div
                              *ngIf="!objecthandler && !isFetchDone else noDataAvailable"
                              class=" custom-skeleton">
                              <ion-item>
                                <ion-label style="margin-top: -10px;">
                                  <ion-item  style="padding-bottom: 5px;">
                                    <ion-skeleton-text animated></ion-skeleton-text>
                                  </ion-item>
                                  <ion-skeleton-text animated></ion-skeleton-text>
                                </ion-label>
                              </ion-item>
                            </div>
                          </ng-container>
                      </div>
                    </ion-item>
              
                  </ion-list>
                  <!----> 
                  <ion-item style="padding-top: 10px;">
                    <div class="ion-text-wrap"><b>Doctors</b><br /></div>
                  </ion-item>
                  <ion-list >

                    <ng-container class="overflow-scroll max-height-500 overflow-scroll">
                      <ion-item lines="none" *ngFor="let dr of coDoctors">
                        <ion-avatar slot="start">
                          <chh-app-text-avatar [text]="dr.last_name" [color]=""></chh-app-text-avatar>
                        </ion-avatar>
                        <ion-label style="margin-top: -10px;">
                          <ion-item class="ion-no-padding" style="padding-bottom: 5px;">
                            <h3 class="ion-text-wrap" style="padding-top: 20px;">
                              Dr. {{dr.first_name}} {{dr.last_name}}
                            </h3>
                          </ion-item>
                          <ion-badge color="medium"> {{dr.status}}</ion-badge>
                        </ion-label>
                      </ion-item>
                    </ng-container>
              
                    <ng-container>
                      <div
                        *ngIf="!objecthandler && !isFetchDone else noDataAvailable"
                        class="ion-padding custom-skeleton"
                      >
                        <!-- Skeleton  -->
                        <ion-item>
                          <ion-avatar slot="start">
                            <ion-skeleton-text animated></ion-skeleton-text>
                          </ion-avatar>
                          <ion-label style="margin-top: -10px;">
                            <ion-item class="ion-no-padding" style="padding-bottom: 5px;">
                              <ion-skeleton-text animated></ion-skeleton-text>
                            </ion-item>
                            <ion-skeleton-text animated></ion-skeleton-text>
                          </ion-label>
                        </ion-item>
                        <ion-item>
                          <ion-avatar slot="start">
                            <ion-skeleton-text animated></ion-skeleton-text>
                          </ion-avatar>
                          <ion-label style="margin-top: -10px;">
                            <ion-item class="ion-no-padding" style="padding-bottom: 5px;">
                              <ion-skeleton-text animated></ion-skeleton-text>
                            </ion-item>
                            <ion-skeleton-text animated></ion-skeleton-text>
                          </ion-label>
                        </ion-item>
                        <ion-item>
                          <ion-avatar slot="start">
                            <ion-skeleton-text animated></ion-skeleton-text>
                          </ion-avatar>
                          <ion-label style="margin-top: -10px;">
                            <ion-item class="ion-no-padding" style="padding-bottom: 5px;">
                              <ion-skeleton-text animated></ion-skeleton-text>
                            </ion-item>
                            <ion-skeleton-text animated></ion-skeleton-text>
                          </ion-label>
                        </ion-item>
                        <ion-item>
                          <ion-avatar slot="start">
                            <ion-skeleton-text animated></ion-skeleton-text>
                          </ion-avatar>
                          <ion-label style="margin-top: -10px;">
                            <ion-item class="ion-no-padding" style="padding-bottom: 5px;">
                              <ion-skeleton-text animated></ion-skeleton-text>
                            </ion-item>
                            <ion-skeleton-text animated></ion-skeleton-text>
                          </ion-label>
                        </ion-item>
                      </div>
                    </ng-container>
              
                    <ng-template #noDataAvailable>
                      <div *ngIf="!objecthandler && isFetchDone">
                        <ion-list-header slot="center" mode="ios">
                          ...
                        </ion-list-header>
                      </div>
                    </ng-template>
              
                  </ion-list>
                  <!---->
                </div>
      </ion-col>




    </ion-row>







  </ion-col>
</ion-grid>
























</ion-content>