ion-list.no-last-border {
    :last-child {
      --border-style: none !important;
    }
  }


 @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

.custom-font{
  font-family: 'Inconsolata', monospace;
}


.nav-primary.active {
  color: #275228; 
  font-weight:bolder;
  font-size: large;
}