<ion-header mode="md" class="ion-no-border" *ngIf="!isDesktop"> 


  <ion-toolbar color="mango">
    <span 
      class="padding-left-10"         
      routerLink="/executive/doctors/" routerDirection="backward"
      color="chh-css-primary2"
      >
      <ion-icon name="arrow-back-outline"  class="my-icon vcenter"></ion-icon>

    </span>


    <span  class="padding-left-30 font-weight-500 font-size-20"> &nbsp;&nbsp;Patient Information </span>
  </ion-toolbar>

</ion-header>
 <ion-content >
    <app-chh-app-patient-header
      [data]="data"
      [dateAdmitted]="dateAdmitted"
      [forMoreOrLess]="true"
      >
    </app-chh-app-patient-header>
   
    <app-chh-app-admitting-diagnosis
      [admittingDiagnosis]="admittingDiagnosis"
      [admittingDiagnosis1]="admittingDiagnosis1"
      [admittingDiagnosis2]="admittingDiagnosis2"
      [truncating1]="truncating1">
    </app-chh-app-admitting-diagnosis>
   
    <app-chh-app-final-diagnosis
      [data]="admissionstatus"
      [finalDiagnosis]="finalDiagnosis"
      [limit]="limit"
      [truncating]="truncating"
      [finalDiagnosis1]="finalDiagnosis1"
      [finalDiagnosis2]="finalDiagnosis2"
    ></app-chh-app-final-diagnosis>
 
    <app-chh-app-list-of-doctors  
      [coDoctors]="coDoctors"
      [objecthandler]="objecthandler"
      [isFetchDone]="isFetchDone">
    </app-chh-app-list-of-doctors>
  </ion-content>
