<ion-header mode="md" class="ion-no-border">
  <div *ngIf="!isDesktop">
    <ion-toolbar color="mango">
      <ion-title>
        <ion-icon name="reader-outline"></ion-icon> Medical Certificate<ion-text style="font-size:14px">
        </ion-text>
      </ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="custom-padding">
      <ion-col size-md="8" offset-md="2" size-lg="6" offset-lg="3" class="custom-border-bottom ion-no-border ">

        <ion-card mode="ios">
          <ion-card *ngIf="!isPDFLoading">
            <ion-item>
              <ion-label style="margin-top: -10px;">
                <ion-item class="ion-no-padding" style="padding-bottom: 5px;">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-item>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-label>
            </ion-item>
          </ion-card>
          <pinch-zoom style="background-color: rgb(255, 255, 255);" *ngIf="isPDFLoading">
            <pdf-viewer [src]="pdfSrc" [rotation]="0" [original-size]="false" [show-all]="true" [fit-to-page]="false"
              [zoom]="1" [zoom-scale]="'page-width'" [stick-to-page]="false" [render-text]="true"
              [external-link-target]="'blank'" [autoresize]="true" [show-borders]="false"
              style="width: 100vh; height: 50vh;">
            </pdf-viewer>
          </pinch-zoom>




          <ion-button *ngIf="isPDFLoading" (click)="onClick()">Sign Document </ion-button>
          <ion-button id="trigger-button" style="display:none">Sign Document</ion-button>
          <ion-modal trigger="trigger-button" show-backdrop="true" class="ion6modaltest">
            <ng-template>
              <div style="padding: 10px;">


                <div class="signature-container" style="border: solid 1px #000000;">
                  <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()"
                    (onEndEvent)="drawComplete()">
                  </signature-pad>

                </div>
                <ion-grid>
                  <ion-row>
                    <ion-col size="6">
                      <ion-button color="danger" (click)="clearPad()">Clear</ion-button>
                    </ion-col>
                    <ion-col size="4" offset="2">
                      <ion-button color="secondary" (click)="savePad()">Save</ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <!--img src='{{ signatureImg }}' /-->
              </div>
            </ng-template>
          </ion-modal>


          <!--ion-button id="open-modal" style="float:right" *ngIf="isPDFLoading" (click)="onClick()">Approve</ion-button>
          <ion-modal trigger="open-modal" show-backdrop="true" class="ion6modaltest">
            <ng-template>
              <div style="padding: 10px;">

                <div class="signature-container" style="border: solid 1px #000000;">
                  <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()"
                    (onEndEvent)="drawComplete()">
                  </signature-pad>

                </div>
                <ion-grid>
                  <ion-row>
                    <ion-col size="6">
                      <ion-button color="danger" (click)="clearPad()">Clear</ion-button>
                    </ion-col>
                    <ion-col size="4" offset="2">
                      <ion-button color="secondary" (click)="savePad()">Save</ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
       
              </div>
            </ng-template>
          </ion-modal-->


        </ion-card>


      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>