<ion-header mode="md" class="ion-no-border">
  <div *ngIf="!isDesktop">
    <ion-toolbar color="mango">
      <ion-title>
        <ion-icon name="person-circle-outline"></ion-icon> Patients
      </ion-title>
      <ion-buttons
      slot="end"
      class="buttons-last-slot sc-ion-buttons-ios-h sc-ion-buttons-ios-s ios hydrated"
    >
    <ion-button
    (click)="settings()"
      >&nbsp; <ion-icon name="settings-outline" class="icon–big"></ion-icon>
    </ion-button>
  </ion-buttons>
    </ion-toolbar>
   
  </div>


  <ion-grid class="ion-no-padding chh-darkmode">
    <ion-row>
      <ion-col
        size-md="8"
        offset-md="2"
        size-lg="4"
        offset-lg="4"
        class="custom-border-bottom ion-no-border custom-padding"
      >

      </ion-col>
    </ion-row>
    <ion-row class="">
      <ion-col
        size-md="8"
        offset-md="2"
        size-lg="4"
        offset-lg="4"
        class="ion-no-border"
      >
        <ion-searchbar
          [(ngModel)]="searchBar"
          (ionChange)="filterList()"
          mode="ios"
        ></ion-searchbar>
        <ion-segment scrollable value="heart" class="scrollable-element" (ionChange)="segmentChanged()" [(ngModel)]="segmentModel" value="ALL">
          <ion-segment-button value="ALL" >
            All
          </ion-segment-button>
          <ion-segment-button value="Admitted">
            Admitted
          </ion-segment-button>
          <ion-segment-button value="For Discharge">
            For Discharge
          </ion-segment-button>
         
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" mode="ios">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-md="8" offset-md="2" size-lg="4" offset-lg="4">
        <ng-container>
          <div *ngFor="let x of listOfPatients">

         
            <ion-card (click)="detail(x)" mode="ios"  class="pointer">
              
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <chh-app-text-avatar [text]="x.patientName" [color]=""></chh-app-text-avatar>
                </ion-avatar>
                <ion-label style="margin-top: -5px;">
                  <ion-item
                    slot="start"
                    lines="none"
                    class="ion-no-padding"
                    style="padding-bottom: 5px;"
                  >
                    <h2 class="ion-text-wrap" style="padding-top: 20px;">
                      {{ x.patientName }}
                    </h2>
 
                  </ion-item>
 

      
                  <ion-row
                    class="ion-no-padding"
                    lines="none"
                    style="padding-top: 10px !important;"
                  >
                    <p>
                      <span *ngIf="x.site ==siteC ">
                        <ion-icon
                          name="location-outline"
                          slot="start"
                        ></ion-icon
                        > {{this.constants.CHH_NAME__VALUE__CEBU}}
                      </span>
                      <span *ngIf="x.site == siteM">
                        <ion-icon
                          name="location-outline"
                          slot="start"
                        ></ion-icon
                        > {{this.constants.CHH_NAME__VALUE__MANDAUE}} </span
                      ><br />
                      <ion-icon name="bed-outline" slot="start"></ion-icon> Room
                      {{x.roomNo}}<br />
                 
                      <ion-badge color="warning" slot="end" *ngIf="x.admission_status == 'DN'">
                        for discharge</ion-badge>
                      <!--ion-icon name="body-outline"></ion-icon>Patient Journey<br /-->
                    </p>
                    <br />
                  </ion-row>
                </ion-label>
              </ion-item>
            </ion-card>





          </div>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
