
  <ion-segment value="2"  mode="ios">
    <ion-segment-button value="1" (click)="adjustDate('-1')" > <ion-icon name="arrow-back-outline"></ion-icon> </ion-segment-button>

    <ion-segment-button value="2" (click)="forceModal()">
    <ion-datetime [pickerOptions]="customPickerOptions" displayFormat="YYYY-MM-DD" min="2020-05-01"  max="2020-12-31" [value]="selectedDate" ></ion-datetime>
  </ion-segment-button>
  <ion-datetime [pickerOptions]="customPickerOptions" displayFormat="YYYY-MM-DD" min="2020-05-01"  max="2020-12-31" [value]="selectedDate" ></ion-datetime>
  
    <ion-segment-button value="3" (click)="adjustDate('1')" ><ion-icon name="arrow-forward-outline"></ion-icon></ion-segment-button>
  </ion-segment>   
