<ion-header mode="md" class="ion-no-border" *ngIf="!isDesktop">
  <div>
    <ion-toolbar color="mango">
      <ion-title>
        <ion-icon name="file-tray-full-outline"></ion-icon> Case Rates
      </ion-title>
      <ion-buttons
        slot="end"
        class="buttons-last-slot sc-ion-buttons-ios-h sc-ion-buttons-ios-s ios hydrated">
        <ion-button (click)="settings()"
          >&nbsp; <ion-icon name="settings-outline" class="icon–big"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>
<!-- <app-chh-app-desktop-navigation *ngIf="isDesktop"></app-chh-app-desktop-navigation> -->
<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="custom-padding">
      <ion-col
        size-md="8"
        offset-md="2"
        size-lg="6"
        offset-lg="3"
        class="custom-border-bottom ion-no-border">
        <ion-grid>
          <!--ion-list>
            <ion-item *ngFor="let x of caseRateResponse_first">
              <ion-label>
                <h2 class="ion-text-wrap">{{x.case_desc}}</h2>
                <h3 class="ion-text-wrap" slot="end">Case Code : {{x.case_code}}</h3>
                <ion-badge>
                  <h3 class="ion-text-wrap">
                    <b>PF : {{x.case_pf }}</b>
                  </h3>
                </ion-badge>
              </ion-label>
            </ion-item>
          </ion-list-->

          <div class="custom-skeleton" *ngIf="ionSkeleton">
            <ion-list>
              <ion-item>
                <ion-label>
                  <h2 class="ion-text-wrap">
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </h2>
                  <h3 class="ion-text-wrap">
                    <ion-skeleton-text
                      animated
                      style="width: 88%"></ion-skeleton-text>
                  </h3>
                  <h3 class="ion-text-wrap">
                    <ion-skeleton-text
                      animated
                      style="width: 70%"></ion-skeleton-text>
                  </h3>
                </ion-label>
              </ion-item>
            </ion-list>
            <ion-list>
              <ion-item>
                <ion-label>
                  <h2 class="ion-text-wrap">
                    <ion-skeleton-text
                      animated
                      style="width: 40%"></ion-skeleton-text>
                  </h2>
                  <h3 class="ion-text-wrap">
                    <ion-skeleton-text
                      animated
                      style="width: 30%"></ion-skeleton-text>
                  </h3>
                  <h3 class="ion-text-wrap">
                    <ion-skeleton-text
                      animated
                      style="width: 70%"></ion-skeleton-text>
                  </h3>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>

          <div *ngIf="ionNoData">
            <ion-grid>
              <ion-row>
                <ion-col size="8" offset="2">
                  <div class="vertical-center">
                    <div class="center">
                      <img src="assets/img/no-data-rafiki.png" />
                    </div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>

          <div *ngIf="ionStart">
            <div class="ion-text-center">
              <img src="assets/img/hunt-rafiki.png" alt="Search" />
              <h3>Search to see case rates</h3>
            </div>
          </div>
          <ion-list>
            <ion-item *ngFor="let x of caseRate">
              <ion-label>
                <h2 class="ion-text-wrap">{{x.case_desc}}</h2>
                <h3 class="ion-text-wrap" slot="end">
                  Case Code : {{x.case_code}}
                </h3>
                <ion-badge>
                  <h3 class="ion-text-wrap">
                    <b>PF : {{x.case_pf }}</b>
                  </h3>
                </ion-badge>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<!--ion-content *ngIf="ccCase=='second'">
  <ion-grid class="ion-no-padding">
    <ion-row class="custom-padding">
      <ion-col size-md="8" offset-md="2" size-lg="6" offset-lg="3" class="custom-border-bottom ion-no-border ">
        <ion-grid>
          <div class="custom-skeleton" *ngIf="ionSkeleton1">
            <ion-list>
              <ion-item>
                <ion-label>
                  <h2 class="ion-text-wrap">
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </h2>
                  <h3 class="ion-text-wrap">
                    <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
                  </h3>
                  <h3 class="ion-text-wrap">
                    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                  </h3>
                </ion-label>
              </ion-item>
            </ion-list>
            <ion-list>
              <ion-item>
                <ion-label>
                  <h2 class="ion-text-wrap">
                    <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                  </h2>
                  <h3 class="ion-text-wrap">
                    <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                  </h3>
                  <h3 class="ion-text-wrap">
                    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                  </h3>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
          <div *ngIf="ionNoData1">
            <ion-grid>
              <ion-row>
                <ion-col size="8" offset="2">
                  <div class="vertical-center">
                    <div class="center">
                      <img src="assets/img/no-data-rafiki.png" />
                    </div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <div *ngIf="ionStart1">
            <div class="ion-text-center">
              <img src="assets/img/hunt-rafiki.png" alt="Search" />
              <h3>Search to see case rates</h3>
            </div>
          </div>
          <ion-list>
            <ion-item *ngFor="let x of caseRateResponse_second">
              <ion-label>
                <h2 class="ion-text-wrap">{{x.case_desc}}</h2>
                <h3 class="ion-text-wrap" slot="end">Case Code : {{x.case_code}}</h3>
                <ion-badge>
                  <h3 class="ion-text-wrap">
                    <b>PF : {{x.case_pf }}</b>
                  </h3>
                </ion-badge>
              </ion-label>
            </ion-item>
          </ion-list>

        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content-->
<ion-footer class="ion-no-border" color="mango">
  <ion-grid class="ion-no-padding">
    <ion-row class="custom-padding">
      <ion-col
        size-md="8"
        offset-md="2"
        size-lg="6"
        offset-lg="3"
        class="custom-border-bottom ion-no-border">
        <ion-grid>
          <ion-segment
            (ionChange)="segmentChanged($event)"
            mode="ios"
            [(ngModel)]="caseRateData.case_class"
            color="mango">
            <ion-segment-button value="first">
              <ion-label>1st Case</ion-label>
            </ion-segment-button>
            <ion-segment-button value="second">
              <ion-label>2nd Case</ion-label>
            </ion-segment-button>
          </ion-segment>
          <ion-item>
            <ion-label position="floating">Code : </ion-label>
            <ion-input
              [(ngModel)]="caseRateData.case_code"
              id="input-code"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label
              position="floating"
              [class.activedescription]="activedescription"
              >Description :
            </ion-label>
            <ion-input
              [(ngModel)]="caseRateData.case_desc"
              id="input-searchdesc"></ion-input>
          </ion-item>
          <ion-grid class="ion-no-padding">
            <ion-row>
              <ion-col size-xs="12" size-md="4" size-lg="4"></ion-col>
              <ion-col size-xs="12" size-md="4" size-lg="4">
                <ion-button
                  color="mango"
                  size="default"
                  expand="block"
                  shape="round"
                  (click)="search()"
                  ><span *ngIf="!isLoading">Search</span>
                  <ion-spinner *ngIf="isLoading"></ion-spinner>
                </ion-button>
              </ion-col>
              <ion-col size-xs="12" size-md="4" size-lg="4"></ion-col>
            </ion-row>
          </ion-grid>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
