<ion-content class="ion-padding">
  <ion-slides pager="true">
    <!-- <ion-slide class="ion-padding"> -->
    <ion-slide>
      <!-- <img src="assets/onboarding/1-onboarding-welcome.png"> -->
      <img src="assets/img/world-health-day-rafiki.svg" />
      <div class="slider-text">
        <h2><b>Welcome aboard, Dok!</b></h2>
        <p>
          <b>Chong Hua Hospital</b> extends its <b>gratitude</b> to you for your
          courage and service! Swipe left to see what we’ve built for you.
        </p>
      </div>

      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="skip()"
          >SKIP</ion-button
        >
        <ion-button color="primary" fill="clear" (click)="next()"
          >NEXT</ion-button
        >
      </div>
    </ion-slide>

    <ion-slide class="ion-padding">
      <!-- <img src="assets/onboarding/2-onboarding-inpatients.png"> -->
      <img src="assets/img/medical-care-rafiki.svg" />
      <div class="slider-text">
        <h2>View your admitted patients.</h2>
        <p>
          Get notified via SMS when your patients are admitted to the hospital
          at both sites (Cebu and Mandaue).
        </p>
      </div>

      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="skip()"
          >SKIP</ion-button
        >
        <ion-button color="primary" fill="clear" (click)="next()"
          >NEXT</ion-button
        >
      </div>
    </ion-slide>

    <ion-slide class="ion-padding">
      <!-- <img src="assets/onboarding/3-onboarding-notifications.png"> -->
      <img src="assets/img/online-doctor-rafiki.svg" />
      <div class="slider-text">
        <h2>Submit professional fees online.</h2>
        <p>
          Get notified via SMS when your patients are about to be discharged.
          Then, submission of professional fees can be done anytime, anywhere.
        </p>
      </div>

      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="skip()"
          >SKIP</ion-button
        >
        <ion-button color="primary" fill="clear" (click)="next()"
          >NEXT</ion-button
        >
      </div>
    </ion-slide>

    <ion-slide class="ion-padding">
      <!-- <img src="assets/onboarding/4-onboarding-newsfeed.png"> -->
      <img src="assets/img/news-rafiki.svg" />
      <div class="slider-text">
        <h2>News Feed</h2>
        <p>
          Get updated with hospital-wide news and department-level
          announcements.
        </p>
      </div>

      <!-- <ion-button
      id="button-lets-go"
      *ngIf="android"
      shape="round"
      expand="block"
      (click)="addToHomeScreen()"
      color="primary"
      >INSTALL</ion-button
      >
      </ion-slide> -->
      <ion-button
        id="button-lets-go"
        *ngIf="android"
        expand="block"
        (click)="addToHomeScreen()"
        color="primary"
        >INSTALL</ion-button
      >
      <div class="navigator" *ngIf="!iosVerifier">
        <ion-button color="primary" fill="clear" (click)="goback()"
          >GO BACK</ion-button
        >
      </div>
      <div class="navigator" *ngIf="iosVerifier">
        <ion-button color="primary" fill="clear" (click)="skip()"
          >SKIP</ion-button
        >
        <ion-button color="primary" fill="clear" (click)="next()"
          >NEXT</ion-button
        >
      </div>
    </ion-slide>

    <ion-slide class="ion-padding" *ngIf="iosVerifier">
      <!-- <img src="assets/onboarding/3-onboarding-notifications.png"> -->
      <img src="assets/onboarding/iOS-10.png" />
      <div class="slider-text">
        <h2>How to install DOKi on your iPhone</h2>
        <!--p>
          Get notified via SMS when your patients are about to be discharged.
          Then, submission of professional fees can be done anytime, anywhere.
        </p-->
      </div>

      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="goback()"
          >GO BACK</ion-button
        >
        <ion-button color="primary" fill="clear" (click)="next()"
          >NEXT</ion-button
        >
      </div>
    </ion-slide>

    <ion-slide class="ion-padding" *ngIf="iosVerifier">
      <img src="assets/onboarding/iOS-1.png" />
      <div class="slider-text">
        <h2>Open Safari</h2>
        <p>
          1.) Visit
          <a href="https://doki.chonghua.com.ph" target="_BLANK"
            >doki.chonghua.com.ph</a
          >
          using <b>Safari</b> browser.
        </p>
      </div>
      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="prev()"
          >PREV</ion-button
        >
        <ion-button color="primary" fill="clear" (click)="next()"
          >NEXT</ion-button
        >
      </div>
    </ion-slide>

    <ion-slide class="ion-padding" *ngIf="iosVerifier">
      <img src="assets/onboarding/iOS-6.png" />
      <div class="slider-text">
        <h2>Tap the "Share" button</h2>
        <p>
          2.) Tap the <b>“Share”</b> button found at the bottom of the screen.
        </p>
      </div>
      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="prev()"
          >PREV</ion-button
        >
        <ion-button color="primary" fill="clear" (click)="next()"
          >NEXT</ion-button
        >
      </div>
    </ion-slide>

    <ion-slide class="ion-padding" *ngIf="iosVerifier">
      <img src="assets/onboarding/iOS-7.png" />
      <div class="slider-text">
        <h2>Add to Home Screen</h2>
        <p>3.) Tap Add to <b>Home Screen</b>.</p>
      </div>
      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="prev()"
          >PREV</ion-button
        >
        <ion-button color="primary" fill="clear" (click)="next()"
          >NEXT</ion-button
        >
      </div>
    </ion-slide>

    <ion-slide class="ion-padding" *ngIf="iosVerifier">
      <img src="assets/onboarding/iOS-8.png" />
      <div class="slider-text">
        <h2>Label the App</h2>
        <p>
          4.) Type in the preferred label of the app. <b>“DOKi”</b> is the
          default.
        </p>
      </div>
      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="prev()"
          >PREV</ion-button
        >
        <ion-button color="primary" fill="clear" (click)="next()"
          >NEXT</ion-button
        >
      </div>
    </ion-slide>
    <ion-slide class="ion-padding" *ngIf="iosVerifier">
      <img src="assets/onboarding/iOS-8-1.png" />
      <div class="slider-text">
        <h2>Tap Add</h2>
        <p>5.) Tap Add to confirm.</p>
      </div>
      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="prev()"
          >PREV</ion-button
        >
        <ion-button color="primary" fill="clear" (click)="next()"
          >NEXT</ion-button
        >
      </div>
    </ion-slide>

    <ion-slide class="ion-padding" *ngIf="iosVerifier">
      <img src="assets/onboarding/iOS-9.png" />
      <div class="slider-text">
        <h2>App installed</h2>
        <p>DOKi is the latest app installed.</p>
        <p>6.) Tap DOKi icon from the Home Screen to launch the App.</p>
      </div>
      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="goback()"
          >GO BACK</ion-button
        >
        <!--ion-button color="primary" fill="clear" (click)="next()">NEXT</ion-button-->
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
