<ion-content class="ion-padding">
  <ion-slides pager="true">
    <!-- <ion-slide class="ion-padding"> -->
    <ion-slide>
      <!-- <img src="assets/onboarding/1-onboarding-welcome.png"> -->
      <img src="assets/img/world-health-day-rafiki.svg" />
      <div class="slider-text">
        <h2><b>Welcome aboard, Dok!</b></h2>
        <p>
          We <b>thank you</b> for your courage and service. Swipe left to see
          what we've built for you.
        </p>
      </div>

      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="skip()"
          >SKIP</ion-button
        >
        <ion-button color="primary" fill="clear" (click)="next()"
          >NEXT</ion-button
        >
      </div>
    </ion-slide>

    <ion-slide class="ion-padding">
      <!-- <img src="assets/onboarding/2-onboarding-inpatients.png"> -->
      <img src="assets/img/medical-care-rafiki.svg" />
      <div class="slider-text">
        <h2>View your admitted patients.</h2>
        <p>
          Get notified via SMS when your patients are admitted to the hospital
          at both sites (Cebu and Mandaue).
        </p>
      </div>

      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="skip()"
          >SKIP</ion-button
        >
        <ion-button color="primary" fill="clear" (click)="next()"
          >NEXT</ion-button
        >
      </div>
    </ion-slide>

    <ion-slide class="ion-padding">
      <!-- <img src="assets/onboarding/3-onboarding-notifications.png"> -->
      <img src="assets/img/online-doctor-rafiki.svg" />
      <div class="slider-text">
        <h2>Submit professional fees online.</h2>
        <p>
          Get notified via SMS when your patients are about to be discharged.
          Then, submission of professional fees can be done anytime, anywhere.
        </p>
      </div>

      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="skip()"
          >SKIP</ion-button
        >
        <ion-button color="primary" fill="clear" (click)="next()"
          >NEXT</ion-button
        >
      </div>
    </ion-slide>

    <ion-slide class="ion-padding">
      <!-- <img src="assets/onboarding/4-onboarding-newsfeed.png"> -->
      <img src="assets/img/news-rafiki.svg" />
      <div class="slider-text">
        <h2>News feed</h2>
        <p>
          Get updated with hospital-wide news and department-level
          announcements.
        </p>
      </div>

      <!-- <ion-button
      id="button-lets-go"
      *ngIf="android"
      shape="round"
      expand="block"
      (click)="addToHomeScreen()"
      color="primary"
      >INSTALL</ion-button
      >
      </ion-slide> -->
      <ion-button
        id="button-lets-go"
        expand="block"
        (click)="addToHomeScreen()"
        color="primary"
        >INSTALL</ion-button
      >
      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="goback()"
          >GO BACK</ion-button
        >
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
