<ion-header mode="md" class="ion-no-border">
  <div *ngIf="!isDesktop">
    <ion-toolbar color="mango">
      <ion-title>
        <ion-icon name="reader-outline"></ion-icon> Medical Abstract<ion-text style="font-size:14px">
        </ion-text>
      </ion-title>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content>
  <!--ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" mode="ios" pull-factor="2">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher-->

  <ion-grid class="ion-no-padding">
    <ion-row class="custom-padding">
      <ion-col size-md="8" offset-md="2" size-lg="6" offset-lg="3" class="custom-border-bottom ion-no-border ">

        <ion-card mode="ios">
          <ion-card *ngIf="!isPDFLoading">
            <ion-item>
              <ion-label style="margin-top: -10px;">
                <ion-item class="ion-no-padding" style="padding-bottom: 5px;">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-item>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-label>
            </ion-item>
          </ion-card>
          <pinch-zoom style="background-color: rgb(255, 255, 255);" *ngIf="isPDFLoading">
            <pdf-viewer [src]="pdfSrc" [rotation]="0" [original-size]="false" [show-all]="true" [fit-to-page]="false"
              [zoom]="1" [zoom-scale]="'page-width'" [stick-to-page]="false" [render-text]="true"
              [external-link-target]="'blank'" [autoresize]="true" [show-borders]="false"
              style="width: 100vh; height: 50vh;">
            </pdf-viewer>
          </pinch-zoom>
          <ion-button *ngIf="isPDFLoading" (click)="onClick()">Sign Document</ion-button>
          <ion-button id="trigger-button" style="display:none">Sign Document</ion-button>
          <ion-modal trigger="trigger-button" show-backdrop="true" class="ion6modaltest">

            <ng-template>
              <ion-content class="blur testssss">
                <div class="  customBackground">
                  <div class="  customBackgroundColor" style="padding:10px">
                    <ion-icon style="float:right" size="large" name="close-outline" (click)="closeModal()"></ion-icon>
                    <div class="signature-container ">
                      <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()"
                        (onEndEvent)="drawComplete()">
                      </signature-pad>

                    </div>
                    <ion-grid>
                      <ion-row>
                        <ion-col size="4">
                          <ion-button color="danger" (click)="clearPad()">Clear</ion-button>
                        </ion-col>
                        <ion-col size="5"></ion-col>
                        <ion-col size="3">
                          <ion-button color="secondary" (click)="savePad()">Save</ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                    <!--img src='{{ signatureImg }}' /-->
                  </div>
                </div>
              </ion-content>
            </ng-template>

          </ion-modal>

          <!--div style="padding: 10px;">
            <div class="signature-container" style="border: solid 1px #000000;">
              <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()">
              </signature-pad>

            </div>
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <ion-button color="danger" (click)="clearPad()">Clear</ion-button>
                </ion-col>
                <ion-col size="4" offset="2">
                  <ion-button color="secondary" (click)="savePad()">Save</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div-->




        </ion-card>


      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>