
<ion-header mode="md" class="ion-no-border">
  <ion-toolbar class="in-toolbar ios toolbar-title-default hydrated" color="mango">
    <ion-title>
      <ion-icon name="man-outline"></ion-icon>Add Appointments
    </ion-title>
    <ion-buttons slot="end" class="buttons-last-slot sc-ion-buttons-ios-h sc-ion-buttons-ios-s ios hydrated">
      <ion-button (click)="closeModal('0')" routerDirection="back" class="ios button button-clear ion-activatable ion-focusable hydrated">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  <ion-content >
    <ion-grid class="my-backbround ion-no-padding">
      <ion-row>
        <ion-col >










  <ion-card>
    <ion-card-content>
      
      <ion-item class="ion-no-padding">
        <ion-label position="floating">Location</ion-label>
        <ion-select  [(ngModel)]="location" value = 'M' okText="Ok" cancelText="Cancel" (ionChange)="pickLocation()">
        <ion-select-option value = "C">Chong Hua Hospital</ion-select-option>
        <ion-select-option value = "M">Chong Hua Hospital Mandaue</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>


    <ion-card>
      <ion-card-content>     
        <ion-item class="ion-no-padding" >
        <ion-label position="fixed" style="z-index:10" (click)="openDatePicker123()">Date</ion-label>
        <!--li-ionic4-datepicker [(ngModel)]="mydate1" [inputDateConfig]="datePickerObj" ></li-ionic4-datepicker-->
        <ion-input readonly [(ngModel)]="mydate1" (click)="openDatePicker123()"></ion-input>
        </ion-item>
        <ion-item class="ion-no-padding">
        <ion-label position="floating">Time</ion-label>
        <ion-select  [(ngModel)]="time" okText="Ok" cancelText="Cancel" (ionChange)="uxTime()">
        <div *ngFor="let x of doctorSchedule" >
        <ion-select-option >{{x.time_in}} - {{x.time_out}}</ion-select-option>
        </div>
        </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card disabled="{{uxTimeSelector}}">
      <ion-card-content> 
      <ion-item  class="ion-no-padding">
        <ion-label position="floating">First Name</ion-label>
        <ion-input [(ngModel)]="fname" id="input-remarks"></ion-input>
      </ion-item>
      <ion-item  class="ion-no-padding">
        <ion-label position="floating">Middle Name</ion-label>
        <ion-input  [(ngModel)]="mname" id="input-remarks"></ion-input>
      </ion-item>
      <ion-item  class="ion-no-padding">
        <ion-label position="floating">Last Name</ion-label>
        <ion-input [(ngModel)]="lname" id="input-remarks"></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label position="fixed"  style="z-index:10">Birthdate</ion-label>
        <li-ionic4-datepicker [(ngModel)]="mydate2" [inputDateConfig]="datePickerObj2" ></li-ionic4-datepicker>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label position="floating">Gender</ion-label>
        <ion-select placeholder="Select"  [(ngModel)]="gender">
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
      </ion-item>
</ion-card-content> 
    </ion-card>

      <ion-card>
        <ion-card-content> 
      <ion-item class="ion-no-padding">
      <ion-label position="floating">Address</ion-label>
      <ion-textarea id="input-remarks"  [(ngModel)]="adrress"></ion-textarea>
      </ion-item>
      <ion-item class="ion-no-padding">
      <ion-label position="floating">Contact Number</ion-label>
      <ion-input id="input-remarks"  [(ngModel)]="contact"></ion-input>
      </ion-item>
  


    </ion-card-content>
    <ion-item>
      <ion-button  slot="end" expand="block" id="btn-confirm" (click)="save()" color="mango">
        Save
      </ion-button>
      <ion-button  slot="end" expand="block" id="btn-confirm" (click)="closeModal('0')"color="danger">
        Cancel
      </ion-button>
    </ion-item>

  </ion-card>




















          
          <ion-item>
            <ion-label position="floating">Location</ion-label>
            <ion-select  [(ngModel)]="location" value = 'M' okText="Ok" cancelText="Cancel" (ionChange)="pickLocation()">
            
                <ion-select-option value = "C">Chong Hua Hospital (Cebu City)</ion-select-option>
                <ion-select-option value = "M">Chong Hua Hospital Mandaue</ion-select-option>
       
            </ion-select>
          </ion-item>
            <ion-item>
              <ion-label position="fixed" style="z-index:10">Date</ion-label>
              <li-ionic4-datepicker [(ngModel)]="mydate1" [inputDateConfig]="datePickerObj" ></li-ionic4-datepicker>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Time</ion-label>
              <ion-select  [(ngModel)]="time" okText="Ok" cancelText="Cancel" (click)="pickTime()">
                <div *ngFor="let x of doctorSchedule" >
                  <ion-select-option >{{x.time_in}} - {{x.time_out}}</ion-select-option>
                </div>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">First Name</ion-label>
              <ion-input [(ngModel)]="fname" id="input-remarks"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Middle Name</ion-label>
              <ion-input  [(ngModel)]="mname" id="input-remarks"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Last Name</ion-label>
              <ion-input [(ngModel)]="lname" id="input-remarks"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="fixed"  style="z-index:10">Birthdate</ion-label>
              <li-ionic4-datepicker [(ngModel)]="mydate2" [inputDateConfig]="datePickerObj2" ></li-ionic4-datepicker>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Gender</ion-label>
              <ion-select placeholder="Select"  [(ngModel)]="gender">
                <ion-select-option value="f">Female</ion-select-option>
                <ion-select-option value="m">Male</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
            <ion-label position="floating">Address</ion-label>
            <ion-textarea id="input-remarks"  [(ngModel)]="adrress"></ion-textarea>
            </ion-item>
            <ion-item>
            <ion-label position="floating">Contact Number</ion-label>
            <ion-input id="input-remarks"  [(ngModel)]="contact"></ion-input>
            </ion-item>
            <ion-item>
    
              <ion-button slot="end"  id="btn-confirm" (click)="save()" [disabled]="btnSave" color="mango">Save</ion-button>

      
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
