<!--ion-header mode="md" class="ion-no-border">
  <ion-toolbar
    class="in-toolbar ios toolbar-title-default hydrated"
    color="mango"
  >
    <ion-title>         <ion-icon name="newspaper-outline"></ion-icon> News Feed</ion-title>
    <ion-buttons
      slot="end"
      class="buttons-last-slot sc-ion-buttons-ios-h sc-ion-buttons-ios-s ios hydrated"
    >
      <ion-button (click)="closeModal()" color="chh-css-primary2"
        >Close&nbsp; <ion-icon name="close-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header-->

<ion-header mode="md" class="ion-no-border">
  <ion-toolbar color="mango">
    <span class="padding-left-10 buttonActive" routerDirection="backwards" color="chh-css-primary2"
      (click)="closeModal()">
      <!-- <ion-icon 
      name="chevron-back-outline" 
      class="my-icon vcenter">
    </ion-icon> -->
      <ion-icon name="arrow-back-outline" class="my-icon vcenter"></ion-icon>
    </span>


    <span class="padding-left-30 font-weight-500 font-size-20"> &nbsp;&nbsp;News Feed </span>
  </ion-toolbar>
  <!-- <ion-toolbar color="mango">
    <ion-title> Professional Fee </ion-title>
    <ion-buttons
      slot="end"
      class="buttons-last-slot sc-ion-buttons-ios-h sc-ion-buttons-ios-s ios hydrated"
    >
      <ion-button
        routerLink="{{routerLinkBack}}"
        routerDirection="backwards"
        color="chh-css-primary2"
        *ngIf="btnclose"
        >Back
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>

      <ion-button
        routerDirection="backwards"
        color="chh-css-primary2"
        *ngIf="!btnclose"
        (click)="modifyProfFeeClose()"
        >Back
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-card mode="ios">
          <pinch-zoom style="background-color: rgb(255, 255, 255);" *ngIf="data.imageUrl != ''">
            <img src="{{data.imageUrl}}" />
          </pinch-zoom>
          <ion-card-header>
            <ion-card-title class="ion-text-wrap">{{data.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <pinch-zoom style="background-color: rgb(255, 255, 255);">
              <p [innerHTML]="data.contentLongDesc"></p>
            </pinch-zoom>

          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>