<ion-header mode="md" class="ion-no-border">
  <div *ngIf="!isDesktop">
  <ion-toolbar  color="mango" >
    <ion-title>
      <ion-icon name="bug-outline"></ion-icon> Error 404
    </ion-title>

  </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <img src="assets/img/404-rafiki.svg" alt="Page not found">


</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="full" shape="round" color="mango" routerLink='/'>Home&nbsp; <ion-icon name="home-outline"></ion-icon></ion-button>


  </ion-toolbar>
</ion-footer>