<div class="navbar" class="ion-text-center">
  <!--ion-button id="ion-button-filter-both" fill="clear" (click)="onSubmit(this.constants.CHH_SITE__CODE__ALL,active3)"
    [ngClass]="{'active-link':active3, 'notactive':!active3}" class="link" size="small">
    {{this.functionsService.convertAllFirstLetterToUpperCase(this.constants.CHH_LABEL__VALUE__BOTH)}}
  </ion-button-->
  <ion-button id="ion-button-filter-cebu" fill="clear" (click)="onSubmit(this.constants.CHH_SITE__CODE__CEBU,active)"
    [ngClass]="{'active-link':active, 'notactive':!active}" class="link" size="small">
    {{this.functionsService.convertAllFirstLetterToUpperCase(this.constants.CHH_LABEL__VALUE__CEBU)}}
  </ion-button>
  <ion-button id="ion-button-filter-mandaue" fill="clear"
    (click)="onSubmit(this.constants.CHH_SITE__CODE__MANDAUE,active1)"
    [ngClass]="{'active-link':active1, 'notactive':!active1}" class="link" size="small">
    {{this.functionsService.convertAllFirstLetterToUpperCase(this.constants.CHH_LABEL__VALUE__MANDAUE)}}
  </ion-button>

  <ion-button fill="clear" *ngIf="isDesktop" [ngClass]="{'active-link':active2, 'notactive':!active2}" class="link"
    size="small">
    <ion-select [(ngModel)]="admittedOrDischarge" placeholder="Filter" (ionChange)="changeRedirect($event)"
      color="mango" style="display:none">
      <ion-select-option value="All">All</ion-select-option>
      <ion-select-option value="AC">Admitted</ion-select-option>
      <ion-select-option value="DN">For Discharge</ion-select-option>
    </ion-select>
    <select [(ngModel)]="admittedOrDischarge" placeholder="Filter" (ionChange)="changeRedirect($event)" color="mango"
      style="border:none;">
      <option value="All">All</option>
      <option value="AC">Admitted</option>
      <option value="DN">for Discharge</option>
    </select>
  </ion-button>

  <!-- <ion-button fill="clear"  *ngIf="this.isDesktop"
  [ngClass]="{'active-link':active1, 'notactive':!active2}" 
   size="small">
    <ion-select [(ngModel)] = "this.admittedOrDischarge" value = "{{this.admittedOrDischarge}}" placeholder="Filter" (ionChange)="changeRedirect($event)" color="mango">
      <ion-select-option value="{{this.functionsService.convertAllFirstLetterToUpperCase(this.constants.CHH_SITE__VALUE__ALL)}}">{{this.functionsService.convertAllFirstLetterToUpperCase(this.constants.CHH_SITE__VALUE__ALL)}}</ion-select-option>
      <ion-select-option value="{{this.constants.ADMISSION_STATUS__CODE__ADMITTED}}">{{this.functionsService.convertAllFirstLetterToUpperCase(this.constants.ADMISSION_STATUS__VALUE__ADMITTED)}}</ion-select-option>
      <ion-select-option value="{{this.constants.ADMISSION_STATUS__CODE__FOR_DISCHARGE}}">{{this.functionsService.convertAllFirstLetterToUpperCase(this.constants.ADMISSION_STATUS__VALUE__FOR_DISCHARGE)}}</ion-select-option>
    </ion-select>
  </ion-button> -->
  <ion-fab horizontal="end" vertical="top" slot="fixed" *ngIf="!isDesktop" class='margintop-15'>
    <ion-fab-button color="light" class="">
      <ion-icon name="options-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button class="tab-font-family" color="light"
        (click)="onSubmit1(this.constants.ADMISSION_STATUS_SELECTION__VALUE__ALL,true)" data-desc="All">
        <ion-icon name="person-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button class="tab-font-family" color="light"
        (click)="onSubmit1(this.constants.ADMISSION_STATUS__CODE__ADMITTED,true)" data-desc="Admitted">
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button class="tab-font-family" color="light"
        (click)="onSubmit1(this.constants.ADMISSION_STATUS__CODE__FOR_DISCHARGE,true)" data-desc="For Discharge">
        <ion-icon name="person-remove-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</div>

<!-- BEFORE REFACTORED -->
<!-- 9-3-2020 -->
<!-- <div class="navbar" class="ion-text-center" >
  <ion-button fill="clear" (click)="onSubmit('A',active3)" 
  [ngClass]="{'active-link':active3, 'notactive':!active3}" 
    class="link" size="small">
    Both
  </ion-button>
  <ion-button fill="clear" (click)="onSubmit('C',active)" 
  [ngClass]="{'active-link':active, 'notactive':!active}" 
    class="link" size="small">
    Cebu
  </ion-button>
  <ion-button fill="clear" (click)="onSubmit('M',active1)" 
  [ngClass]="{'active-link':active1, 'notactive':!active1}" 
    class="link" size="small">
    Mandaue
  </ion-button>
  <ion-button fill="clear"  *ngIf="isDesktop"
  [ngClass]="{'active-link':active2, 'notactive':!active2}" 
    class="link" size="small">
    <ion-select [(ngModel)]="admittedOrDischarge" placeholder="Filter" (ionChange)="changeRedirect($event)" color="mango" style="display:none">
      <ion-select-option value="ALL" >All</ion-select-option>
      <ion-select-option value="AC">Admitted</ion-select-option>
      <ion-select-option value="DN">For Discharge</ion-select-option>
    </ion-select>
    <select [(ngModel)]="admittedOrDischarge" placeholder="Filter" (ionChange)="changeRedirect($event)" color="mango" style="border:none;">
      <option value="ALL">All</option>
      <option value="AC">Admitted</option>
      <option value="DN">for Discharge</option>
    </select>
  </ion-button>
-->