<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
      <staticContent>
         <!-- For Angular App deployed to Windows Server 2019 with IIS 10 -->
         <!-- Cannot add duplicate collection entry of type 'mimeMap' with unique key attribute 'fileExtension' set to '.json -->
         <!-- <mimeMap fileExtension=".json" mimeType="application/json" /> -->
         <remove fileExtension=".woff" />
         <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
         <!-- For Angular App deployed to Windows Server 2019 with IIS 10 -->
         <!-- Cannot add duplicate collection entry of type 'mimeMap' with unique key attribute 'fileExtension' set to '.woff2' -->
         <!-- <mimeMap fileExtension=".woff2" mimeType="font/woff2" /> -->
         <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
         <remove fileExtension=".svg" />
         <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
         <mimeMap fileExtension=".webp" mimeType="image/webp" />
      </staticContent>
      <rewrite>
         <rules>
            <rule name="Angular" stopProcessing="true">
               <match url=".*" />
               <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
               </conditions>
               <action type="Rewrite" url="/" />
            </rule>
         </rules>
      </rewrite>
   </system.webServer>
</configuration>