<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()"
        ><ion-text style="color: white !important">Cancel</ion-text></ion-button
      >
    </ion-buttons>
    <ion-title>Revision Note History</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true"
        ><ion-text style="color: white !important">Ok</ion-text></ion-button
      >
    </ion-buttons>
  </ion-toolbar></ion-header
>
<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let x of json">
      <ion-label text-wrap>
        <h2>{{ x.msg }}</h2>
        <p class="ion-text-wrap">{{ x.date_created }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
