<ion-card mode="ios" *ngIf="isDesktop">
  <div *ngFor="let x of data">
    <ion-list *ngIf="moreOrLess == true">
      <ion-item style="padding-bottom: 10px">
        <div class="ion-text-wrap">
          <ion-label>
            <h2 class="ion-text-wrap" style="padding-top: 10px;">
              <b>{{ x.last_name }}, {{ x.first_name }} {{ x.middle_name }}</b>
              <ion-text color="primary">
                <p color="primary"><b>{{x.dob}} <strong>|</strong> {{x.age}} <strong>|</strong> {{x.gender}}</b></p>
              </ion-text>
            </h2>
          </ion-label>
        </div>
        <ion-badge color="warning" slot="end" (click)="moreorless(false)">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-badge>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="moreOrLess == false">
      <ion-item style="padding-bottom: 10px">
        <div class="ion-text-wrap">
          <ion-label>
            <h2 class="ion-text-wrap" style="padding-top: 10px;">
              <b>{{ x.last_name }}, {{ x.first_name }} {{ x.middle_name }}</b>
              <ion-text color="primary">
                <p color="primary"><b>{{x.dob}} <strong>|</strong> {{x.age}} <strong>|</strong> {{x.gender}}</b></p>
              </ion-text>
            </h2>
          </ion-label>
        </div>
        <ion-badge color="warning" slot="end" class="font-size12"
          *ngIf=" x.admission_status == 'DN' && x.doctor_prof_fee == null && x.is_posted == null ">PF</ion-badge>
        <ion-badge color="success" slot="end" class="font-size12"
          *ngIf="x.doctor_prof_fee != null && x.is_posted != null">PF OK</ion-badge>
      </ion-item>
      <ion-item lines="none" style="padding-bottom: 10px">
        <div class="ion-text-wrap" style="padding-top: 5px">
          <div *ngIf="x.site == 'C'" class=" font-size12">
            <ion-icon name="location-outline" slot="start"></ion-icon>
            Chong Hua Hospital
          </div>
          <div *ngIf="x.site == 'M'" class=" font-size12">
            <ion-icon name="location-outline" slot="start"></ion-icon>
            Chong Hua Hospital Mandaue
          </div>
          <div class=" font-size12">
            <ion-icon name="bed-outline" slot="start"></ion-icon>
            Room {{ x.room_no }}
          </div>
          <div class=" font-size12">
            <ion-icon name="clipboard-outline" slot="start"></ion-icon>
            as {{x.doctor_Status}}&nbsp;
            <ion-chip *ngIf="x.admission_status == 'AC'">
              <ion-label color="mango"><b>Admitted</b></ion-label>
            </ion-chip>
            <ion-chip *ngIf="x.admission_status == 'DN'">
              <ion-label color="mango"><b>For Discharge</b></ion-label>
            </ion-chip>
          </div>
          <div class=" font-size12" style="font-size: 13px;">
            <ion-icon name="calendar-outline" slot="start"></ion-icon>
            <span style="font-size: 13px;"> Admission Date &nbsp;&nbsp;: {{ dateAdmitted }}</span>
          </div>
          <div class=" font-size12" *ngIf="x.forDischargeDateTime != null" style="font-size: 13px;">
            <ion-icon name="calendar-outline" slot="start"></ion-icon>
            <span style="font-size: 13px;"> Discharge Notice : {{ dischargeNotice }}</span>
          </div>

          <div class=" font-size12" style="font-size: 13px;" *ngIf="is_pwd =='Y' && is_senior=='Y'">
            <ion-icon name="accessibility-outline"></ion-icon>
            <span style="font-size: 13px;">Patient is
              <span *ngIf="is_pwd =='Y'">PWD</span>
              <span *ngIf="is_pwd =='Y' && is_senior=='Y'">,</span>
              <span *ngIf="is_senior =='Y'">Senior</span>
            </span>
          </div>
        </div>
      </ion-item>
      <ion-item lines="none" style="padding-bottom: 10px">
        <ion-badge color="warning" slot="end" (click)="moreorless(true)">
          <ion-icon name="chevron-up-outline"></ion-icon>
        </ion-badge>
      </ion-item>
    </ion-list>
  </div>
</ion-card>

<ion-card mode="ios" *ngIf="!isDesktop">
  <div *ngFor="let x of data">
    <ion-list *ngIf="moreOrLess == true">
      <ion-item style="padding-bottom: 10px">
        <div class="ion-text-wrap">
          <ion-label>
            <h2 class="ion-text-wrap" style="padding-top: 10px;">
              <b>{{ x.last_name }}, {{ x.first_name }} {{ x.middle_name }}</b>
              <ion-text color="primary">
                <p color="primary"><b>{{x.dob}} <strong>|</strong> {{x.age}} <strong>|</strong> {{x.gender}}</b></p>
              </ion-text>
            </h2>
          </ion-label>
        </div>
        <ion-badge color="warning" slot="end" (click)="moreorless(false)">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-badge>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="moreOrLess == false">
      <ion-item style="padding-bottom: 10px">
        <div class="ion-text-wrap">
          <ion-label>
            <h2 class="ion-text-wrap" style="padding-top: 10px;">
              <b>{{ x.last_name }}, {{ x.first_name }} {{ x.middle_name }}</b>
              <ion-text color="primary">
                <p color="primary"><b>{{x.dob}} <strong>|</strong> {{x.age}} <strong>|</strong> {{x.gender}}</b></p>
              </ion-text>
            </h2>
          </ion-label>
        </div>
        <ion-badge color="warning" slot="end" class="font-size12"
          *ngIf=" x.admission_status == 'DN' && x.doctor_prof_fee == null && x.is_posted == null ">PF</ion-badge>
        <ion-badge color="success" slot="end" class="font-size12"
          *ngIf="x.doctor_prof_fee != null && x.is_posted != null">PF OK</ion-badge>
      </ion-item>
      <ion-item lines="none" style="padding-bottom: 10px">
        <div class="ion-text-wrap" style="padding-top: 5px">
          <div *ngIf="x.site == 'C'" class=" font-size12">
            <ion-icon name="location-outline" slot="start"></ion-icon>
            Chong Hua Hospital
          </div>
          <div *ngIf="x.site == 'M'" class=" font-size12">
            <ion-icon name="location-outline" slot="start"></ion-icon>
            Chong Hua Hospital Mandaue
          </div>
          <div class=" font-size12">
            <ion-icon name="bed-outline" slot="start"></ion-icon>
            Room {{ x.room_no }}
          </div>
          <div class=" font-size12">
            <ion-icon name="clipboard-outline" slot="start"></ion-icon>
            as {{x.doctor_Status}}&nbsp;
            <ion-chip *ngIf="x.admission_status == 'AC'">
              <ion-label color="primary"><b>Admitted</b></ion-label>
            </ion-chip>
            <ion-chip *ngIf="x.admission_status == 'DN'">
              <ion-label color="primary"><b>For Discharge</b></ion-label>
            </ion-chip>
          </div>
          <div class=" font-size12" style="font-size: 13px;">
            <ion-icon name="calendar-outline" slot="start"></ion-icon>
            <span style="font-size: 13px;"> Admission Date &nbsp;&nbsp;: {{ dateAdmitted }}</span>
          </div>
          <div class=" font-size12" *ngIf="x.forDischargeDateTime != null" style="font-size: 13px;">
            <ion-icon name="calendar-outline" slot="start"></ion-icon>
            <span style="font-size: 13px;"> Discharge Notice : {{ dischargeNotice }}</span>
          </div>

          <div class=" font-size12" style="font-size: 13px;" *ngIf="is_pwd =='Y' && is_senior=='Y'">
            <ion-icon name="accessibility-outline"></ion-icon>
            <span style="font-size: 13px;">Patient is
              <span *ngIf="is_pwd =='Y'">PWD</span>
              <span *ngIf="is_pwd =='Y' && is_senior=='Y'">,</span>
              <span *ngIf="is_senior =='Y'">Senior</span>
            </span>
          </div>
        </div>
      </ion-item>
      <ion-item lines="none" style="padding-bottom: 10px">
        <ion-badge color="warning" slot="end" (click)="moreorless(true)">
          <ion-icon name="chevron-up-outline"></ion-icon>
        </ion-badge>
      </ion-item>
    </ion-list>
  </div>
</ion-card>