<!--ion-header>
  <ion-toolbar>
    <ion-title>modalpage</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content>

  <div *ngFor="let x of cardData">
    <div class="ion-text-right">
      <ion-icon name="close-outline"  (click)="closeModal()" ></ion-icon>
    </div>
    <ion-card-header>
      <ion-card-title>{{ x.last_name }}, {{x.first_name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Address: {{x.address}}<br />
      Contact Number :{{x.contact_number}}<br />
      Date of Birth : {{x.birth_Date}}<br />
    </ion-card-content>
  </div>
  <!--div *ngFor="let x of receiveddata">
  <div class="ion-text-right">
      <ion-icon name="close-outline"  (click)="closeModal()" ></ion-icon>
  </div>
  <ion-card-header>
    <ion-card-title>{{ x.last_name }}, {{x.first_name}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Address: {{x.address}}<br />
    Contact Number :{{x.contact_number}}<br />
    Date of Birth : {{x.birth_Date}}<br />
  </ion-card-content>
</div-->
<!-- Skeleton screen -->




<!--d!iv *ngIf="!items.length >0">
  <div class="ion-padding custom-skeleton">
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    <ion-skeleton-text animated></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
  </div>


</div-->

</ion-content>
