


<ion-content>
  
  <ion-item>
    <ion-label position="fixed">Fee</ion-label>
    <ion-input type="number" id="input-professionalFee" ngModel="postData.professionalFee" placeholder="0.00" value="{{professionalFee}}" autocomplete  (ionChange)="test()" ></ion-input>

</ion-item>

<ion-item>
  <ion-label position="fixed">Remarks</ion-label>
  <ion-input  type="text" id="input-remarks" value="{{remarks}}"></ion-input>
</ion-item>
<ion-item>
  <ion-button id="btn-confirm" (click)="save()" color="mango">
    Save
  </ion-button>
  <ion-button id="btn-confirm" (click)="ClosePopover()" color="danger">
    Cancel
  </ion-button>
</ion-item>

</ion-content>