<ion-header mode="md" class="ion-no-border" *ngIf="!isDesktop">
  <ion-toolbar color="mango">
    <span
      class="padding-left-10"
      routerLink="/menu/er-patients/"
      routerDirection="backward"
      color="chh-css-primary2">
      <ion-icon name="arrow-back-outline" class="my-icon vcenter"></ion-icon>
    </span>

    <span class="padding-left-30 font-weight-500 font-size-20">
      &nbsp;&nbsp;Patient Information
    </span>
  </ion-toolbar>
  
</ion-header>
<ion-content *ngIf="!isDesktop">
  <app-chh-app-patient-emos-header
    [data]="data"
    [dateAdmitted]="dateAdmitted"
    [dischargeNotice]="dischargeNotice"
    [forMoreOrLess]="true"
    [is_pwd]="is_pwd"
    [is_senior]="is_senior"
    [is_philhealth_membership]="is_philhealth_membership"
    [patientDetailfromApi_from]="patientDetailfromApi_from"
    [patientDetailfromApi_to]="patientDetailfromApi_to"
    [admission_status]="admission_status">
  </app-chh-app-patient-emos-header>

  <app-chh-app-chief-complaint
    [chiefComplaint]="chiefComplaint"
  ></app-chh-app-chief-complaint>
  
  <app-chh-app-list-of-doctors
    [coDoctors]="coDoctors"
    [objecthandler]="objecthandler"
    [isFetchDone]="isFetchDone"
    [isAP]="isAP"
    [isTC]="isTC"
    [iHaveTC]="iHaveTC"
    [isVerify]="isVerify"
    [isAPVerifyTCstatus]="isAPVerifyTCstatus"
    (triggerRefresh)="testtrigger($event)">
  </app-chh-app-list-of-doctors>
</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="!isDesktop">
    <ion-item lines="none">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size-xs="12" size-md="4" size-lg="4"></ion-col>
          <ion-col size-xs="12" size-md="4" size-lg="4">
            <ion-button
              class="buttonActive"
              color="mango"
              size="default"
              expand="block"
              shape="round"
              (click)="redirecttoPF()"
              *ngIf="data.is_posted == 0 || data.is_posted == null">
              <ion-icon
                name="checkmark-done-outline"
                *ngIf="checkmark"></ion-icon
              >Professional Fee
            </ion-button>
          </ion-col>
          <ion-col size-xs="12" size-md="4" size-lg="4"></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-toolbar>

  <div class="footer tab-font-family" *ngIf="isDesktop">
    <span>{{this.constants.CHH_NAME__VALUE__CEBU}}</span>
  </div>
</ion-footer>

<app-chh-app-desktop-navigation *ngIf="isDesktop"></app-chh-app-desktop-navigation>

<ion-content *ngIf="isDesktop">
  <ul class="breadcrumb">
    <li>
      <a routerLink="{{routerLinkBack}}">Er-Patients</a>
      <ion-icon name="chevron-forward-outline" class="icon-center"></ion-icon>
    </li>
    <li>
      <a>{{patient_name | titlecase}}</a>
      <ion-icon name="chevron-forward-outline" class="icon-center"></ion-icon>
    </li>
  </ul>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-lg="2" size-md="12"></ion-col>
      <ion-col size-lg="4" size-md="6">
        <app-chh-app-patient-emos-header
          [data]="data"
          [dateAdmitted]="dateAdmitted"
          [forMoreOrLess]="true"
          [is_pwd]="is_pwd"
          [is_senior]="is_senior"
          [patientDetailfromApi_from]="patientDetailfromApi_from"
          [patientDetailfromApi_to]="patientDetailfromApi_to"
          [admission_status]="admission_status">
        </app-chh-app-patient-emos-header>

        <ion-card mode="ios" class="shadow-remove">
          <ion-list>
            <ion-button
              class="buttonActive"
              size="default"
              expand="block"
              shape="round"
              (click)="redirecttoPF()"
              *ngIf="data.is_posted == 0 || data.is_posted == null">
              <ion-icon
                name="checkmark-done-outline"
                *ngIf="checkmark"></ion-icon
              >Professional Fee
            </ion-button>
          </ion-list>
        </ion-card>

        <app-chh-app-chief-complaint
        [chiefComplaint]="chiefComplaint"
        ></app-chh-app-chief-complaint>
      </ion-col>

      <ion-col size-lg="3" size-md="6" class="max-height-82vh overflow-scroll">
        <app-chh-app-list-of-doctors
          [coDoctors]="coDoctors"
          [objecthandler]="objecthandler"
          [isFetchDone]="isFetchDone"
          [isAP]="isAP"
          [isTC]="isTC"
          [iHaveTC]="iHaveTC"
          [isVerify]="isVerify"
          [isAPVerifyTCstatus]="isAPVerifyTCstatus"
          (triggerRefresh)="testtrigger($event)"></app-chh-app-list-of-doctors>
      </ion-col>

      <ion-col size-lg="1" size-md="12"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>