<ion-header mode="md" class="ion-no-border">


  <ion-toolbar color="mango" *ngIf="!isDesktop">
    <span class="padding-left-10" (click)="closeModal()" routerDirection="backward" color="chh-css-primary2">
      <ion-icon name="arrow-back-outline" class="my-icon vcenter"></ion-icon>
      <!--ion-icon 
          name="chevron-back-outline" 
          class="my-icon vcenter">
        </ion-icon-->
    </span>


    <span class="padding-left-30 font-weight-500 font-size-20"> &nbsp;&nbsp; Patient Lists </span>
  </ion-toolbar>



  <ion-list style=" box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);">
    <ion-item>
      <ion-avatar slot="start">
        <chh-app-text-avatar [text]="dr_name" [color]=""></chh-app-text-avatar>
      </ion-avatar>
      <ion-label style="margin-top: -5px;">
        <ion-item slot="start" lines="" class="ion-no-padding" style="padding-bottom: 5px;">
          <h2 class="ion-text-wrap" style="padding-top: 20px;">
            {{ dr_name }}
          </h2>

        </ion-item>

        <ion-row class="ion-no-padding" lines="none" style="padding-top: 10px !important;">
          <p>
            <span>
              <ion-icon name="newspaper-outline" slot="start"></ion-icon> {{deptName}}
            </span><br />
            <span>
              <ion-icon name="clipboard-outline" slot="start"></ion-icon> {{expertise}}
            </span>
          </p>
          <br />
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>


</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" mode="ios">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-md="12">
        <ng-container>
          <div *ngFor="let x of listOfPatients">


            <ion-card (click)="detail(x)" mode="ios" class="pointer">

              <ion-item lines="none">
                <ion-avatar slot="start">
                  <chh-app-text-avatar [text]="x.last_name" [color]=""></chh-app-text-avatar>
                </ion-avatar>
                <ion-label style="margin-top: -5px;">
                  <ion-item slot="start" lines="" class="ion-no-padding" style="padding-bottom: 5px;">
                    <h2 class="ion-text-wrap" style="padding-top: 20px;">
                      {{ x.last_name }}, {{x.first_name}} {{x.middle_name}}
                      <ion-text color="primary">
                        <p color="primary"><b>{{x.dob}} <strong>|</strong> {{x.age}} <strong>|</strong> {{x.gender}}</b>
                        </p>
                      </ion-text>
                    </h2>

                  </ion-item>

                  <ion-row class="ion-no-padding" lines="none" style="padding-top: 1px !important;">
                    <p>
                      <span *ngIf="x.site =='C' ">
                        <ion-icon name="location-outline" slot="start"></ion-icon>
                        {{this.constants.CHH_NAME__VALUE__CEBU}}
                      </span>
                      <span *ngIf="x.site == 'M'">
                        <ion-icon name="location-outline" slot="start"></ion-icon>
                        {{this.constants.CHH_NAME__VALUE__MANDAUE}}
                      </span><br />
                      <ion-icon name="bed-outline" slot="start"></ion-icon> Room
                      {{x.room_no}}<br />


                      <ion-badge color="warning" slot="end" *ngIf="x.admission_status == 'DN'">
                        for discharge</ion-badge> <br *ngIf="x.admission_status == 'DN'" />


                      <ion-icon name="alarm-outline" slot="start" *ngIf="x.forDischargeDateTime != null" color="">
                      </ion-icon>
                      <ion-text *ngIf="x.forDischargeDateTime != null" color="">
                        DN :
                        {{x.forDischargeDateTime}}<br />
                      </ion-text>
                    </p>
                    <br />
                  </ion-row>
                </ion-label>
              </ion-item>
            </ion-card>





          </div>
        </ng-container>
        <ng-container *ngIf="!isReady">
          <div class="ion-padding custom-skeleton">
            <!-- Skeleton  -->
            <ion-item>
              <ion-avatar slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
              <ion-label style="margin-top: -10px;">
                <ion-item class="ion-no-padding" style="padding-bottom: 5px;">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-item>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
              <ion-label style="margin-top: -10px;">
                <ion-item class="ion-no-padding" style="padding-bottom: 5px;">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-item>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
              <ion-label style="margin-top: -10px;">
                <ion-item class="ion-no-padding" style="padding-bottom: 5px;">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-item>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
              <ion-label style="margin-top: -10px;">
                <ion-item class="ion-no-padding" style="padding-bottom: 5px;">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-item>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-label>
            </ion-item>
          </div>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>