<!--
___  ___        _      _  _              _   _                   _             
|  \/  |       | |    (_)| |            | | | |                 | |            
| .  . |  ___  | |__   _ | |  ___       | |_| |  ___   __ _   __| |  ___  _ __ 
| |\/| | / _ \ | '_ \ | || | / _ \      |  _  | / _ \ / _` | / _` | / _ \| '__|
| |  | || (_) || |_) || || ||  __/      | | | ||  __/| (_| || (_| ||  __/| |   
\_|  |_/ \___/ |_.__/ |_||_| \___|      \_| |_/ \___| \__,_| \__,_| \___||_|   
                                                                               
    -->
<ion-header mode="md" class="ion-no-border" *ngIf="!isDesktop">
  <ion-toolbar color="mango">
    <ion-title> Professional Fee </ion-title>
    <ion-buttons
      slot="end"
      class="buttons-last-slot sc-ion-buttons-ios-h sc-ion-buttons-ios-s ios hydrated"
    >
      <ion-button
        routerLink="{{routerLinkBack}}"
        routerDirection="backwards"
        color="chh-css-primary2"
        *ngIf="btnclose"
        >Close&nbsp;
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>

      <ion-button
        routerDirection="backwards"
        color="chh-css-primary2"
        *ngIf="!btnclose"
        (click)="modifyProfFeeClose()"
        >Close&nbsp;
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--
______             _     _                        _   _                   _             
|  _  \           | |   | |                      | | | |                 | |            
| | | |  ___  ___ | | __| |_   ___   _ __        | |_| |  ___   __ _   __| |  ___  _ __ 
| | | | / _ \/ __|| |/ /| __| / _ \ | '_ \       |  _  | / _ \ / _` | / _` | / _ \| '__|
| |/ / |  __/\__ \|   < | |_ | (_) || |_) |      | | | ||  __/| (_| || (_| ||  __/| |   
|___/   \___||___/|_|\_\ \__| \___/ | .__/       \_| |_/ \___| \__,_| \__,_| \___||_|   
                                    | |                                                 
                                    |_|                                                 
-->
<app-chh-app-desktop-navigation
  *ngIf="isDesktop"
></app-chh-app-desktop-navigation>

<!--
  ___  ___        _      _  _             ______             _        
  |  \/  |       | |    (_)| |            | ___ \           | |       
  | .  . |  ___  | |__   _ | |  ___       | |_/ /  ___    __| | _   _ 
  | |\/| | / _ \ | '_ \ | || | / _ \      | ___ \ / _ \  / _` || | | |
  | |  | || (_) || |_) || || ||  __/      | |_/ /| (_) || (_| || |_| |
  \_|  |_/ \___/ |_.__/ |_||_| \___|      \____/  \___/  \__,_| \__, |
                                                                 __/ |
                                                                |___/ 
-->

<ion-content *ngIf="!isDesktop">
  <div *ngIf="ifShowSummary == true">


    <ion-grid >
      <ion-row>
        <ion-col size="8" offset="2">
          <div class="vertical-center">
            <div class="center">
              <img
                src="assets/img/online-transactions.png"
              
              />
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>





    <ion-item lines="none" class="ion-no-margin"
      ><b>Patient Details</b>

      <ion-badge
        color="warning"
        slot="end"
        (click)="moreorless(true)"
        *ngIf="moreOrLess"
        >more..</ion-badge
      >
      <ion-badge
        color="warning"
        slot="end"
        (click)="moreorless(false)"
        *ngIf="!moreOrLess"
        >less..</ion-badge
      >
    </ion-item>
    <ion-item class="ion-no-margin" *ngIf="!moreOrLess">
      <ion-grid *ngFor="let x of data">
        <ion-row>
          <ion-col size="5"><b>Name:</b> </ion-col>
          <ion-col size="7"
            ><b>{{x.first_name}} {{x.middle_name}}. {{x.last_name}}</b></ion-col
          >
        </ion-row>
        <ion-row>
          <ion-col size="5">Hospital Site:</ion-col>
          <ion-col size="7">{{site}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5"> Room:</ion-col>
          <ion-col size="7">{{x.room_no}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">Admission Date:</ion-col>
          <ion-col size="7">{{dateAdmitted}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">Managed this patient for:</ion-col>
          <ion-col size="7">{{daysManaged}} {{day}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item class="ion-no-margin" *ngIf="moreOrLess">
      <ion-grid *ngFor="let x of data">
        <ion-row>
          <ion-col size="5"><b>Name:</b> </ion-col>
          <ion-col size="7"
            ><b>{{x.first_name}} {{x.middle_name}}. {{x.last_name}}</b></ion-col
          >
        </ion-row>
        <ion-row>
          <ion-col size="12">{{site}} | {{x.room_no}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item class="ion-no-margin">
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <b>
              <ion-text color="danger">Amount:</ion-text>
            </b>
          </ion-col>
          <ion-col size="7">
            <b>
              <ion-text color="danger"
                >&#8369; {{data1 | number}} {{withVat}}</ion-text
              >
            </b>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">Pay Venue: </ion-col>
          <ion-col size="7">
            <ion-badge>{{payvenueTxt}}</ion-badge>
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col size="5">Add VAT?: </ion-col>
          <ion-col size="7">{{withVat}}</ion-col>
        </ion-row> -->
      </ion-grid>
    </ion-item>

    <ul *ngIf="payvenueN == 'X' && data1 <= 0">
      <li class="lineheight-80">
        <ion-text class="fs-12 ion-text-wrap" color="danger">Amenable to Insurance (HMO) and PhilHealth rates.</ion-text>
      </li>
      <li class="lineheight-80  paddingtop-10">
        <ion-text class="fs-12 ion-text-wrap" color="danger">Receivables: Insurance (HMO) + PhilHealth </ion-text>
      </li>
    </ul>
    <ul *ngIf="payvenueN == 'X' && data1 > 0">
      <li class="lineheight-80">
        <ion-text class="fs-12 ion-text-wrap" color="danger">By default, PhilHealth and then Insurance (HMO) coverage
          applies.</ion-text>
      </li>
      <li class="lineheight-80  paddingtop-10" *ngIf="withVatN == 'Y'">
        <ion-text class="fs-12 ion-text-wrap" color="danger">Only the excess amount of <b>&#8369;{{data1 | number}}</b> (+ VAT)
          - (PhilHealth + Insurance coverage) will be collected from your patient.</ion-text>
      </li>
      <li class="lineheight-80  paddingtop-10" *ngIf="withVatN == 'Y'">
        <ion-text class="fs-12 ion-text-wrap" color="danger">Receivables: Insurance (HMO) + PhilHealth + ~&#8369;(excess
          amount)(+ VAT)</ion-text>
      </li>
      <li class="lineheight-80  paddingtop-10" *ngIf="withVatN == 'N'">
        <ion-text class="fs-12 ion-text-wrap" color="danger">Only the excess amount of <b>&#8369;{{data1 | number}}</b> -
          (PhilHealth + Insurance coverage) will be collected from your patient.</ion-text>
      </li>
      <li class="lineheight-80  paddingtop-10" *ngIf="withVatN == 'N'">
        <ion-text class="fs-12 ion-text-wrap" color="danger">Receivables: Insurance (HMO) + PhilHealth + ~&#8369;(excess amount)
        </ion-text>
      </li>
      <li class="lineheight-80  paddingtop-10">
        <ion-text class="fs-12 ion-text-wrap" color="danger">Please note that actual receivable amount may vary after
          final computations from accounting.</ion-text>
      </li>
    </ul>
  
    <ul *ngIf="payvenueN == 'H' && data1 > 0">
  
      <li class="lineheight-80  paddingtop-10" *ngIf="withVatN == 'Y'">
        <ion-text class="fs-12 ion-text-wrap" color="danger">Total amount of <b>&#8369;{{data1 | number}}</b> (+ VAT) will be collected from your patient NOT including PhilHealth rate.</ion-text>
      </li>
      <li class="lineheight-80  paddingtop-10" *ngIf="withVatN == 'Y'">
        <ion-text class="fs-12 ion-text-wrap" color="danger">Receivables: <b>~&#8369;{{data1 | number}}</b> (+ VAT) + PhilHealth</ion-text>
      </li>
      <li class="lineheight-80  paddingtop-10" *ngIf="withVatN == 'N'">
        <ion-text class="fs-12 ion-text-wrap" color="danger">Total amount of <b>&#8369;{{data1 | number}}</b> will be collected from your patient NOT including PhilHealth rate.</ion-text>
      </li>
      <li class="lineheight-80  paddingtop-10" *ngIf="withVatN == 'N'">
        <ion-text class="fs-12 ion-text-wrap" color="danger">Receivables: <b>~&#8369;{{data1 | number}}</b> + PhilHealth
        </ion-text>
      </li>
      <li class="lineheight-80  paddingtop-10">
        <ion-text class="fs-12 ion-text-wrap" color="danger">Please note that actual receivable amount may vary after final computations from accounting.  </ion-text>
      </li>
    </ul>
  
  
    <ul *ngIf="payvenueN == 'W'">
      <li class="lineheight-80">
        <ion-text class="fs-12 ion-text-wrap" color="danger">Amenable to PhilHealth rates.</ion-text>
      </li>
      <li class="lineheight-80  paddingtop-10">
        <ion-text class="fs-12 ion-text-wrap" color="danger">Receivable: PhilHealth </ion-text>
      </li>
    </ul>
    <ul *ngIf="payvenueN == 'N'">
      <li class="lineheight-80">
        <ion-text class="fs-12 ion-text-wrap" color="danger">Patient was not seen so no professional fee will be collected from this patient.</ion-text>
      </li>
    </ul>
    <ul *ngIf="payvenueN == 'A'">
      <li class="lineheight-80">
        <ion-text class="fs-12 ion-text-wrap" color="danger">As an insurance coordinator you will receive a coordinator's fee.</ion-text>
      </li>
      <li class="lineheight-80">
        <ion-text class="fs-12 ion-text-wrap" color="danger">No professional fee will be collected from this patient.</ion-text>
      </li>
    </ul>
    <ul *ngIf="payvenueN == 'xyz'">
      <li class="lineheight-80">
        <ion-text class="fs-12 ion-text-wrap" color="danger">Receivable: PhilHealth (if patient is a member)</ion-text>
      </li>
    </ul>
  </div>

  <div *ngIf="ifShowSummary == false">
    <app-chh-app-patient-header [data]="data" [dateAdmitted]="dateAdmitted">
    </app-chh-app-patient-header>
    <ion-card mode="ios" [disabled]="!areyouaninsurancecoordinator">
      <ion-item lines="none">
        <ion-label class="ion-text-wrap"
          >Are you an Insurance Coordinator?</ion-label
        >
        <ion-checkbox
          color="mango"
          checked="false"
          [(ngModel)]="isCoordinator"
        ></ion-checkbox>
      </ion-item>
    </ion-card>
    <ion-card mode="ios">
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">Have you seen this Patient?</ion-label>
        <ion-checkbox
          color="mango"
          value="isPatientSeen"
          (click)="isPatientSeenf('isPatientSeen',isPatientSeen)"
          [(ngModel)]="isPatientSeen"
        ></ion-checkbox>
      </ion-item>
    </ion-card>
    <ion-card mode="ios">
      <ion-list [class.disabled]="disabledselection">
        <ion-list-header
          >Select Pay Venue
          <ion-icon slot="end" name="wallet-outline"></ion-icon>
        </ion-list-header>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">Insurance + PhilHealth</ion-label>
          <ion-checkbox
            color="mango"
            slot="end"
            value="insurance"
            [(ngModel)]="insurance"
            (click)="buttonclick('insurance',insurance)"
          ></ion-checkbox>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">Personal + PhilHealth</ion-label>
          <ion-checkbox
            color="mango"
            slot="end"
            value="philhealth"
            [(ngModel)]="personalphilhealth"
            (click)="buttonclick('Personalphilhealth',personalphilhealth)"
          ></ion-checkbox>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">PhilHealth Only</ion-label>
          <ion-checkbox
            color="mango"
            slot="end"
            value="philhealth"
            [(ngModel)]="philhealth"
            (click)="buttonclick('philhealth',philhealth)"
          ></ion-checkbox>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">Charity</ion-label>
          <ion-checkbox
            color="mango"
            slot="end"
            value="charity"
            [(ngModel)]="charity"
            (click)="buttonclick('charity',charity)"
          ></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>

  <!-- <ion-card  mode="ios" class="card-nb">
    <ion-button color="mango" size="default" expand="block" shape="round" [disabled]="toPFMbtn" (click)="redirecto()">Next</ion-button>
  </ion-card>
     
   -->

  <!-- 



<ion-grid  *ngIf="!isDesktop"  class="ion-no-padding " aria-disabled="true">
  <ion-row >
    <ion-col size="12"  >



      <ion-card >


        <app-chh-app-insurance-coordinator-inquiry
          [pfInsCoor]="pfInsCoor"
          (showSeenPatientEventEmitter)="isInsuranceCoordinatorEventEmitter($event)"
        ></app-chh-app-insurance-coordinator-inquiry>
        <app-chh-app-is-patient-seen *ngIf="showSeenPatient"
        [pfIsPatientSeen]="pfIsPatientSeen"
          (showIsPatientSeenEventEmitter)="isPatientSeenEventEmitter($event)"
        ></app-chh-app-is-patient-seen>




  </ion-card>
  </ion-col>
  </ion-row>
</ion-grid> -->

  <!-- 
<ion-grid  *ngIf="!isDesktop && showSelection"  class="ion-no-padding " >
  <ion-row >
    <ion-col size="12"  >
      <ion-card >
  <ion-list>
    <ion-list-header>
      How do you want to....
    </ion-list-header>

    <ion-item (click)="redirecto('insurance')">
      <ion-avatar slot="start">
        <img src="../../../../assets/img/insurance.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Care of Insurance</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
      </ion-label>
    </ion-item>

    <ion-item (click)="redirecto('charity')">
      <ion-avatar slot="start">
        <img src="../../../../assets/img/charity.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Charity</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
      </ion-label>
    </ion-item>

    <ion-item (click)="redirecto('philhealth')">
      <ion-avatar slot="start">
        <img src="../../../../assets/img/philhealth.jpg">
      </ion-avatar>
      <ion-label>
        <h2>PhilHealth</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
      </ion-label>
    </ion-item>
  </ion-list>
  </ion-card>
  </ion-col>
  </ion-row>
</ion-grid>
 -->
</ion-content>
<ion-footer *ngIf="!isDesktop">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size-xs="12" size-md="4" size-lg="4"></ion-col>
          <ion-col size-xs="12" size-md="4" size-lg="4">
            <ion-progress-bar
              value="0.5"
              color="warning"
              *ngIf="ifShowSummary == false"
            ></ion-progress-bar>
          </ion-col>
          <ion-col size-xs="12" size-md="4" size-lg="4"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-xs="12" size-md="4" size-lg="4"></ion-col>
          <ion-col size-xs="12" size-md="4" size-lg="4">
            <ion-button
              color="mango"
              size="default"
              expand="block"
              shape="round"
              [disabled]="toPFMbtn"
              (click)="redirecto()"
              *ngIf="ifShowSummary == false"
              >Next</ion-button
            >

            <ion-button
              color="mango"
              size="default"
              expand="block"
              shape="round"
              (click)="modifyProfFee()"
              *ngIf="ifShowSummary"
              [disabled]="modifybtn"
              >Modify</ion-button
            >
          </ion-col>
          <ion-col size-xs="12" size-md="4" size-lg="4"></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-toolbar>
</ion-footer>

<!--
______             _     _                       ______             _        
|  _  \           | |   | |                      | ___ \           | |       
| | | |  ___  ___ | | __| |_   ___   _ __        | |_/ /  ___    __| | _   _ 
| | | | / _ \/ __|| |/ /| __| / _ \ | '_ \       | ___ \ / _ \  / _` || | | |
| |/ / |  __/\__ \|   < | |_ | (_) || |_) |      | |_/ /| (_) || (_| || |_| |
|___/   \___||___/|_|\_\ \__| \___/ | .__/       \____/  \___/  \__,_| \__, |
                                    | |                                 __/ |
                                    |_|                                |___/ 
-->
<ion-content *ngIf="isDesktop">
  <ul class="breadcrumb">
    <li>
      <a routerLink="{{routerLinkBack}}">{{patient_name}}</a>
      <ion-icon name="chevron-forward-outline" class="icon-center"></ion-icon>
    </li>
    <li>
      <a>Professional Fee</a>
      <ion-icon name="chevron-forward-outline" class="icon-center"></ion-icon>
    </li>
  </ul>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-lg="1" size-md="12"></ion-col>
      <ion-col size-lg="3" size-md="6">
        <app-chh-app-patient-header
          [data]="data"
          [dateAdmitted]="dateAdmitted"
          *ngIf="!ifShowSummary"
        ></app-chh-app-patient-header>
        <div *ngIf="ifShowSummary == true">

          <ion-grid class="ion-no-padding">
            <ion-row>
              <ion-col size="8" offset="2">
                <div class="vertical-center">
                  <div class="center">
                    <img
                      src="assets/img/online-transactions.png"
                    
                    />
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          </div>
      </ion-col>
      <ion-col size-lg="4" size-md="6">
        <div *ngIf="ifShowSummary == true">

          <!-- <ion-grid class="ion-no-padding">
            <ion-row>
              <ion-col size="8" offset="2">
                <div class="vertical-center">
                  <div class="center">
                    <img
                      src="assets/img/online-transactions.png"
                    
                    />
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid> -->
          <ion-item class="ion-no-margin">
            <ion-grid *ngFor="let x of data">
              <ion-row>
                <ion-col size="5"><b>Name:</b> </ion-col>
                <ion-col size="7"
                  ><b
                    >{{x.first_name}} {{x.middle_name}}. {{x.last_name}}</b
                  ></ion-col
                >
              </ion-row>
              <ion-row>
                <ion-col size="5">Hospital Site:</ion-col>
                <ion-col size="7">{{site}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5"> Room:</ion-col>
                <ion-col size="7">{{x.room_no}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">Admission Date:</ion-col>
                <ion-col size="7">{{dateAdmitted}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">Managed this patient for:</ion-col>
                <ion-col size="7">{{daysManaged}} {{day}}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>

          <ion-item class="ion-no-margin">
            <ion-grid>
              <ion-row>
                <ion-col size="5">
                  <b>
                    <ion-text color="danger">Amount:</ion-text>
                  </b>
                </ion-col>
                <ion-col size="7" color="danger"
                  ><b>
                    <ion-text color="danger"
                      >&#8369; {{data1 | number}} {{withVat}}</ion-text
                    >
                  </b></ion-col
                >
              </ion-row>
              <ion-row>
                <ion-col size="5">Pay Venue: </ion-col>
                <ion-col size="7">
                  <ion-badge>{{payvenueTxt}}</ion-badge>
                </ion-col>
              </ion-row>
              <!-- <ion-row>
                <ion-col size="5">Add VAT?: </ion-col>
                <ion-col size="7">{{withVat}}</ion-col>
              </ion-row> -->
            </ion-grid>
          </ion-item>
          <ul *ngIf="payvenueN == 'X' && data1 <= 0">
            <li class="lineheight-80">
              <ion-text class="fs-12 ion-text-wrap" color="danger">Amenable to Insurance (HMO) and PhilHealth rates.</ion-text>
            </li>
            <li class="lineheight-80  paddingtop-10">
              <ion-text class="fs-12 ion-text-wrap" color="danger">Receivables: Insurance (HMO) + PhilHealth </ion-text>
            </li>
          </ul>
          <ul *ngIf="payvenueN == 'X' && data1 > 0">
            <li class="lineheight-80">
              <ion-text class="fs-12 ion-text-wrap" color="danger">By default, PhilHealth and then Insurance (HMO) coverage
                applies.</ion-text>
            </li>
            <li class="lineheight-80  paddingtop-10" *ngIf="withVatN == 'Y'">
              <ion-text class="fs-12 ion-text-wrap" color="danger">Only the excess amount of <b>&#8369;{{data1 | number}}</b> (+ VAT)
                - (PhilHealth + Insurance coverage) will be collected from your patient.</ion-text>
            </li>
            <li class="lineheight-80  paddingtop-10" *ngIf="withVatN == 'Y'">
              <ion-text class="fs-12 ion-text-wrap" color="danger">Receivables: Insurance (HMO) + PhilHealth + ~&#8369;(excess
                amount)(+ VAT)</ion-text>
            </li>
            <li class="lineheight-80  paddingtop-10" *ngIf="withVatN == 'N'">
              <ion-text class="fs-12 ion-text-wrap" color="danger">Only the excess amount of <b>&#8369;{{data1 | number}}</b> -
                (PhilHealth + Insurance coverage) will be collected from your patient.</ion-text>
            </li>
            <li class="lineheight-80  paddingtop-10" *ngIf="withVatN == 'N'">
              <ion-text class="fs-12 ion-text-wrap" color="danger">Receivables: Insurance (HMO) + PhilHealth + ~&#8369;(excess amount)
              </ion-text>
            </li>
            <li class="lineheight-80  paddingtop-10">
              <ion-text class="fs-12 ion-text-wrap" color="danger">Please note that actual receivable amount may vary after
                final computations from accounting.</ion-text>
            </li>
          </ul>
        
          <ul *ngIf="payvenueN == 'H' && data1 > 0">
        
            <li class="lineheight-80  paddingtop-10" *ngIf="withVatN == 'Y'">
              <ion-text class="fs-12 ion-text-wrap" color="danger">Total amount of <b>&#8369;{{data1 | number}}</b> (+ VAT) will be collected from your patient NOT including PhilHealth rate.</ion-text>
            </li>
            <li class="lineheight-80  paddingtop-10" *ngIf="withVatN == 'Y'">
              <ion-text class="fs-12 ion-text-wrap" color="danger">Receivables: <b>~&#8369;{{data1 | number}}</b> (+ VAT) + PhilHealth</ion-text>
            </li>
            <li class="lineheight-80  paddingtop-10" *ngIf="withVatN == 'N'">
              <ion-text class="fs-12 ion-text-wrap" color="danger">Total amount of <b>&#8369;{{data1 | number}}</b> will be collected from your patient NOT including PhilHealth rate.</ion-text>
            </li>
            <li class="lineheight-80  paddingtop-10" *ngIf="withVatN == 'N'">
              <ion-text class="fs-12 ion-text-wrap" color="danger">Receivables: <b>~&#8369;{{data1 | number}}</b> + PhilHealth
              </ion-text>
            </li>
            <li class="lineheight-80  paddingtop-10">
              <ion-text class="fs-12 ion-text-wrap" color="danger">Please note that actual receivable amount may vary after final computations from accounting.  </ion-text>
            </li>
          </ul>
        
        
          <ul *ngIf="payvenueN == 'W'">
            <li class="lineheight-80">
              <ion-text class="fs-12 ion-text-wrap" color="danger">Amenable to PhilHealth rates.</ion-text>
            </li>
            <li class="lineheight-80  paddingtop-10">
              <ion-text class="fs-12 ion-text-wrap" color="danger">Receivable: PhilHealth </ion-text>
            </li>
          </ul>
          <ul *ngIf="payvenueN == 'N'">
            <li class="lineheight-80">
              <ion-text class="fs-12 ion-text-wrap" color="danger">Patient was not seen so no professional fee will be collected from this patient.</ion-text>
            </li>
          </ul>
          <ul *ngIf="payvenueN == 'A'">
            <li class="lineheight-80">
              <ion-text class="fs-12 ion-text-wrap" color="danger">As an insurance coordinator you will receive a coordinator's fee.</ion-text>
            </li>
            <li class="lineheight-80">
              <ion-text class="fs-12 ion-text-wrap" color="danger">No professional fee will be collected from this patient.</ion-text>
            </li>
          </ul>
          <ul *ngIf="payvenueN == 'xyz'">
            <li class="lineheight-80">
              <ion-text class="fs-12 ion-text-wrap" color="danger">Receivable: PhilHealth (if patient is a member)</ion-text>
            </li>
          </ul>
          <ion-button
            color="mango"
            size="default"
            expand="block"
            shape="round"
            (click)="modifyProfFee()"
            *ngIf="ifShowSummary"
            [disabled]="modifybtn"
            >Modify</ion-button
          >
        </div>

        <div *ngIf="ifShowSummary == false">
          <ion-card mode="ios">
            <ion-item>
              <ion-label class="ion-text-wrap"
                >Are you an Insurance Coordinator?</ion-label
              >
              <ion-checkbox
                color="mango"
                checked="false"
                [(ngModel)]="isCoordinator"
              ></ion-checkbox>
            </ion-item>
          </ion-card>
          <ion-card mode="ios">
            <ion-item>
              <ion-label class="ion-text-wrap"
                >Have you seen this Patient?</ion-label
              >
              <ion-checkbox
                color="mango"
                value="isPatientSeen"
                (click)="isPatientSeenf('isPatientSeen',isPatientSeen)"
                [(ngModel)]="isPatientSeen"
              ></ion-checkbox>
            </ion-item>
          </ion-card>
          <ion-card mode="ios">
            <ion-list [class.disabled]="disabledselection">
              <ion-list-header
                >Select Pay Venue
                <ion-icon slot="end" name="wallet-outline"></ion-icon>
              </ion-list-header>
              <ion-item lines="none">
                <ion-label class="ion-text-wrap">Insurance + PhilHealth</ion-label>
                <ion-checkbox
                  color="mango"
                  slot="end"
                  value="insurance"
                  [(ngModel)]="insurance"
                  (click)="buttonclick('insurance',insurance)"
                ></ion-checkbox>
              </ion-item>
              <ion-item lines="none">
                <ion-label class="ion-text-wrap">Personal + PhilHealth</ion-label>
                <ion-checkbox
                  color="mango"
                  slot="end"
                  value="philhealth"
                  [(ngModel)]="personalphilhealth"
                  (click)="buttonclick('Personalphilhealth',personalphilhealth)"
                ></ion-checkbox>
              </ion-item>
              <ion-item lines="none">
                <ion-label class="ion-text-wrap">PhilHealth Only</ion-label>
                <ion-checkbox
                  color="mango"
                  slot="end"
                  value="philhealth"
                  [(ngModel)]="philhealth"
                  (click)="buttonclick('philhealth',philhealth)"
                ></ion-checkbox>
              </ion-item>
              <ion-item lines="none">
                <ion-label class="ion-text-wrap">Charity</ion-label>
                <ion-checkbox
                  color="mango"
                  slot="end"
                  value="charity"
                  [(ngModel)]="charity"
                  (click)="buttonclick('charity',charity)"
                ></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-card>

          <ion-button
            color="mango"
            size="default"
            expand="block"
            shape="round"
            [disabled]="toPFMbtn"
            (click)="redirecto()"
            *ngIf="ifShowSummary == false"
            >Next</ion-button
          >
        </div>
      </ion-col>

      <ion-col size-lg="3" size-md="6">

        </ion-col>
        <ion-col size-lg="1" size-md="12"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- 
    
    <ion-grid    class="ion-no-padding " *ngIf="isDesktop && showSelection">
      <ion-row >
        <ion-col size="12"  >
          <ion-card >
      <ion-list>
        <ion-list-header>
          How do you want to....
        </ion-list-header>
    
        <ion-item (click)="redirecto('insurance')" class="pointer">
          <ion-avatar slot="start">
            <img src="../../../../assets/img/insurance.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Care of Insurance</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
          </ion-label>
        </ion-item>
    
        <ion-item (click)="redirecto('charity')" class="pointer">
          <ion-avatar slot="start">
            <img src="../../../../assets/img/charity.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Charity</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
          </ion-label>
        </ion-item>
    
        <ion-item (click)="redirecto('philhealth')" class="pointer">
          <ion-avatar slot="start">
            <img src="../../../../assets/img/philhealth.jpg">
          </ion-avatar>
          <ion-label>
            <h2>PhilHealth</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
          </ion-label>
        </ion-item>
      </ion-list>
      </ion-card>
      </ion-col>
      </ion-row>
    </ion-grid>
     -->

<ion-footer class="ion-no-border" *ngIf="isDesktop">
  <div class="footer tab-font-family" *ngIf="isDesktop">
    <span>{{this.constants.CHH_NAME__VALUE__CEBU}}</span>
  </div>
</ion-footer>
